<% unless logged_in? %>
  { success: false,
    html: "<p><%= escape_javascript create_session_error(params) -%></p>" }
<% else -%>
  { success: true, 
    html: "Successful signin, <%= escape_javascript link_to_profile(current_user) -%>.",
    profileLink: "<%= escape_javascript render(:partial => "layouts/sign_in_area") %>" }
<% end -%>
