<% if logged_in? %>
  { success: true, html: '<%= link_to_profile current_user %>' }
<% else -%>
  { success: false, html: '<p>Email and password don\'t match. <%= link_to %{I forgot my password}, forgot_password_url -%></p>' } 
<% end -%>
