<tr class="feed">
  <td><% feed = info_line -%></td>
  <td>
    <%= non_blank feed.formatted_bitrate -%>
    <%= non_blank feed.apparent_format -%>
  </td>
  <td>
    <%= info_feed_link(feed, false) -%>
    <% if feed.primary? -%>
      <br/>Primary
    <% end -%>
  </td>
  <td><%= link_to nil, feed.url -%></td>
  <td><!-- magnet --></td>
  <td><!-- torrent --></td>
  <td><!-- itunes --></td>
</tr>
