<p class="status_message finished">
  <% if @queued_feed.duplicate? -%>
    I've already got <%= link_to_podcast(@podcast) -%>!
  <% elsif @queued_feed.invalid_xml? -%>
    That's not an RSS feed.
  <% elsif @queued_feed.no_enclosure? -%>
    That's a text RSS feed, not an audio or video podcast.
  <% elsif @queued_feed.invalid_address? -%>
    That's not a web address.
  <% elsif @queued_feed.blacklisted? -%>
    I can't take feeds from that site!
  <% elsif %w(SocketError Timeout::Error Errno::ENETUNREACH OpenURI::HTTPError).include?(@queued_feed.error) -%>
    Not found.
  <% else -%>
    There was some sort of error adding the podcast.  It's probably a bug, and we're on it.  
  <% end -%>

  <span class="arrow_down">Please try again</span>
</p>
