<div class="status_message finished">
  Yum! I've added <%= link_to_podcast(@podcast) -%>
  
  <% if @podcast.respond_to?(:owner) and @podcast.owner -%>
    <% if current_user and @podcast.owner == current_user -%>
      by you, <%= link_to_profile(@podcast.owner) -%>. <span class="arrow_down">More please</span>
    <% else -%>
      by <%= link_to_profile(@podcast.owner) -%>. You get +1 point
      and a link for finding it. <span class="arrow_down">More please</span>
    <% end -%>
  <% else -%>
    and emailed <%=h @podcast.owner_name -%>, the maker. You get +1 point and a link for finding it. <span class="arrow_down">More please</span>
  <% end -%>
  <% if current_user.nil? -%>
    <script type="text/javascript">
      $.quickSignIn.attach($('.quick_signin_container.after_adding_podcast'), 
        {message:'Take credit for finding these.'});
    </script>
  <% end -%>
</div>
