<div class="status_message finished">
  <% if @podcast && @feed && @feed.parsed? -%>
    I've already got <%= link_to_podcast(@podcast) -%>!
  <% elsif @feed.error == "RPodcast::InvalidXMLError" -%>
    That's not an RSS feed.
  <% elsif @feed.error == "RPodcast::NoEnclosureError" || @feed.error == "Feed::NoEnclosureException" -%>
    That's a text RSS feed, not an audio or video podcast.
  <% elsif @feed.error == "Feed::InvalidAddressException" -%>
    That's not a web address.
  <% elsif @feed.error == "Feed::BannedFeedException" -%>
    I can't take feeds from that site!
  <% elsif @feed.error == "Feed::FeedDoesNotMatchPodcast" -%>
    This feed doesn't seem to match the podcast.
  <% elsif %w(SocketError Timeout::Error Errno::ENETUNREACH OpenURI::HTTPError).include?(@feed.error) -%>
    Not found.
  <% else -%>
    There was some sort of error adding the podcast.  It's probably a bug, and we're on it.  
  <% end -%>

  <span class="arrow_down">Try again</span>
</div>
