<% @title = "Add Podcast" -%>
<% javascript_include "feeds_new" -%>
<% @full_width = true -%>
<% @classes = %{show addpage} -%>
<div class="summary">
  <div class="page_head">
    <h1>Add new podcasts to LimeCast</h1>
    <p>Know the address of a podcast <abbr title="Really Simple Syndication"><img src="/images/icons/rss.png" class="inline_icon" />RSS</abbr> feed? Add it to LimeCast:</p>
  </div>
  

  <div id="added_podcast_list"></div>
  

  <form method="post" id="new_feed" action="/feeds">
    <% if protect_against_forgery? -%>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token -%>" />
    <% end -%>
 
      
      <div>
        <label for="feed_url">http://example.com/rss.xml</label>
        <input type="text" class="text" id="feed_url" name="feed[url]" value="http://example.com/rss.xml" />
        <button type="submit" class="addme">
          <span>Feed me!</span>
        </button>
        <a href="#" class="cluetip_add_link" onclick="return false;" rel=".login_pop" style="visibility: hidden;"><!-- //--></a>
      </div>

  </form>

  <div id="added_podcast" style="display: none;">
    <form>

      
        <div>
          <input type="text"   class="text add_disabled"   readonly="readonly" />
          <input type="submit" class="button" readonly="readonly" value="Feed me?" />
        </div>

    </form>
    <div class="status">
      <%= render :partial => 'feeds/status_loading' -%>
    </div>
  </div>

  <% if !logged_in? -%>
    <div class="quick_signin_container after_adding_podcast"></div>
  <% end -%>
</div>
