<% source ||= audio_player -%>
<div class="audio_player">
  <span class="label">Audio only version:</span>
  <%= link_to nil, source.url, :class => "url" -%>
  <a class="popup">Listen to in a pop-up window</a>
</div>
