<% @title = "Icons" %>

<h1>icons (public/images/icons)</h1>

<table>
<% Dir.new("#{RAILS_ROOT}/public/images/icons").reject { |f| f =~ /^\./ }.each do |image| -%>
  <tr>
    <td style="padding: 4px"><%= image_tag "icons/#{image}" %></td>
    <td><%= "#{image.split(".").first.titleize}" %></td>
    <td><%= "(#{image})" %></td>
<% end -%>
</table>
