[submodule "vendor/plugins/in_place_editing"]
	path = vendor/plugins/in_place_editing
	url = git://github.com/rails/in_place_editing.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/thinking-sphinx"]
	path = vendor/plugins/thinking-sphinx
	url = git://github.com/freelancing-god/thinking-sphinx.git
[submodule "vendor/gems/factory_girl"]
	path = vendor/gems/factory_girl
	url = git://github.com/thoughtbot/factory_girl.git
[submodule "vendor/plugins/acts_as_state_machine"]
	path = vendor/plugins/acts_as_state_machine
	url = git://github.com/mnutt/acts_as_state_machine.git
[submodule "vendor/plugins/rpodcast"]
	path = vendor/plugins/rpodcast
	url = git://github.com/mnutt/rpodcast.git
