[submodule "vendor/plugins/in_place_editing"]
	path = vendor/plugins/in_place_editing
	url = git://github.com/rails/in_place_editing.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/thinking-sphinx"]
	path = vendor/plugins/thinking-sphinx
	url = git://github.com/freelancing-god/thinking-sphinx.git
[submodule "vendor/gems/factory_girl"]
	path = vendor/gems/factory_girl
	url = git://github.com/thoughtbot/factory_girl.git
[submodule "vendor/plugins/acts_as_state_machine"]
	path = vendor/plugins/acts_as_state_machine
	url = git://github.com/mnutt/acts_as_state_machine.git
[submodule "vendor/plugins/rpodcast"]
	path = vendor/plugins/rpodcast
	url = git://github.com/mnutt/rpodcast.git
[submodule "vendor/plugins/delayed_job"]
	path = vendor/plugins/delayed_job
	url = git://github.com/tobi/delayed_job.git
[submodule "vendor/gems/gchart"]
	path = vendor/gems/gchart
	url = git://github.com/abhay/gchart.git
[submodule "vendor/gems/curb"]
	path = vendor/gems/curb
	url = git://github.com/taf2/curb.git
[submodule "vendor/plugins/exception_notificatier"]
	path = vendor/plugins/exception_notificatier
	url = git://github.com/rails/exception_notification.git
