<div class="comment" id="<%= dom_id(comment) -%>">
  <div class="title"><%=h comment.title -%></div>
  <cite>by <%= comment.commenter.login -%></cite>
  <p class="body"><%=h comment.body -%></p>
</div>