<% episode = comments -%>
<% options ||= {} -%>

<div id="comments_list">
  <% unless episode.comments.empty? -%>
    <% episode.comments.each do |comment| -%>
      <%= render :partial => 'comments/comment', :object => comment -%>
    <% end -%>
  <% end -%>
</div>
