<% commentable = comments -%>
<% options ||= {} -%>

<div id="comments_list">
  <% if commentable.comments.empty? -%>
    <p>
      <span class="notice">There are no comments yet.</span>
    </p>
  <% else -%>
    <% commentable.comments.each do |comment| -%>
      <%= render :partial => 'comments/comment', :object => comment -%>
    <% end -%>
  <% end -%>
</div>
