<% @title = "#{h(@podcast.custom_title)} Reviews" -%>
<% @show_ads = true -%>

<h2>All comments for <%=h @podcast.custom_title -%></h2>

<ul class="reviews">
  <%= render :partial => 'comment', :collection => @comments -%>
</ul>
