<li>
  <%= link_to_thing episode.podcast -%>
  <%= link_to episode.title, episode_url(episode.podcast, episode), :class => "searched" -%>
  <span class="searched"><%= episode.summary -%></span>
</li>
