<form action="/search" method="get" id="search" class="search">
  <label for="s" style="display: none;">Search...</label>
  <input accesskey="s" id="s" name="s" size="15" type="text" value="Search..." tabindex="1" />
  <button type="submit" value="Search">Go</button>
</form>
