<form action="/search" method="get" id="search" class="search">
  <label for="s" style="display: none;">Search LimeCast</label>
  <input class="search" accesskey="s" id="s" name="s" size="15" type="search" value="Search LimeCast" tabindex="1" />
  <button type="submit" value="Search" />
</form>
