<h1>Administration</h1>

<ol>
  <!-- <li><%= link_to "Tags", admin_tags_path -%></li> -->
  <li><%= link_to "Podcasts", admin_podcasts_path -%></li>
  <li><%= link_to "Episodes", admin_episodes_path -%></li>
</ol>
