<h1>tag</h1>

<!-- Taggings -->
<ul>
  <% @tag.taggings.sorted_by_podcast.select{|t| t.podcast}.each do |tagging| -%>
    <li>
      <%= link_to tagging.podcast.title, info_podcast_url(tagging.podcast) -%> 
      by <%= tagging.user ? tagging.user.login : "autotagger" -%>
    </li>
  <% end -%>
</ul>
