.icon {
	padding-left: 18px;
}

.options {padding-right: 14px; background: url('../imgs/icons/options.png') right bottom no-repeat;}

#itune {padding-left: 20px; background: url('../imgs/icons/itunes.png') center left no-repeat;}
#miro {background: url('../imgs/icons/miro.png') center left no-repeat;}

.rss {background: url('../imgs/icons/rss.png') center left no-repeat;}.
