/**
* Quick Sign In/Up
**/
div.quick_signin.top_bar {
  position: absolute;
  top: 35px;
  right: 0;
}

/**
* Users
**/
div.user div#edit_actions {
  line-height: 2em;
}
div.user div#edit_actions span.label {
  font-weight: bold;
  float: left;
}
div.user div#edit_actions ul {
  margin: 0 0 5px 0;
  float: left;
}
div.user div#edit_actions ul li {
  margin: 0 0 0 5px;
  float: left;
}
div.user div#edit_actions ul li.edit a {
  background-image: url("../images/icons/edit.png");
}
div.user div#edit_actions ul li.logout a {
  background-image: url("../images/icons/user.png") !important;
}

/**
* Podcasts
**/
ul.podcasts li.podcast {
  padding: 0 0 14px 0;
  *height: 0.01%;
}

div.multicolumn ul.podcasts li.podcast {
  float: left;
  width: 32.5%;
}

/**
* Podcast
**/
div.podcast {
  *height: 0.01%;
}
div.podcast div.cover {
  top: 30px;
  left: 30px;
  padding: 1px 0 0 1px;
  position: absolute;
  z-index: 1;
}
div.podcast div.cover div.border {
  border: 1px solid #232323;
  width: 170px;
  height: 170px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: block;
  z-index: 1;
}
div.podcast div#edit_actions {
  line-height: 2em;
}
div.podcast div#edit_actions span.label {
  font-weight: bold;
  float: left;
}
div.podcast div#edit_actions ul {
  margin: 0 0 5px 0;
  float: left;
}
div.podcast div#edit_actions ul li {
  margin: 0 0 0 5px;
  float: left;
}
div.podcast div#edit_actions ul li.edit a {
  background-image: url("../images/icons/edit.png");
}
div.podcast div#edit_actions ul li.delete a {
  background-image: url("../images/icons/delete.png");
}
div.podcast div.urls,
div.podcast div.authors {
  margin: 0 0 14px 0;
  clear: left;
}
div.podcast div.urls ul li {
  margin: 0 10px 0 0;
  float: left;
}
div.podcast div.urls ul li.rss a {
  background-image: url("../images/icons/rss.png");
}
div.podcast div.urls ul li.itunes a {
  background-image: url("../images/icons/itunes.png");
}
div.podcast div.authors ul li {
  margin: 0 10px 0 0;
  float: left;
}
div.podcast div.authors ul li.user a {
  background-image: url("../images/icons/user.png") !important;
}
div.podcast div.stats {
  margin: 0 0 14px 0;
}
div.podcast div.stats p {
  font-size: 1.0em !important;
  line-height: 1.2em !important;
  margin: 0 !important;
}
div.podcast div.tags {
  margin: 0 0 20px 0;
}

/* Episodes */
div.podcast div.episodes {
  margin: 0 0 14px 0;
  *height: 0.01%;
}
ul.episodes li.episode {
  padding: 0 0 14px 26px;
  position: relative;
  *height: 0.01%;
}
ul.episodes li.episode div.full {
  display: none;
}
ul.episodes li.episode span.expand {
  background-image: url("../images/icons/expand.png");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -5000px;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  z-index: 1;
  cursor: pointer;
}
/* ul.episodes li.expanded div.summary {
 *  padding: 0 0 5px 0;
 * }
 */
ul.episodes li.expanded div.full {
  display: block;
}
ul.episodes li.expanded span.expand {
  background-image: url("../images/icons/collapse.png");
}
.episode div.download,
.episode div.limewire {
  margin: 0 10px 0 0;
  float: left;
}
.episode div.download a.icon {
  background-image: url("../images/icons/download.png");
}
.episode div.limewire a.icon {
  background-image: url("../images/icons/limewire.png");
}
div.episode h1.publish_date {
  font-size: 2.2em;
}
div.episode div.metadata {
  margin: 0 0 14px;
}

/* Reviews */
div.podcast div.reviews {
  *height: 0.01%;
}
div.podcast div.reviews ul.reviews {
  margin: 0;
}
ul.reviews li.review {
  padding: 0 0 14px 0;
  position: relative;
  *height: 0.01%;
}
ul.reviews li.review img.rating {
  margin: 0 3px 0 0;
  float: left;
}
ul.reviews li.review h4 {
  font-weight: bold;
  margin: 2px 5px -2px 0;
  float: left;
}
ul.reviews li.review cite {
  font-style: normal;
  color: #ABABAB;
  margin: 0 5px 0 0;
  float: left;
}
ul.reviews li.review cite a {
  background-image: url("../images/icons/user.png");
}
ul.reviews li.review p {
  margin: 0 !important;
}
div.podcast div.reviews form {
  margin: 0;
}
div.podcast div.reviews form div.field label {
  display: none;
}
div.podcast div.reviews form div.field div {
  margin: 0 0 10px 0;
}
div.podcast div.reviews form div.align {
  padding: 10px 0;
}
div.podcast div.reviews form div.controls {
  padding: 0;
}
div.podcast div.reviews form div.field input.text,
div.podcast div.reviews form div.field textarea.text {
  width: 99%;
}

/**
 * Adding Podcasts
*/
div.status_message {
  margin-bottom: 1em;
}
span.arrow_down {
  background: url("../images/icons/arrow_down.png") no-repeat right center;
  padding: 0 18px 0 0;
}

/**
 * Showing Podcasts
*/
div#edit_form {
  margin-bottom: 1em;
}

/**
 * Comments
*/
ul.comments li.comment {
  padding: 10px 0;
  position: relative;
  *height: 0.01%;
}
ul.comments li.comment a.inline_icon {
  margin: 0 5px -3px 0;
  float: left;
}
ul.comments li.comment h4 {
  font-weight: bold;
  margin: 2px 5px -2px 0;
  float: left;
}

/**
 * Static Pages 
*/
ol#terms li {
  list-style: decimal;
  margin: 0 0 15px;
}
ol#terms li ol {
  margin: 0 0 15px 0;
}
