/***************************************************************************************
* Base.css
***************************************************************************************/

/**
/* Reset
**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

input, button {
  width: auto;
  overflow: visible;
}


/**
/* Layout
**/

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #2B2D2F;
  font: 62.5% Verdana, sans-serif;
}

#document {
  min-height: 100%;
  min-width: 800px;
  padding: 0 0 0 0;
  line-height: 1;
}
* html div#document {
  height: 100%;
}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }  /* for IE/Mac */

/**
* THIS IS THE PLACE TO CHANGE LINE MARGIN!!! 
**/
p,
ul.podcasts li,
h1, h2, h3, h4, h5 {
  margin: 0 0 14px 0;
}



/**
/** Basic Typography
**/
h1, h2, h3, h4, h5 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h1 { font-size: 2.2em; }
h1.heading { font-size: 1.6em; } /* effectively h2 */
h2 { font-size: 1.6em; }
h3 { font-size: 1.1em; }

a, a:visited {
  text-decoration: underline;
  color: #CBCBCB;
}
a:hover {
  color: #E5E5E5;
}
a:hover span {
  cursor: pointer;
}

div#document {
  font-size: 1.2em;
  color: #CBCBCB;
}

a img.inline_icon {
  margin: -4px 0 0 0;
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: inline-table;
}
span > img.inline_icon {
  margin: -4px 0 0 0;
  position: relative;
  top: 3px;
}


/**
* User Icons
**/
a.user_visitor { background-image: url("../images/icons/marseilles-astronomical/user_visitor.png"); }
a.user_regular { background-image: url("../images/icons/marseilles-astronomical/user_regular.png"); }
a.user_podcaster { background-image: url("../images/icons/marseilles-astronomical/user_podcaster.png"); }
a.user_admin { background-image: url("../images/icons/marseilles-astronomical/user_admin.png"); }

h1.user_visitor { background-image: url("../images/icons/marseilles-astronomical/user_visitor_big.png"); }
h1.user_regular { background-image: url("../images/icons/marseilles-astronomical/user_regular_big.png"); }
h1.user_podcaster { background-image: url("../images/icons/marseilles-astronomical/user_podcaster_big.png"); }
h1.user_admin { background-image: url("../images/icons/marseilles-astronomical/user_admin_big.png"); }


/**
* Header - "14px universality" doesn't apply here
**/
div#header {
  background: #181818 url("../images/layout/header_border.png") repeat-x left bottom;
  position: relative;
  padding: 10px 8px;
}
div#header div#title {
  display: inline;
}
div#header div#title h1 {
  display: inline;
  padding: 0 0 0 2px;
  margin: 12px 0 0;
  font-size: 12px;
}
div#header div.add_podcast {
  display: inline;
}
div#header div#account_bar {
  top: 0;
  right: 10px;
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 1;
}
div#header div#account_bar ul {
  margin: 0;
  padding: 0;
}
div#header div#account_bar ul li {
  margin: 0 0 0 10px;
  padding: 10px 0 0 0;
  float: left;
}
div#header div#account_bar ul li.search {
  width: 210px;
  padding: 5px 0 0 0;
  margin-right: -20px;
  position: relative;
}

div#header div#account_bar ul li.search input.text {
  width: 146px;
  height: 15px;
  padding: 4px 31px 4px 5px;
  top: 5px;
  left: 0;
  position: absolute;
  overflow: hidden;
  display: block;
}
div#header div#account_bar ul li.search input.image_button {
  top: 5px;
  right: 26px;
  position: absolute;
}

/**
* Content
**/
div#content {
  width: 100%;
  height: auto;
/*  min-height: 660px; */
  *width: 99.8%;
}
* html div#content {
  height: 660px;
}

div#content div#full_width {
  margin: 0 auto;
  padding: 30px 90px;
  position: relative;
  *height: 0.01%;
}

div#content div#primary {
  margin: 0 220px 0 0;
  padding: 30px 30px 30px 230px;
  position: relative;
  *height: 0.01%;
}

div#content div#sidebar {
  padding: 30px 30px;
  width: 160px;
  float: right;
}
/*div#content p {
  margin: 0 0 14px 0;
}*/
div#content span.notice {
  color: #ABABAB;
}


/**
/* Buttons
**/

/**
* Footer
**/
div#footer {
  background: #181818 url("../images/layout/footer_border.png") repeat-x left top;
  height: 30px;
  position: relative;
  font-size: 1.1em;
  padding: 10px 8px;
  margin: -50px 0 0 0;
}
div#footer ul {
  clear: both;
}
div#footer ul li {
  margin: 0 5px 0 0;
  float: left;
}
div#footer a {
  color: #AAA;
}


/**
* Forms
**/


/**
* Quick Signin
**/
form#quick_signin {
  padding: 10px;
}

form#quick_signin .titlebar {
  position: relative;
  top: -10px;
  right: -10px;
}

form#quick_signin a.close {
  display: none;
}

form#quick_signin .message {
  text-indent: 90px;
  padding: 1em 0;
}

form#quick_signin input.text,
form#quick_signin div.response_container {
  width: 200px;
}


/**
 Notices
**/
