/**** =Main podcast block ***************/
.podcast_block {
	overflow: visible;
	position: relative;
	float: left;
	display: block;
	margin-bottom: 40px;
}

.podcast_block .preview , .podcast_block .preview img {
	width: 110px;
	float: left;

}


.podcast_block .description {
	position: relative;
  overflow: auto;
	padding: 0;

}

.podcast_block  p.details {
  color: #a9a9a9;
	font-size: 1em;
	font-style: italic;
	display: block;
	line-height: 1.4em;
}

ul.tabs {
  padding-bottom: 28px;
}




.popular .podcast_block {width: 640px;}






#featured_cont {
	margin: 30px 0px 20px 0px;
}


#featured {
	margin: 15px 0px 20px 20px;
}

#featured h2 {
	margin: 0px;
}

.home #featured .podcast_block {
	width: 420px;
	float: left;
	margin-right: 20px;
}

.home #featured .preview {
  margin-right: 20px;
  float: left;
  width: 160px;
}



#download_button a.download {
	padding: 8px 40px 0 8px;
}


#download_button a.opener {
  margin-top: 4px;
}

.review .helpfulness {
	right: 140px;
	bottom: 13px;
}

button {
	padding: 8px 4px 0 0;
}



#pop_recent_cont .preview, #pop_recent_cont .preview img, #tags_review_cont .preview, #tags_review_cont .preview img {
	width: 55px !important;
}

	form#search {
		top: 5px;
		right: 1px;

	}

	form#search button {
		top: -1px;
		right: -1px;
	}



	.show #subscribe h2 {
		padding-left: 20px;
	}

	.show #subscribe p {
		padding-left: 20px;
	}


	.show #subscribe div a {

		padding-left: 45px;

	}
	
	
	
	.itunes_feed { background: url('../imgs/subscribe_itunes.png') top left no-repeat; }
	.miro_feed   { background: url('../imgs/subscribe_miro.png') top left no-repeat; }
	.rss_feed    { background: url('../imgs/subscribe_rss.png') top left no-repeat; }