/***************************************************************************************
* Base.css for IE7
***************************************************************************************/

/**
* IE doesn't support ms-box-sizing until IE8
**/
form div.huge div input.text {
  width: 99%;
}

#featured_cont {
	height: 229px;
	margin: 30px 0px 20px 0px;
	background: url('../imgs/bg_hp_featured.png') top left repeat-x;
}


#featured {
	margin: 15px 0px 20px 20px;
	overflow: hidden;
}

.home #featured .podcast_block {
	width: 440px;
	float: left;
	margin-right: 20px;
}

.home #featured .social {
	margin-top: 38px;
}

.popular .podcast_block {width: 640px;}


#download_button a.download {
	padding: 8px 40px 0 8px;
}


#download_button a.opener {
  margin-top: 4px;
}


.review .helpfulness {
	right: 140px;
	bottom: 13px;
}


button {
	padding: 8px 4px 0 0;
}
	
	.sm_social .social {

		margin-top: -7px;
	}
	
	.podcast.index .social {

		margin-top: 2px;
	}
	
	
	#featured h2 {
		margin-top: 0px;
	}



  form#search button {
     position: absolute;
   	top: -10px;
     right: 0px;
   }

img { -ms-interpolation-mode:bicubic; }