/***************************************************************************************
* Base.css
***************************************************************************************/
body {
  background-color: #181818;
  font: 62.5% "Lucida Grande", "Lucida Sans", "Bitstream Vera Sans", Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}

/** Reset **/
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
ul, li, dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
fieldset, img {
  border: 0 none;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  outline: none !important;
}
a:hover span {
  cursor: pointer;
}
pre, code {
  margin: 0;
  padding: 0;
}
form, fieldset, input, textarea, label {
  margin: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
input, button {
  width: auto;
  overflow: visible;
}
table, thead, tbody, tr, th, td {
  font-size: 1em;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

/** Basic Typography **/
h1, h2, h3, h4, h5 {
  font-weight: normal;
}
h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.0em; }
h5 { font-size: 0.8em; }
div#layout {
  min-width: 980px;
  font-size: 1.1em;
  color: #E6E6E6;
}
a, a:visited {
  text-decoration: underline;
  color: #5CAFC4;
}
a:hover {
  color: #6DCFE8;
}
a.icon {
  background-repeat: no-repeat;
  background-position: left center;
  text-decoration: none;
  padding: 2px 0 2px 19px;
}
a.icon span {
  text-decoration: underline;
}

/**
* Layout
**/
div#header,
div#body,
div#footer {
  position: relative;
}

/**
* Header
**/
div#header_wrapper {
  background: #3C3C3C url("../images/layout/header_bg.png") repeat-x left top;
}
div#header {
  padding: 0 20px;
}
div#header div#title {
  padding: 7px 0 4px 0;
}
div#header div#title h1 {
  width: 188px;
  height: 23px;
  padding: 1px 0 0 0;
  position: relative;
  z-index: 1;
}
div#header div#title h1 a {
   background: url("../images/layout/header_title.png") no-repeat left top; 
   text-indent: -5000px; 
   width: 188px; 
   height: 23px; 
   display: block; 
   overflow: hidden; 
}
div#header div#title h1 a:hover {
  background-position: left bottom;
}
div#header div#title h1 sup {
  background: url("../images/layout/header_label.png") no-repeat left top;
  text-indent: -5000px;
  width: 96px;
  height: 13px;
  top: -2px;
  left: 192px;
  position: absolute;
  overflow: hidden;
}
div#header div#account_bar {
  top: 0;
  right: 20px;
  position: absolute;
  z-index: 1;
}
div#header div#account_bar ul li {
  margin: 0 0 0 10px;
  padding: 10px 0 0 0;
  float: left;
}
div#header div#account_bar ul li.add_podcast a {
  background-image: url("../images/icons/add.png");
}
div#header div#account_bar ul li.search {
  padding: 5px 0 0 0;
}
div#header div#account_bar ul li.user a {
  background-image: url("../images/icons/user.png");
}
div#header div#account_bar ul li.signup a,
div#header div#account_bar ul li.signin a {
  background-image: url("../images/icons/user.png");
}

/**
* Body
**/
div#body {
  background-color: #454545;
}
div#body div.t {
  background: url("../images/layout/body_bg_top.png") repeat-x left top;
}
div#body div.b {
  background: url("../images/layout/body_bg_bottom.png") repeat-x left bottom;
}
div#body div#primary {
  margin: 0 270px 0 0;
  padding: 20px;
}
div#body div#sidebar {
  padding: 20px;
  width: 230px;
  float: right;
}
div#body h2 {
  font-size: 2.0em;
  margin: 0 0 20px 0;
}
div#body h3 {
  margin: 0 0 10px 0;
}
div#body h4 {
  text-transform: uppercase;
  font-size: 1.6em;
  color: #ABABAB;
  margin: 0 0 15px 0;
}
div#body p {
  font-size: 1.1em;
  line-height: 1.6em;
  margin: 0 0 15px 0;
}

/** Buttons **/
div#body a.button {
  background: url("../images/content/button_bg_left.png") no-repeat left top;
  color: #383838 !important;
  height: 33px;
  padding: 0 0 0 5px;
  display: block;
  float: left;
}
div#body a.button span {
  background: url("../images/content/button_bg_right.png") no-repeat right top;
  height: 14px;
  padding: 7px 10px 12px 5px;
  display: block;
  cursor: pointer;
}
div#body a.button:hover {
  background-position: left bottom;
  color: #212121 !important;
}
div#body a.button:hover span {
  background-position: right bottom;
}
div#body a.action_button {
  background: url("../images/content/action_button_bg_left.png") no-repeat left top;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #306A0F !important;
  height: 32px;
  padding: 0 0 0 15px;
  display: block;
  float: left;
}
div#body a.action_button span {
  background: url("../images/content/action_button_bg_right.png") no-repeat right top;
  height: 14px;
  padding: 6px 15px 12px 0;
  display: block;
  cursor: pointer;
}
div#body a.action_button:hover {
  background-position: left bottom;
  color: #20460A !important;
}
div#body a.action_button:hover span {
  background-position: right bottom;
}
* html div#body a.button span { height: auto; }
* html div#body a.action_button span { height: auto; }

/**
* Footer
**/
div#footer_wrapper {
  background: #181818 url("../images/layout/footer_bg.png") repeat-x left top;
  padding: 20px 0;
}
div#footer {
  padding: 0 20px;
}

/**
* Forms
**/
form div.field label {
  text-align: right;
  padding: 5px 0;
  width: 125px;
  float: left;
  cursor: pointer;
}
form div.field div {
  margin: 0 0 10px 135px;
}
form div.controls {
  padding: 0 0 0 135px;
}
form input.text {
  background: #FFF url("../images/content/input_bg.png") repeat-x left top;
  border: 1px solid #212121;
  color: #676767;
  padding: 4px;
}
form input.button {
  background: #797979 url("../images/content/button_bg.png") repeat-x left top;
  border: 1px solid #212121;
  color: #383838;
  padding: 4px;
}

/**
* Podcast
**/
div.podcast {
  position: relative;
}
div.podcast h2 {
  display: block;
}
div.podcast div.cover {
  padding: 1px 0 0 1px;
  position: relative;
  float: left;
  z-index: 1;
}
div.podcast div.cover div.border {
  border: 1px solid #232323;
  width: 170px;
  height: 170px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: block;
  z-index: 1;
}
div.podcast div.info {
  font-size: 1.1em;
  margin: 0 0 0 192px;
  width: 250px;
  height: 230px;
}
div.podcast div.info dl {
  margin: 0 0 25px 0;
}
div.podcast div.info dl dt {
  color: #ABABAB;
  float: left;
}
div.podcast div.info dl dd {
  text-align: right;
  margin: 0 0 5px 0;
}
div.podcast div.info div.controls span.price {
  font-size: 0.9em;
  color: #ABABAB;
  margin: 5px 5px 0 0;
  display: block;
  float: left;
}
div.podcast div.description {
  margin: 0 0 30px 0;
}

/**
* Reviews
**/
div#reviews {
  position: relative;
  z-index: 1;
}
div#reviews h4 {
  margin: 0 0 5px 0;
}
div#reviews div.average_rating {
  color: #A4A4A4;
  height: 21px;
  margin: 0 0 10px 0;
  position: relative;
  z-index: 1;
}
div#reviews div.average_rating span {
  font-size: 1.1em;
  margin: 1px 5px 0 0;
  display: block;
  float: left;
}
div#reviews div.average_rating ul {
  float: left;
  clear: none;
}
div#reviews div.controls {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
div#reviews div.controls ul {

}
div#reviews div.controls ul li {
  margin: 0 0 0 4px;
  float: left;
}
div#reviews div.controls ul li a {
  float: left;
}
div.review {
  position: relative;
  z-index: 1;
}
div.review h5 {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0 0 5px 0;
}
div.review cite {
  font-style: normal;
  font-size: 1.0em;
  color: #ABABAB;
  margin: 0 0 10px 0;
  display: block;
}
div.review div.stars {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

/**
 Palette
**/
div.palette {
  background-color: #181818;
  padding: 5px;
}
div.palette div.contents {
  background-color: #6E6E6E;
  padding: 10px;
}


/* TEMPORARY -- REMOVE */

/*.podcast .title,
.podcast .category {
  width: 85px;
  font-size: 1em;
  font-weight: bold;
}

.podcast_thumb {
  float: left;
  padding: 10px;
  height: 150px;
}*/

/* /TEMPORARY */