
.social {
  float:left;
  width:100%;
	position: relative;
	bottom: -5px;
	margin-bottom: 60px;
  }

	.new #featured .social {
		font-size: .7em;
		position: absolute;
		bottom: -54px;
	}
	
	.sm_social .social {

		margin-top: -7px;
	}
	
	.podcast.index .social {

		margin-top: 2px;
	}


	#mission {
		margin: 0px -3px 0 -3px;
}

.podcast.show .summary .preview,
.podcast.show .summary .preview img { width: 160px !important; }


#pop_recent_cont .preview, #pop_recent_cont .preview img, #tags_review_cont .preview, #tags_review_cont .preview img {
	width: 55px !important;
}

	form#search {
		top: 5px;
		right: 1px;

	}

	form#search button {
		top: -1px;
		right: -1px;
	}


	.podcast.show .podcast_block {
		background: url('../imgs/b_border.png') bottom left repeat-x;
	  width: 760px;display: block; height: 1%;
	}
	
	


	.show #subscribe h2 {
		padding-left: 20px;
	}

	.show #subscribe p {
		padding-left: 20px;
	}


	.show #subscribe div a {

		padding-left: 45px;

	}
	
	
	
	.itunes_feed { background: url('../imgs/subscribe_itunes.png') top left no-repeat; }
	.miro_feed   { background: url('../imgs/subscribe_miro.png') top left no-repeat; }
	.rss_feed    { background: url('../imgs/subscribe_rss.png') top left no-repeat; }