/***************************************************/
/* STYLE GUIDE: keep markup simple, keep CSS clean */
/***************************************************/

/***************/
/* Preview     */
/***************/

#page_type {
	position: absolute;
	top: 60px;
	right: 250px;
	margin-top: -25px;
	padding: 17px 32px 13px 0;
	background: url('/imgs/icons/series.png') center right no-repeat;
}

.episode h6#page_type {
	margin-top: -20px;
	padding: 17px 30px 10px 0;
	background: url('/imgs/icons/episode.png') center right no-repeat;
}


/***************/
/* Preview     */
/***************/
#preview {
	clear: left;
	float: left;
	margin-right: 20px;
	width: 460px;
}

.episode.show #preview {
	float: left;
}

#preview .previous {
	display: block;
	width: auto;
	float: left;
	font-size: 1.2em;
}

#preview .next {
	display: block;
	width: auto;
	float: right;
	text-align: right;
	font-size: 1.2em;
}

/***************/
/* Episode     */
/***************/
