/***************************************************/
/* STYLE GUIDE: keep markup simple, keep CSS clean */
/***************************************************/

/***************/
/* Superbutton */
/***************/

#download {
	position: relative;
	top: 20px;
	z-index: 3;
	background: url("../imgs/button_bg.gif") repeat-x top left;
	border: solid 1px #C3C3C3;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#download p {
	position: relative;
	float: left;
	margin: 0 5px 0 5px;
	text-align: right;
}

#download p label {
	position: relative;
	right: 0px;
	z-index: 0;
	display: block;
	background: transparent;
}

#download p select {
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-appearance: none;
	background: transparent;
	outline: 0;
	/*text-overflow:ellipsis;*/
	border: 0px;
	opacity: 0.0;
}

#download p select option {
	overflow: hidden;
	text-overflow: ellipsis;
}

#download p.submit {
	padding-left: 10px;
	border-left: solid 1px #C3C3C3;
}

#download p.submit a {
	color: rgb(51, 51, 51);
	border: solid 1px #153400;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-transform: uppercase;
	/*background: #6EBC30; #358800;*/
	background: url("/imgs/button_download_bg.gif") repeat-x top left;
	padding: 2px;
}

#download p.submit input {
	display: none;
}


/***************/
/* Preview     */
/***************/

#page_type {
	position: absolute;
	top: 60px;
	right: 250px;
	margin-top: -25px;
	padding: 17px 32px 13px 0;
	background: url('/imgs/icons/series.png') center right no-repeat;
}

.episode h6#page_type {
	margin-top: -20px;
	padding: 17px 30px 10px 0;
	background: url('/imgs/icons/episode.png') center right no-repeat;
}


/***************/
/* Preview     */
/***************/
#preview {
	clear: left;
	float: left;
	margin-right: 20px;
	width: 460px;
}

.episode.show #preview {
	float: left;
}

#preview .previous {
	display: block;
	width: auto;
	float: left;
	font-size: 1.2em;
}

#preview .next {
	display: block;
	width: auto;
	float: right;
	text-align: right;
	font-size: 1.2em;
}

/***************/
/* Episode     */
/***************/
