/***************************/
/* Callout links (w/arrow) */
/***************************/
.callout li {
	float: left;
	display: block;
	background: url("../imgs/series_left.png") no-repeat left top;
	margin-right: -5px;
	padding: 0 3px 0 10px;
	font-size: 8px;
	line-height: 14px;
}

.callout a {
	float: left;
	display: block;
	background: url("../imgs/series_right.png") no-repeat right top;
	padding: 0px 23px 3px 0px;
	line-height: 14px;
	text-decoration: none;
	font-size: 1.4em;
	color: #fff;
}

#callout a:hover {
	color:#333;
}

.callout li:hover {
	background-position:0% -17px;
	color:#fff;
}
.callout li:hover a, .callout li:hover a span {
	background-position:100% -17px;
}

.episode .callout { margin-top: 3px; }

/***************/
/* Preview     */
/***************/

#page_type {
	position: absolute;
	top: 60px;
	right: 250px;
	margin-top: -25px;
	padding: 17px 32px 13px 0;
	background: url('/imgs/icons/series.png') center right no-repeat;
}

.episode h6#page_type {
	margin-top: -20px;
	padding: 17px 30px 10px 0;
	background: url('/imgs/icons/episode.png') center right no-repeat;
}


/***************/
/* Preview     */
/***************/
#preview {
	clear: left;
	float: left;
	margin-right: 20px;
	width: 460px;
}

.episode.show #preview {
	float: left;
}

#preview .previous {
	display: block;
	width: auto;
	float: left;
	font-size: 1.2em;
}

#preview .next {
	display: block;
	width: auto;
	float: right;
	text-align: right;
	font-size: 1.2em;
}

/***************/
/* Episode     */
/***************/
.episode h2 { float: left; margin-right: 10px; }
.episode h3 { clear: left; }
.episode #summary { font-size: 1.4em; }

#download_button {
	position: relative;
	top: 20px;
	width: 230px;
	height: 41px;
	z-index: 3;
  background: url("/imgs/dl_left.png") no-repeat top left;
}

#download_button div#dl_links {
	display: block;
	background: url("/imgs/dl_right.png") no-repeat top right;
	height: 67px;
}

#dl_links h3 {
	margin: 0;
	color: #fff;
	width: auto;
}

#dl_links p {
	margin-top: -2px;
	color: #fff;
	font-size: 1.1em;
	font-style: italic;
}

#dl_links a {
	color: #fff;
	padding-top: 5px;
	margin-left: 45px;
	display: block;
	width: 183px;
	outline: none;
}

#download_button a.opener {
	display: block;
	position: absolute;
	top: 42px;
	right: 5px;
	font-size: 1.2em;
	z-index: 1;
}

#download_dropdown {
	position: absolute;
	display: none;
	top: 40px;
	left: -3px;
	width: 250px;
	z-index: 1;
}

#download_dropdown .delivery_method {
	font-size: 1.2em;
}


#download_dropdown ul {
	margin-top: 10px;
}

#download_dropdown ul li {
	float: none;
	padding: 3px 0;
	height: auto;
}

#download_dropdown ul li p {
	float: left;
	margin: 0;
}

#download_dropdown ul li span {
	float: right;
  margin: 0;
}

#download_dropdown ul li  {
	display: block;
	padding: 3px 0;
	border-bottom: 1px dotted #ddd;
	overflow: hidden;
}

#download_dropdown ul li p {
	float: left;
}
