.clear {
	clear: both;
	height: 1%;
}

.tm {padding-top: 1em;} /*Top Margin*/


/**** Form elements **************/
.show form#search {text-align: right; margin: 3px 0 0 0px; display: block;}
.show form#search input.text {
	background: url('../imgs/text_box.png') top left repeat-x;
	width: 152px;
	height: 19px;
	border: 0;
	padding: 5px 0 0 5px;
	color: #a9a9a9;

}

/*
	Setting general button styles.
	Background position can't be set to "top",
	because of Firefox behavior.
	overflow: visible; is to remove magic padding in IE.
*/
button {
	text-align: center;
	background: url('../imgs/button.png') no-repeat right;
	border: 0;
	margin: 0;
	padding: 0 3px 0 0;
	overflow: visible;
	cursor: pointer;
}
/*
	Sets the general styles for the span within the button
	content, and the starting image. This image contains the
	rounded corners to the left and is as wide as
	the widest button might become.
*/
button span {
	position: relative;
	display: block;
	white-space: nowrap;
	height: 23px;
	color: #fff;
	font: bold 12px/23px Arial, Helvetica, sans-serif;

	background: url('../imgs/button_left.png') no-repeat left top;
	padding: 0 5px 0 10px;
}





/**** Rounded Action Corner Box **************/

/* Basic styling, used when JavaScript is unsupported */
.cbb {
	margin:0em;
	padding:0 10px;
	border:1px solid #dddddd;
	background:#fff;
}
.cbb h1 {
	margin:0 -10px;
	padding:0.3em 10px;
	background:#efece6;
	font:bold 1.2em/1 Arial, Helvetica, sans-serif;
}
/* Normal styling */
.cb {margin:0.0em 0;}
	/* Top corners and border */
.bt {
	height:5px;
	margin:0 0 0 10px;
	background:url('../imgs/box.png') no-repeat 100% 0;
}
.bt div {
	position:relative;
	left:-10px;
	width:10px;
	height:10px;
	background:url(../imgs/box.png) no-repeat 0 0;
	font-size:0;
	line-height:0;
}

	/* Bottom corners and border */
.bb {
	height:10px;
	margin:0 0 0 10px;
	background:url(../imgs/box.png) no-repeat 100% 100%;
}
.bb div {
	position:relative;
	left:-10px;
	width:10px;
	height:10px;
	background:url(../imgs/box.png) no-repeat 0 100%;
	font-size:0;
	line-height:0;
}

	/* Left border */
.i1 {
	padding:0 0 0 10px;
	background:url(../imgs/border.png) repeat-y 2px 0;
}
	/* Right border */
.i2 {
	padding:0 10px 0 0;
	background:url(../imgs/border.png) repeat-y 100% 0;
}
	/* Wrapper for the content. Use it to set the background colour and insert some padding between the borders and the content. */
.i3 {
	display:block;
	margin:0;
	padding:0px 5px;
	background:#fff;
}
	/* Make the content wrapper auto clearing so it will contain floats (see http://positioniseverything.net/easyclearing.html). */
.i3:after {
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}
.i3 {display:inline-block;}
.i3 {display:block;}

/* Abstraction for a set of links that use regular text if 'current' */
.linkable a { display: inline; }
.linkable span { display: none; }
.linkable.current a { display: none; }
.linkable.current span { display: inline; }


/**** global dropdown ***************/
.dropdown {
	min-height: 1em;
	color: #2d5cad;
	position: relative;
}
.dropdown ul {
	background-color: #FFF;
	position: absolute;
	left: 0;
}
.dropdown li {
	display: none;
	padding: 0px;
}
.dropdown.open li {
	padding-right: 18px;
	display: block;
}
.dropdown label {
	z-index: 100;
	white-space: nowrap;
	height: 100%;
	padding: 0px;
}
.dropdown li a {
	white-space: nowrap;
}
.dropdown li.selected a {
	font-weight: bold;
}


/* icons */
a img.inline_icon {
  margin: -4px 4px 0 0;
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: inline-table;
}
span > img.inline_icon {
  margin: -4px 4px 0 0;
  position: relative;
  top: 3px;
}

/* fixes float height problem */ 
.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
   }

.clearfix {display: inline-block;}  /* for IE/Mac */

