.icon {
	padding-left: 18px;
}

a.popup       { padding: 5px 24px 5px 0; background: url('../images/icons/audio_popout.png') right no-repeat; }
a.popup:hover { padding: 5px 24px 5px 0; background: url('../images/icons/audio_popout_over.png') right no-repeat; }

.options {padding-right: 14px; background: url('../imgs/icons/options.png') right bottom no-repeat;}

.dropdown > a {padding-right: 14px; background: url('../imgs/icons/options.png') right bottom no-repeat;}

#itune {padding-left: 20px; background: url('../imgs/icons/itunes.png') center left no-repeat;}
#miro {background: url('../imgs/icons/miro.png') center left no-repeat;}

.rss {background: url('../imgs/icons/rss.png') center left no-repeat;}

.add.favorite { padding: 4px 0 4px 18px; background: url('../imgs/icons/plus.png') center left no-repeat; }
.is.favorite  { padding: 4px 0 4px 18px; background: url('../imgs/icons/checkmark.png') center left no-repeat; }

.linkable .positive, .positive .title { padding: 4px 0 4px 18px; background: url('../images/icons/thumbs_up.png') center left no-repeat; }
.linkable .negative, .negative .title { padding: 4px 0 4px 18px; background: url('../images/icons/thumbs_down.png') center left no-repeat; }

.episode.show .summary .preview .previous {
  padding: 4px 0 4px 11px;
  background: url('../imgs/icons/left-arrow.gif') center left no-repeat;
}
.episode.show .summary .preview .next {
  padding: 4px 11px 4px 0;
  background: url('../imgs/icons/right-arrow.gif') center right no-repeat;
}
