/***************************************************/
/* STYLE GUIDE: keep markup simple, keep CSS clean */
/***************************************************/

/**********/
/* General */
/**********/
html {
	height: 100%;
}

body {
	height: 100%;
	background: #F1F1F1;
}

#wrapper {
	position: relative;
	min-height: 100%;
	height: auto;
	margin: 0 220px;
}

.home #wrapper { 
	margin: 0 auto;
	width: 980px;
}

input[type=text],
input[type=password] {
	width: 150px;
	height: 16px;
	padding: 3px 4px 2px 4px;
}

textarea {
	width: 392px;
	height: 120px;
	overflow: auto;
	padding: 4px;
}

input[type=text], 
input[type=password],
textarea {
	outline: 0px;
	border: solid 1px #807E7E;
	background: #FAFAFA;
	/* css3 */
	box-shadow:inset 2px 2px 2px #AAA;
	-moz-box-shadow:inset 2px 2px 2px #AAA;
	-webkit-box-shadow:inset 2px 2px 2px #AAA;
	-o-box-shadow:inset 2px 2px 2px #AAA;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}

button {
	height: 30px;
	padding: 3px 6px;
	cursor: pointer;
	border: solid 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: url('/imgs/button.png') #333 repeat-x right;
	color: #E1E1E1;
	white-space: nowrap;
	font-weight: bold;
}

form .errors { display: inline; }

address { display: block; }
address, section { margin: 0 0 14px 0; }


.header_push { height: 60px; } /* minus 5 points because the line-height adds to the h1/h2/h3s */
.footer_push { height: 100px; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }  /* for IE/Mac */

#edit form { 
	position: relative;
	display: inline-block;
	margin: 14px 0 0 0;
	padding: 14px;
	background-color: #E7EB99;
	background: -moz-gradient(radial, left top, 10, left top, 300, color-stop(0.5, #E7EB99), from(#FFF), to(#E7EB99)); 
	background: -webkit-gradient(radial, left top, 10, left top, 300, color-stop(0.5, #E7EB99), from(#FFF), to(#E7EB99)); 
	background: -o-gradient(radial, left top, 10, left top, 300, color-stop(0.5, #E7EB99), from(#FFF), to(#E7EB99)); 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}

#edit form table td {
	vertical-align: top;
	padding: 0 14px 14px 0;
}

#edit form table tr.controls td {
}

#edit form table th {
}

#edit form em {
}

#edit form label {
	font-weight: bold;
	display: inline-block;
	height: 16px;
	padding: 3px 14px 2px 4px;
	vertical-align: bottom;
}

#edit form p.controls {
	margin-top: 14px;
}


/**********/
/* Header */
/**********/
header {
	display: block;
	height: 35px;
	background: #CCC url('/imgs/bg_header.png') bottom left repeat-x;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 3;
}

header nav {
	display: block;
	margin: 0 10px;
	padding: 2px 0 0 0;
	height: 33px;
}

header nav ul li.logo {
	float: left;
	width: 125px;
	height: 24px;
	margin-top: 3px;
}

header nav .logo a {
	background: url('/imgs/logo.png') top left no-repeat;
	display: block;
	width: 100%;
	height: 100%;
	margin-right: 10px;
	text-indent: -5000px;
}

header .logo a:hover {
	background: url('/imgs/logo_over.png') top left no-repeat;
}

header nav .auth,
header nav .search {
	float: right;
	margin-left: 10px;
}

header nav .auth {
	margin-top: 6px;
}

header nav .add {
	float: left;
	margin-left: 20px;
}

header nav .add a {
	height: 15px;
	margin-top: 9px;
	display: block;
	text-indent: -5000px;
}

header nav .add a { width: 120px; background: url('/imgs/add_podcast.png') top left no-repeat;}
header nav .add a:hover { background-image: url('/imgs/add_podcast_over.png');}

header nav .search form {
	position: relative;
	margin-right: 10px;
}

header nav .search input[type=text] {
	margin: 4px 0 0 0;
	padding-right: 25px;
	
}

header nav .search button {
	background: url('/imgs/icons/search.png') transparent no-repeat center;
	width: 20px;
	height: 20px;
	padding: 0;
	cursor: pointer;
	text-indent: -5000px;
	position: absolute;
	bottom: 1px;
	right: 3px;
}


/***********/
/* Content */
/***********/
#content {
	background: #F1F1F1;
	min-height: 720px; /* be nice to right column (ads) */
	height: 100%;
	width: 100%;
	display: relative;
}

/**********/
/* Footer */
/**********/
footer {
	position: relative;
	z-index: 4;
	width: 100%;
	background: #CCC url('/imgs/bg_footer.png') 0px 0px repeat-x;
	height: 70px;
	margin-top: -84px;
}

footer ul {
	height: 70px;
	padding: 0 20px;
}

footer ul li {
	padding: 20px 10px 0 10px;
	margin: 0px;
	float: left;
}

footer ul li a {
}

/**********/
/* Auth   */
/**********/

#auth {
	display: none;
	position: absolute;
	z-index: 6;
	top: 45px;
	right: 50px;
	border: solid 1px #A9A9A9;
	width: 330px;
	background: #FFF;
	opacity: 0.9;
	text-align: right;
	padding: 15px 15px 15px 15px;
	box-shadow: 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 3px 3px 5px #888;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#auth .arrow {
	position: absolute;
	top: -11px;
	right: 10px;
}

#auth .close {
	float: right;
}

#auth h4 {
	text-align: left;
	margin: 0 0 20px 0;
}

#auth p.message {
	text-align: right;
	padding-left: 0;
	margin: 10px 0;
}

#auth form input.text {
	background: url('/imgs/input.png') no-repeat;
	border: none;
	display: block;
	height: 24px;
	overflow: hidden;
	padding: 5px;
	margin-left: 10px;
	width: 165px;
	float: right;
}

#auth form label {
	font-weight: bold;
	text-align: right;
	padding: 5px 0 0 0;
	display: block;
	height: 29px;
}

#auth_overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


/***************/
/* Sidebars */
/***************/

#left, #right {
	width: 160px;
}

.home #wrapper #left,
.home #wrapper #right { display: none; }

#left { float: left; margin: 65px 0 0 -190px; }
#right { float: right; margin: 65px -190px 0 0; }

#left img {
	box-shadow: 3px 3px 2px #888;
	-moz-box-shadow: 3px 3px 2px #888;
	-webkit-box-shadow: 3px 3px 2px #888;
}
