/***************************************************/
/* STYLE GUIDE: keep markup simple, keep CSS clean */
/***************************************************/
body { 
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, sans-serif; 
	font-size: 62.5%; 
	color: #171717; 
}

body > header,
body > #wrapper,
body > footer {
	font-size: 1.3em;
}

a { color: #2951A5; text-decoration: underline; }
a:hover { text-decoration: underline; }

input, textarea { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

header nav a,
a.toggle,
.superbutton a { text-decoration: none; }

p, nav, address, aside { line-height: 1.5em; font-weight: normal;}

.light {color: #a9a9a9;}
.errors { color: red; }
mark { background: lemonchiffon; }

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, Verdana, sans-serif; 
	color: #171717; 
	font-weight: normal; 
}

h1 {font-size: 2.0em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.0em;}

#welcome h2 { font-size: 1.7em; }

#tags li.rating_10 { font-size: 2.0em; }
#tags li.rating_9 { font-size: 1.8em; }
#tags li.rating_8 { font-size: 1.7em; }
#tags li.rating_7 { font-size: 1.5em; }
#tags li.rating_6 { font-size: 1.4em; }
#tags li.rating_5 { font-size: 1.2em; }
#tags li.rating_4 { font-size: 1.2em; }
#tags li.rating_3 { font-size: 1.1em; }
#tags li.rating_2 { font-size: 1.0em; }
#tags li.rating_1 { font-size: 0.9em; }
#tags li.rating_0 { font-size: 0.8em; }
