body {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 62.5%;}

a {color: #2951a5; text-decoration: none;}
a:hover {text-decoration: underline;}

p {color: #171717; font-size: 1.4em; line-height: 1.5em; margin: 0; font-weight: normal;}

.light {color: #a9a9a9;}

/*p a {font-size: 1.1em;}*/


h1, h2, h3, h4, h5, h6 {font-family: Helvetica, Arial, Verdana, sans-serif; color: #171717; font-weight: bold; margin: 0;}

h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}

.inline { display: inline; }

.search_term { background: lemonchiffon; }

#header ul li { font-size: 1.3em; }
#header ul li#nav_search input.text { font-size: 0.9em; }

