/* Download options */

  .podcast.show #download_options {
  	overflow: visible;
  	position: absolute;
  	width: 602px;
  	top: 110px;
  	left: 19px;
  	background: url('../imgs/bg_dl_left.png') top left no-repeat;
  	height: 29px;
  }
  
  .podcast.show #download_options .dropdown {
  	font-size: 1em;
  }
  
  .podcast.show #download_options > div {
  	background: url('../imgs/bg_dl_right.png') top right no-repeat;
  	height: 29px;
  	margin: 0px 0 0 9px;
  	padding-right: 9px;
  }
  
  
  .podcast.show #download_options p,
  .podcast.show form#dl_option {
  	display: inline;
  	font-size: 1.2em;
  	float: left;
  	line-height: 28px;
  }
  
  .podcast.show #download_options p {
  	padding-right: 5px;
  }
  
  .podcast.show form#dl_option strong {
  	padding-left: 10px;
  	background: url('../imgs/dl_divider.png') center left no-repeat;
  }
  
  .podcast.show form#dl_option label, .show .reviews.list #review_doit label {
  	margin: 0 2px;
  	color: #2951a5;
  }
  
  
  .podcast.show form#dl_option label:hover, .show .reviews.list #review_doit label:hover {
  	text-decoration: underline;
  	cursor: pointer;
  }
  
  
  .podcast.show #download_options ul#dl_view {
  	position: absolute;
  	top: 1px;
  	right: 3px;
  	padding-left: 5px;
  	background: url('../imgs/dl_divider.png') center left no-repeat;
  }
  
  .podcast.show #download_options ul#dl_view li {
  	display: inline;
  }
  
  .podcast.show #download_options ul#dl_view li a {
  	
  	line-height: 28px;
  	padding: 3px 7px 8px 7px;
  }
  
  /* Download options help */
  
  .podcast.show #dl_help {
  	position: relative;
  	top: 44px;
  	height: 200px;
  	margin: 0 10px 0 10px;
  	padding: 10px;
  	position: relative;
  	background: url('../imgs/bg_dl_help.png') bottom left no-repeat;
  }
  
  .podcast.show #dl_help p {
  	font-size: 1.2em;
  	padding: 0px 0 10px 0;
  }
  
  .podcast.show #dl_help h6 {
  	font-size: 1.2em;
  }
  
  p#help_disclaimer {
  	font-size: 1em;
  	font-style: italic;
  	padding-top: 20px;
  }
  
  a.help_on {
  	outline: none;
  	background: url('../imgs/help_on.png') top left no-repeat;
  }
  
  #download_setting p {
  	position: absolute;
  	top: 110px;
  	left: 19px;
  	color: #a9a9a9;
  	font-size: 1.2em;
  	line-height: 28px;
  }




/* Episode */
.podcast.show form#dl_option a {
	font-size: 1em;
}

.podcast.show .episodes.list {
	margin-top: -5px;	
	margin-bottom: 20px;
}

.podcast.show .episodes.list p {
	margin: 0 0px;
}

.podcast.show #e_info {
	font-size: .9em;
	padding-bottom: 4px;
	border-bottom: 1px solid #ddd;
	height: 25px;
}

.podcast.show #e_info p {
	line-height: 25px;
}

.podcast.show #episode_cont {
	margin: 20px 0px 20px 0px;
}

#latest_episode {
  background: url('../imgs/bg_latest.png') top left repeat-x;
  background-color: #696969;
  margin: 5px -12px 10px -11px;
  padding: 15px 20px 10px 20px;
}

#latest_episode .video_player {
  margin: 10px;
}

#latest_episode h4 {
  color: #666;
  margin: 0;
}

#latest_episode div {
  width: 100%;
  text-align: center;
}


.podcast.show .episode {
	margin: 0px 5px 30px 5px;
	overflow: hidden;
}

.podcast.show .episode  img.preview {
	float: left;
	overflow: hidden;
	border: 1px solid #171717;
	margin-right: 20px;
}

.podcast.show .episode > div {
	float: left;
	width: 510px;
}

.podcast.show .episode > div.audio_player {
	float: left;
	width: 100%;
}

.podcast.show .episode > div.no_screenshot {
	float: left;
	width: 625px;
}

.podcast.show .episode h3  {
	margin: 0;
	font-size: 1.3em;
}

.podcast.show .episode span.details {
	color: #a9a9a9;
}

.podcast.show .episode span.details {
	font-size: .85em;
	font-style: italic;
	display: block;
	line-height: 1.4em;
} 

.podcast.show .episode .links {
	font-size: 1.2em;
}

.podcast.show div.audio_player {
	padding: 5px 0;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 1.2em;
	border-top: 1px dotted #a9a9a9;
	border-bottom: 1px dotted #a9a9a9;
	position: relative;
}

.podcast.show div.audio_player .popup {
	position: absolute;
	top: 0.5em;
	right: 10px;
	cursor: pointer;
}

.podcast.show div.audio_player span.label {
	width: 70px;
	display: block;
	line-height: 1em;
	text-align: right;
	margin-right: 10px;
	float: left;
}

.podcast.show div.audio_player a {
  display: none;
}

.podcast.show div.audio_player img {
	float: left;
}



.podcast.show #download_options p,
.podcast.show form#dl_option, .podcast.show #dl_option_cont p {
	display: inline;
	font-size: 1.2em;
}

.podcast.show form#dl_option {
}

.podcast.show #download_options .dropdown {
	display: inline;
}
.podcast.show #download_options .dropdown li,
.podcast.show #download_options .dropdown label {
	line-height: 1.5em;
}


.podcast.show #download_options ul.help_or_hide,
.podcast.show #dl_option_cont ul {
	float: right;
}

.podcast.show #download_options ul.help_or_hide li,
.podcast.show #dl_option_cont ul li {
	display: inline;
}


.podcast.show form#dl_option a {
	font-size: 1em;
}

.related {
  width: 250px;
  float: right;
}

.review_nag {
  text-align: center;
}

.description {
	margin-top: 3px;
}
