/* =Top podcast block ***********************************/

.podcast.show .podcast_block {
	background: url('../imgs/bg_podcast.png') top left no-repeat;
  width: 660px;
}

.podcast_block .description {
	margin-top: 20px;
	margin-right: 20px;
}

.podcast_block .preview {
  margin: 20px 20px 0 20px;
}

.podcast_block .preview img {
  width: 160px;
}

#podcast_block_bottom {
  position: absolute;
  display: block;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: url('../imgs/bg_podcast_bt.png') top left no-repeat;
}


.favorite_cont {
  display: block;
  width: 250px;
  position: absolute;
  top: 200px;
  right: 20px;
	float: right;
}

.favorite_cont li {
  padding: 3px 0;
}

.podcast.show .summary .addit {
  float: none;
  font-size: 1.2em;
}

.podcast.show .summary .calloutlight {
  float: none;

}





/* =Episodes & reviews ***********************************/

#podcast_content {
  float: left;
  width: 660px;
}

#podcast_content h2 {
  border-bottom: 1px solid #171717;
  margin: 60px 0 15px 0;
  padding-bottom: 3px;
}

p.details {
  color: #a9a9a9;
	font-size: 1em;
	font-style: italic;
	display: block;
	line-height: 1.4em;
}


/* Latest episode */
#latest_episode h3 {
  margin: 0;
}

#latest_episode .video_player {
  width: 100%;
  margin: 10px;
  text-align: center;
}




/* Episode block */


#episode_list {
  position: relative;
}

form#podcast_search {
  position: absolute;
  top: -43px;
  right: 0px;
  width: 180px;
  margin: 0;
  display: block;
}

.episode {
	margin-bottom: 30px;
	overflow: hidden;
}

.podcast.show .episode  img.preview {
	float: left;
	overflow: hidden;
	border: 1px solid #171717;
	margin-right: 20px;
}

.podcast.show .episode > div {
  overflow: auto;
}


table#podcast_episodes {
  table-layout: auto;
  width: 100%;
}



/* audio_player */
.podcast.show .episode > div.audio_player {
	float: left;
	width: 100%;
}

.podcast.show div.audio_player {
	padding: 5px 0;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 1.2em;
	border-top: 1px dotted #a9a9a9;
	border-bottom: 1px dotted #a9a9a9;
	position: relative;
}

.podcast.show div.audio_player .popup {
	position: absolute;
	top: 0.5em;
	right: 10px;
	cursor: pointer;
}

.podcast.show div.audio_player span.label {
	width: 70px;
	display: block;
	line-height: 1em;
	text-align: right;
	margin-right: 10px;
	float: left;
}

.podcast.show div.audio_player a {
  display: none;
}

.podcast.show div.audio_player img {
	float: left;
}



.related {
  width: 250px;
  float: right;
}













/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
#dt_example {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}


#dt_example #container {
	width: 800px;
	margin: 30px auto;
	padding: 0;
}


#dt_example #footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#dt_example #demo {
	margin: 30px auto 0 auto;
}

#dt_example .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#dt_example .spacer {
	height: 20px;
	clear: both;
}

#dt_example .clear {
	clear: both;
}

#dt_example pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#dt_example h1 {
	margin-top: 2em;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

#dt_example h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#dt_example a {
	color: #0063DC;
	text-decoration: none;
}

#dt_example a:hover {
	text-decoration: underline;
}

#dt_example ul {
	color: #B0BED9;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	_height: 302px;
	clear: both;
}

.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 11px;
	padding: 2px 0;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../imgs/table/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../imgs/table/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../imgs/table/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../imgs/table/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 10px auto;
	width: 100%;
	clear: both;
}

table.display thead th {
	padding: 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
}

table.display tfoot th {
	padding: 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 10px 10px 5px 10px;
}

table.display td h3 {
	font-size: 1.4em;
	margin-left: -10px;
}


table.display td.center {
	text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../imgs/table/sort_asc.jpg') no-repeat center right;
}

.sorting_desc {
	background: url('../imgs/table/sort_desc.jpg') no-repeat center right;
}

.sorting {
	background: url('../imgs/table/sort_both.jpg') no-repeat center right;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */



tr.odd {
 border-bottom: 1px dotted #a9a9a9;
}

tr.even {
  border-bottom: 1px dotted #a9a9a9;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.example_alt_pagination .dataTables_paginate {
	width: 400px;
}

.example_alt_pagination div.dataTables_paginate span.paginate_button,
 	.example_alt_pagination div.dataTables_paginate span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.example_alt_pagination div.dataTables_paginate span.paginate_button {
	background-color: #ddd;
}

.example_alt_pagination div.dataTables_paginate span.paginate_button:hover {
	background-color: #ccc;
}

.example_alt_pagination div.dataTables_paginate span.paginate_active {
	background-color: #99B3FF;
}


table.display tr.row_selected.odd td {
	background-color: #B0BED9;
}

table.display tr.row_selected.even td {
	background-color: #9FAFD1;
}






/* global */
#cluetip-close img {
  border: 0;
}
#cluetip-title {
  overflow: hidden;
}
#cluetip-title #cluetip-close {
  float: right;
  position: relative;
}
#cluetip-waitimage {
  width: 43px;
  height: 11px;
  position: absolute;
  background-image: url(../imgs/cluetip/wait.gif);
}
.cluetip-arrows {
  display: none;
  position: absolute;
  top: 0;
  left: -11px;
  height: 22px;
  width: 11px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
#cluetip-extra {
  display: none;
}
/***************************************
   =cluetipClass: 'default' 
-------------------------------------- */

.cluetip-default {
  background-color: #ccc;
  text-align: left;
  font-size: 1.2em;
  overflow: visible;
}

.cluetip-default p {
  overflow: auto;
    font-size: 1em;
}

.cluetip-default img {
  float: left;
  margin-right: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}
.cluetip-default #cluetip-outer {
  position: relative;
  margin: 0;
  background-color: #fff;
  border: 1px solid #a9a9a9;
}
.cluetip-default h3#cluetip-title {
  margin: 0 0 5px;
  padding: 8px 10px 4px;
  font-size: 1.1em;
  font-weight: normal;
  background-color: #2952a6;
  color: #fff;
}
.cluetip-default #cluetip-title a {
  color: #d9d9c2;
  font-size: 0.95em;
}  
.cluetip-default #cluetip-inner {
  padding: 10px;
}
.cluetip-default div#cluetip-close { 
  text-align: right;
  margin: 0 5px 5px;
  color: #900;
}

/* default arrows */

.clue-right-default .cluetip-arrows {
  background-image: url(../imgs/cluetip/darrowleft.gif);
  margin-left: 1px;
}
.clue-left-default .cluetip-arrows {
  background-image: url(../imgs/cluetip/darrowright.gif);
  left: 100%;
  margin-right: -11px;
}
.clue-top-default .cluetip-arrows {
  background-image: url(../imgs/cluetip/darrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}  
.clue-bottom-default .cluetip-arrows {
  background-image: url(../imgs/cluetip/darrowup.gif);
  top: -11px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}

/***************************************
   =cluetipClass: 'jtip'
-------------------------------------- */
.cluetip-jtip {
  background-color: transparent;
}
.cluetip-jtip #cluetip-outer {
  border: 2px solid #ccc;
  position: relative;
  background-color: #fff;
}

.cluetip-jtip h3#cluetip-title {
  margin: 0 0 5px;
  padding: 2px 5px;
  font-size: 16px;
  font-weight: normal;
  background-color: #ccc;
  color: #333;
}

.cluetip-jtip #cluetip-inner {
  padding: 0 5px 5px;
  display: inline-block;
}
.cluetip-jtip div#cluetip-close { 
  text-align: right;
  margin: 0 5px 5px;
  color: #900;
}

/* jtip arrows */

.clue-right-jtip .cluetip-arrows {
  background-image: url(../imgs/cluetip/arrowleft.gif);
}
.clue-left-jtip .cluetip-arrows {
  background-image: url(../imgs/cluetip/arrowright.gif);
  left: 100%;
  margin-right: -11px;
}
.clue-top-jtip .cluetip-arrows {
  background-image: url(../imgs/cluetip/arrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}  
.clue-bottom-jtip .cluetip-arrows {
  background-image: url(../imgs/cluetip/arrowup.gif);
  top: -11px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}

/***************************************
   =cluetipClass: 'rounded'
-------------------------------------- */

.cluetip-rounded {
  background: transparent url(../imgs/cluetip/bl.gif) no-repeat 0 100%;
  margin-top: 10px;
  margin-left: 12px;
}

.cluetip-rounded #cluetip-outer {
  background: transparent url(../imgs/cluetip/tl.gif) no-repeat 0 0;
  margin-top: -12px;
}

.cluetip-rounded #cluetip-title {
  background-color: transparent;
  padding: 12px 12px 0;
  margin: 0 -12px 0 0;
  position: relative;
}
.cluetip-rounded #cluetip-extra {
  position: absolute;
  display: block;
  background: transparent url(../imgs/cluetip/tr.gif) no-repeat 100% 0;
  top: 0;
  right: 0;
  width: 12px;
  height: 30px;
  margin: -12px -12px 0 0;
}
.cluetip-rounded #cluetip-inner {
  background: url(../imgs/cluetip/br.gif) no-repeat 100% 100%;
  padding: 5px 12px 12px;
  margin: -18px -12px 0 0;
  position: relative;
}

.cluetip-rounded div#cluetip-close { 
  text-align: right;
  margin: 0 5px 5px;
  color: #009;
  background: transparent;
}
.cluetip-rounded div#cluetip-close a {
  color: #777;
}

/* rounded arrows */

.clue-right-rounded .cluetip-arrows {
  background-image: url(../imgs/cluetip/rarrowleft.gif);
}
.clue-left-rounded .cluetip-arrows {
  background-image: url(../imgs/cluetip/rarrowright.gif);
  left: 100%;
  margin-left: 12px;
}
.clue-top-rounded .cluetip-arrows {
  background-image: url(../imgs/cluetip/rarrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}  
.clue-bottom-rounded .cluetip-arrows {
  background-image: url(../imgs/cluetip/rarrowup.gif);
  top: -23px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}



/* stupid IE6 HasLayout hack */
.cluetip-rounded #cluetip-title,
.cluetip-rounded #cluetip-inner {
  zoom: 1;
}


.cluetip_box {
  display: none;
}








