/*ul {display: inline;}
ul li {display: inline;}

*/

body {background: url('../imgs/header.png') top left repeat-x; }

.show #wrapper {position: relative; margin: auto;}
.show #header {position: relative; margin: 0; height: 54px;}
.show #content {position: relative; margin: 0px; background: #f9f9f9 url('../imgs/bg_content.png') top left repeat-x;}

.show .summary {margin: 0px 20px 20px 20px; padding-top: 10px; overflow: visible;}

.show .supplemental {overflow: hidden; position:  relative; margin: 20px; width: 640px;}


/**** Header **************/

.show #utility_nav ul a {color: #fff;}
.show #utility_nav ul {font-size: 1.2em; color: #fff; position: absolute; top: 3px; right: 0px;}
.show #utility_nav ul li {display: inline; margin-left: 2px;}


.show #global_nav {margin: 0; position: absolute; top: 22px; left: 0; height: 30px; width: 100%;}
.show #global_nav {
	font-size: 1.5em;
}
.show #global_nav a {}
.show #global_nav ul { display: inline; padding: 0 0 10px 0;}
.show #global_nav ul li {display: inline;}

.show a#logo {
	margin-top: 3px; 
	float: left;
	background: url('../imgs/logo.png') top left no-repeat;
	width: 111px;
	height: 24px;
	display: block;
}

.show a#logo:hover {
	background: url('../imgs/logo_over.png') top left no-repeat;
}

a#add_podcast {
	float: left;
	background: url('../imgs/add_podcast.png') top left no-repeat;
	width: 128px;
	height: 19px;
	display: block;
	margin: 5px 0 0 15px;
	padding: 5px 0 5px 20px;
}

a#add_podcast:hover {
	background: url('../imgs/add_podcast_over.png') top left no-repeat;
}

a#add_podcast span, a#logo span {
	margin-left: -5000px;
}



/**** Summary **************/
.show .summary .preview {	
	float: left;
	margin-right: 20px;
}



.podcast.show .summary .preview,
.podcast.show .summary .preview img { width: 160px; }
.episode.show .summary .preview { width: 340px; }
  
.episode.show .summary .preview .previous {
  display: block;
  width: 40%;
	float: left;
}

.episode.show .summary .preview .next {
  display: block;
  width: 40%;
  float: right;
  text-align: right;
}

.summary h1 {
	margin: .5em 0 1em 0;
}

.summary h6#page_type {
	float: right;
	margin-top: -4em;
}

.podcast h6#page_type {
	margin-top: -50px;
	padding: 10px 30px 10px 0;
	background: url('../imgs/icons/series.png') center right no-repeat;
}

.episode h6#page_type {
	margin-top: -57px;
	padding: 17px 30px 10px 0;
	background: url('../imgs/icons/episode.png') center right no-repeat;
}


.episode.show .summary .media {
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: 5px;
}

.episode.show .summary p .date {
	font-style: italic;
	font-size: 0.85em;
}

.show .description #s_desc {
	position: relative;
	float: left;
	width: 460px;
	
}

.show #s_desc h6 {
	color: #a9a9a9;
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	display: inline;
}

.show p.favorite_cont {
	font-size: 1.2em;
	padding: 8px 0 5px 0;
	float: right;
}

.show #s_desc p {
	margin: -5px 0 5px 0;
}

.show #s_desc ul, .show #s_desc ul li {
	display: inline;
	font-size: 1.2em;
	color: #a9a9a9;
}

.show .description {
	overflow: visible;
	position: relative;
	padding-bottom: 20px;
	display: block;

	float: left;
	margin-bottom: 20px;
} 

.podcast.show .description {
	background: url('../imgs/b_border.png') bottom left repeat-x;
  width: 760px;
}
  
.episode.show .description {
	width: 580px;
}


.show .description h2 a {
	font-size: 0.7em;
	font-weight: normal;
}



.episode .description h2 {
	display: inline;
}

.episode .description .callout ul {
	float: right;
	margin-top: -2.2em;
}








/**** episodes/reveiws **************/
div#sort {
	position: absolute;
	right: 20px;
	top: 72px;
}

div#sort .dropdown div.dropdown_wrap {
	left: -35px;
}

div#sort .dropdown {
	display: inline;
}
div#sort .dropdown li,
div#sort .dropdown label {
	line-height: 1.5em;
}

.show .supplemental h2 a {
	font-size: 1em;
}

.show .supplemental h2 {
	display: inline;
	line-height: 42px;
}

.show .supplemental h2.current {
	margin-left: 20px;
	margin-right: 8px;
	padding: 10px 0 6px 10px;
	background: url('../imgs/tab_left.png') top left no-repeat;
}

.show .supplemental h2.current span {
	padding: 10px 40px 7px 10px;
	background: #fff url('../imgs/tab_right.png') top right no-repeat;
}

.show .supplemental #series_reviews {
	margin-left: -2px;
}

.show .supplemental .linkable a {margin-left: 40px; margin-right: 6px;}

.episode .supplemental  {
	margin-top: 20px;
}

/* Abstraction for a set of links that use regular text if 'current' */
.linkable a { display: inline;}
.linkable span { display: none; }
.linkable.current a { display: none; }
.linkable.current span { display: inline; }


/* Download options */

#download_options {
	overflow: visible;
	position: absolute;
	width: 602px;
	top: 110px;
	left: 19px;
	background: url('../imgs/bg_dl_left.png') top left no-repeat;
	height: 29px;
}

#download_options .dropdown {
	font-size: 1em;
}

#download_options > div {
	background: url('../imgs/bg_dl_right.png') top right no-repeat;
	height: 29px;
	margin: 0px 0 0 9px;
	padding-right: 9px;
}


.show #download_options p,
.show form#dl_option {
	display: inline;
	font-size: 1.2em;
	float: left;
	line-height: 28px;
}

.show #download_options p {
	padding-right: 5px;
}

.show form#dl_option strong {
	padding-left: 10px;
	background: url('../imgs/dl_divider.png') center left no-repeat;
}

.show form#dl_option label, .show #s_reviews #review_doit label {
	margin: 0 2px;
	color: #2951a5;
}

#s_reviews img {margin: 0 -7px 0 20px;}

.show form#dl_option label:hover, .show #s_reviews #review_doit label:hover {
	text-decoration: underline;
	cursor: pointer;
}


.show #download_options ul#dl_view {
	position: absolute;
	top: 1px;
	right: 3px;
	padding-left: 5px;
	background: url('../imgs/dl_divider.png') center left no-repeat;
}

.show #download_options ul#dl_view li {
	display: inline;
}

.show #download_options ul#dl_view li a {
	
	line-height: 28px;
	padding: 3px 7px 8px 7px;
}

/* Download options help */

#dl_help {
	position: relative;
	top: 44px;
	height: 200px;
	margin: 0 10px 0 10px;
	padding: 10px;
	position: relative;
	background: url('../imgs/bg_dl_help.png') bottom left no-repeat;
}

#dl_help p {
	font-size: 1.2em;
	padding: 0px 0 10px 0;
}

#dl_help h6 {
	font-size: 1.2em;
}

p#help_disclaimer {
	font-size: 1em;
	font-style: italic;
	padding-top: 20px;
}

a.help_on {
	outline: none;
	background: url('../imgs/help_on.png') top left no-repeat;
}

#download_setting p {
	position: absolute;
	top: 110px;
	left: 19px;
	color: #a9a9a9;
	font-size: 1.2em;
	line-height: 28px;
}




/* Episode */
.show form#dl_option a {
	font-size: 1em;
}

.show #s_episodes {
	margin-top: -5px;	
	margin-bottom: 20px;
}

.show #s_episodes p {
	margin: 0 0px;
}

.show #e_info {
	font-size: .9em;
	padding-bottom: 4px;
	border-bottom: 1px solid #ddd;
	margin: 0 5px;
}

.show #view_options {
	font-size: .9em;
	padding: 2px 0 6px 0;
	border-bottom: 1px solid #ddd;
	margin: 0 5px;
}

.show #e_info p span, .show #view_options p {
	color: #a9a9a9;
}

.show #view_options p {
	display: inline;
}



.show #view_options img {
	padding: 2px;
	margin-right: 1px;
	position: relative;
	top: 4px;
	left: 0px;
}

.show #view_options .per_page {
	border-left: 1px solid #a9a9a9;
	padding-left: 7px;
	display: inline;
}

.show #view_options .per_page a.pp_current {
	border: 1px solid #a9a9a9;
	padding: 0px 4px;
}

.show #episode_cont {
	margin: 60px 0px 20px 0px;
}

.show .episode {
	margin: 20px 5px 20px 5px;
	overflow: auto;
}

.show .episode a img {
	float: left;
	border: 1px solid #171717;
	margin-right: 20px;
}

.show .episode a:hover img {
	border: 1px solid #2d5cad;
}

.show .episode > div {
	float: left;
	width: 480px;
}

.show .episode > div.no_screenshot {
	float: left;
	width: 595px;
}

.show .episode h3  {
	margin: 0;
	font-size: 1.3em;
}

.show .episode p {
	color: #a9a9a9;
}

.show .episode span.details {
	font-size: .85em;
	font-style: italic;
	display: block;
	line-height: 1.4em;
} 

.show .episode .links {
	font-size: 1.2em;
}

.show div.audio_player {
	padding: 5px 0;
	margin-top: 5px;
	font-size: 1.2em;
	border-top: 1px dotted #a9a9a9;
	border-bottom: 1px dotted #a9a9a9;
	position: relative;
}

.show div.audio_player .popup {
	position: absolute;
	top: 0.5em;
	right: 10px;
	cursor: pointer;
}

.show div.audio_player span.label {
	width: 70px;
	display: block;
	line-height: 1em;
	text-align: right;
	margin-right: 10px;
	float: left;
}

.show div.audio_player a {
  display: none;
}

.show div.audio_player img {
	float: left;
}



.show #download_options p,
.show form#dl_option, .show #dl_option_cont p {
	display: inline;
	font-size: 1.2em;
}

.show form#dl_option {
}

#download_options .dropdown {
	display: inline;
}
#download_options .dropdown li,
#download_options .dropdown label {
	line-height: 1.5em;
}


.show #download_options ul.help_or_hide,
.show #dl_option_cont ul {
	float: right;
}

.show #download_options ul.help_or_hide li,
.show #dl_option_cont ul li {
	display: inline;
}


.show form#dl_option a {
	font-size: 1em;
}





/* Reviews list */

.show #s_reviews_wrap {
	margin-top: -5px;
	margin-bottom: 20px;
}

li.review {
	position: relative;
	border-bottom: solid 1px #D4F0AA;
	display: block;
}

.review .allreviews {
	display: block;
}

.review .helpfulness {
	color: #a9a9a9;
	font-size: 1.2em;
	margin-top: 10px;
	margin-right: 150px;
	text-align: right;
}

.review div.social {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: auto;
	margin: 0;
	padding: 0;

}

.show #r_info, .show #r_view {
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
	margin: 0px;
}

.show #r_view {
	text-align: right;
}


.show #r_view .linkable {
	color: #171717;
	font-weight: bold;
}

.show #r_view .current {
	margin-right: 6px;
	margin-left: 40px;
}

.show #r_view span#first_linkable {
	margin-right: -40px;
}

.show #r_info p, .show #r_view p {
	font-size: 1.2em;
}

.show #r_info p span, .show #r_view p {
	color: #a9a9a9;
}

.show li.review .info {
	width: 163px;
	float: left;
	margin: 10px 0;
	font-size: 1.2em;
}

.show li.review .info cite {
	display: block;
}

.show li.review .summary {
	margin: -3px 0 10px 0;
	width: 440px;
	float: left;
}

.show li.review .summary .title {
	display: block;
	font-weight: bold;
	margin: 0;
}

.show li.review .summary .title a {
	font-size: 1.4em;
	text-decoration: none;
	color: #171717;
}

.show li.review .summary .body {
	font-size: 1.4em;
}

.show #s_reviews #review_login {
	min-height: 200px;
	margin: 20px 0 20px 0;
}

.show #s_reviews #review_doit {
	margin: 20px 0 20px 0;
}

.show #s_reviews #review_doit h4 {
	font-size: 1.6em;
}

.show #s_reviews #review_doit p {
	margin-top: 15px;
}

.show #s_reviews #review_doit h6 {
	font-size: 1.4em;
	margin-top: 1.5em;
}

.show #s_reviews #review_doit input {
	border: 1px solid #171717;
	-moz-border-radius: 3px;
	width: 300px;
	height: 25px;
	font-size: 1.4em;
	padding: 5px 0 0 5px;
}

.show #s_reviews #review_doit textarea {
	border: 1px solid #171717;
	-moz-border-radius: 3px;
	width: 400px;
	height: 125px;
	font-size: 1.8em;
	padding: 5px;
	display: block;
}

.show #s_reviews #review_doit button {
	margin: 15px 0 0 0px;
}





/* Subscribe Button **/

.show #subscribe {
	position: absolute;
	top: 0px;
	right: -10px;
	width: 295px;
	height: 67px;
	z-index: 3;
}

.show #subscribe div {
	display: block;
	background: url("../imgs/subscribe_right.png") no-repeat top right;
	height: 67px;

}

.show #subscribe h2 {
	margin: 0;
	color: #fff;
}

.show #subscribe p {
	margin: 0;
	color: #fff;
	font-size: 1.2em;
}

.show #subscribe p span {
	margin: 0;
	color: #fff;
	font-size: .8em;
}

.show #subscribe div a {
	color: #fff;
	padding-top: 6px;
	padding-left: 70px;
	display: block;
	width: 225px;
	height: 55px;
	outline: none;
}

.show #s_options_toggle { 
	position: absolute;
	top: 63px;
	right: 5px;
	font-size: 1.2em;
	z-index: 1;
}

/* Subscribe dropdown **/

#subscribe_options_container {
	width: 283px;
	height: 200px;
	position: absolute;
	top: 48px;
	right: -4px;
	z-index: 2;
}

.pane p.info {
  display: none;
}
.selected.pane p.info {
  display: block;
}
	


#tabnav a:link.active, #tabnav a:visited.active
	{
		border-bottom: 1px solid #fff;
		background: #fff;
		color: #000;
	}

#tabnav a:hover
	{
		background: #fff url('../imgs/tab_shadow_over.png') bottom left repeat-x;
	}



/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .tabs-nav {
        display: none;
    }
}

/* Skin */
.tabs-nav {
  list-style: none;
  margin: 0;
  padding: 0 0 0 0px;
}

.tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}

ul.tabs-nav  {
  margin: -10px 0 0 -12px;
  width: 282px;
}

.tabs-nav li {
  float: left;
  margin: 0px;
  min-width: 65px; /* be nice to Opera */
	border-right: 1px solid #a9a9a9;
}

.tabs-nav li:last-child {
	border-right: none;
}

.tabs-nav a, .tabs-nav a span {
  display: block;
  padding: 15px 5px 3px 2px;
  background: #e4e4e4;
}

.tabs-nav a {
  position: relative;
  top: 1px;
  z-index: 2;
  padding-left: 18px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
  white-space: nowrap; /* required in IE 6 */    
}

.tabs-nav .tabs-selected a {
  color: #000;
	background: #fff;
}

.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active {
    outline: 0; /* prevent dotted border in Firefox */
}

.tabs-nav a span {
  width: 64px; /* IE 6 treats width as min-width */
  min-width: 64px;
  height: 18px; /* IE 6 treats height as min-height */
  min-height: 18px;
  padding-top: 6px;
  padding-right: 0;
}
*>.tabs-nav a span { /* hide from IE 6 */
  width: auto;
  height: auto;
}
.tabs-nav .tabs-selected a span { 
		background: #fff;
}

.tabs-nav .tabs-selected a:link, .tabs-nav .tabs-selected a:visited, .tabs-nav .tabs-disabled a:link, .tabs-nav .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
  cursor: text;
}
.tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
  cursor: pointer;
}

.tabs-container {
  border-top: 1px solid #97a5b0;
  padding: 1em 8px;
  background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}

.tabs-nav a.itunes span {padding-left:  8px; background:  url('../imgs/icons/itunes.png') center left no-repeat;}
.tabs-nav a.miro span {background:  url('../imgs/icons/miro.png') center left no-repeat;}
.tabs-nav a.rss span {background:  url('../imgs/icons/rss.png') center left no-repeat;}

.show ul.v_options_list ul  {
	clear: left;
	margin-top: 10px;
}

.show ul.v_options_list li  {
	display: block;
	padding: 3px 0;
	border-bottom: 1px dotted #ddd;
	overflow: hidden;
}

.show ul.v_options_list li p {
	float: left;
}

.show span.v_options {
	float: right;
	font-size: 1.4em;
}

.show ul.v_options_list li .selected_vid {
	padding-right: 12px;
	font-weight: bold;
	background:  url('../imgs/icons/circle.png') 100% 62% no-repeat;
}

.show .info {
	color: #a9a9a9;
	margin-top: 5px;
}

.show .info .created_at, .review .allreviews {
	margin-left: 18px;
}

.pagination ul {
	float: right;
	margin: 0 10px 10px 0;
}

.pagination ul li {
	display: inline;
}

.pagination a {
	font-size: 1.4em;
	padding: 5px 8px;
}









#footer {
	text-align: left;
	color:#fff;
	width: 980px;
	margin: -20px auto 0 auto;
	font-size:0.9em;
	padding: 20px;
}

#footer a, #footer h4 {
	color:#fff;
}

div.foot_wrapper {
	background: #313131 url('../imgs/bg_footer.png') top left repeat-x;
}

div#footer div.section {
float:left;
margin:0 22px 20px 0;
width:305px;
}

div#footer div.info {
border-top:1px solid #262626;
clear:both;
padding:20px 0 0;
}

div#footer div.section ul li {
padding:0 0 5px;
}

