.show #wrapper {border-left: 1px solid #000; border-right: 1px solid #000; background: #f9f9f9; position: relative;}
.show #header {overflow: hidden; margin: 20px;}

.show #s_subscribe {overflow: hidden; margin: 20px;}

.show #s_episodes_reviews {overflow: hidden; margin: 20px; width: 640px;}


.show #utility_nav ul {font-size: .8em; position: absolute; top: 10px; right: 20px;}
.show #utility_nav ul li {display: inline; margin-left: 2px;}

.show #logo {float: left; margin-top: -13px;}
.show #global_nav {margin: 13px 0 0 0;}
.show #global_nav a {margin-left: 20px;}
.show #global_nav ul {float: left; margin: 0px 0 0 0px;}
.show #global_nav ul li {display: inline;}
.show form#search {float: left; margin: 0px 0 0 20px;}


.show .sm_img {width: 160px;}


.show #s_subscribe h6#page_type {
	float: right;
	margin-top: -2.5em;
}

.show #s_subscribe img {
	float: left;
	margin-right: 20px;

}

/* XXX: Refactor */
.show #s_subscribe .video_preview {
	float: left;
}

.show #s_subscribe .video_preview img {
	float: none;
  display: block;
}

.show #s_subscribe .previous {
	float: left;
}
.show #s_subscribe .next {
	float: right;
}

.show #s_desc {
	position: relative;
	float: left;
	width: 460px;
	margin-right: 20px;
}

.show #s_desc h6 {
	color: #a9a9a9;
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	display: inline;
}

.show #s_desc ul, .show #s_desc ul li {
	display: inline;
}

.show #bottom_border {
	overflow: auto;
	position: relative;
	background: url('../imgs/b_border.png') bottom left repeat-x;
	padding-bottom: 20px;
} 



.show #social ul {
	position: absolute;
	bottom: 23px;
	left: 0;
}

.show #social ul li {
	display: inline;
}

.show #social a {
	font-size: 1em;
	float: left;
	display: block;
	padding: 0px 10px 0px 0px;  
	background: url("../imgs/social.png") no-repeat top right; 
	text-decoration: none;
}

.show #social li {
	float: left;  
	padding-left: 10px;  

	line-height: 22px;
	margin-right: 10px;
	background: url("../imgs/social.png") no-repeat top left;  
}
.show #social a:hover {
	color: #fff;
	background: url("../imgs/social.png") no-repeat bottom right;
}



.show #s_options {
	float: left;
	width: 280px;
}

.show #s_options h2 {
	margin: 0;
}

.show #s_options h6 {
	color: #a9a9a9;
	font-weight: normal;
	font-size: 1.3em;
	margin: 0;
}

.show #s_options ul li {
	display: inline;
}

.show #s_options ul#v_options li {
	display: block;
	padding-bottom: 2px;
	border-bottom: 1px dotted #a9a9a9;
}

.show #s_options ul#v_options li:last-child {
	border-bottom: none;
}

.show span.v_options {
	float: right;
	margin-top: -1.8em;
}


.show #s_episodes_reviews h2 a {
	font-size: 1em;
}

.show #s_episodes_reviews h2 {
	display: inline;
	line-height: 42px;
}

.show #s_episodes_reviews h2.current {
	margin-left: 20px;
	margin-right: 8px;
	padding: 10px 0 5px 10px;
	background: url('../imgs/tab_left.png') top left no-repeat;
}

.show #s_episodes_reviews h2.current span {
	padding: 10px 40px 25px 10px;
	background: #fff url('../imgs/tab_right.png') top right no-repeat;
}

.show #s_episodes {
	margin-top: -5px;	
}

.show #s_episodes p {
	margin: 0 0px;
}

.show #e_info, .show #e_view {
	padding-bottom: 2px;
	border-bottom: 1px solid #a9a9a9;
	margin: 0 5px;
}

.show #e_info p, .show #e_view p {
	font-size: 1.2em;
}

.show #e_info p span, .show #e_view p {
	color: #a9a9a9;
}

.show #e_view p {
	display: inline;
}

.show #e_view p a {
	font-size: 1em;
}

.show #e_view img {
	padding: 0;
	margin: 6px 5px 0 5px;
}

.show #e_view ul {
	border-left: 1px solid #a9a9a9;
	padding-left: 5px;
	display: inline;
}

.show #e_view ul li {
	display: inline;
	font-size: 1em;
}

.show #e_view ul li a.pp_current {
	border: 1px solid #a9a9a9;
	padding: 0px 4px;
}

.show p#sort {
	float: right;
	margin-top: -1.6em;
}


.show .episode {
	margin: 20px 5px;
	overflow: auto;
}

.show .episode a img {
	float: left;
	border: 1px solid #171717;
	margin-right: 20px;
}

.show .episode a:hover img {
	border: 1px solid #2d5cad;
}

.show .episode > div {
	float: left;
	width: 480px;
}

.show .episode > div.no_screenshot {
	float: left;
	width: 595px;
}

.show .episode h3  {
	margin: 0;
	font-size: 1.1em;
}

.show .episode div p a {
	font-size: .9em;

}

.show span.e_stat {
	font-size: .8em;
	font-style: italic;
	display: block;
	line-height: 1.4em;
} 

.show div.audio_player {
	padding: 5px 0;
	margin-top: 5px;
	font-size: 1.2em;
	border-top: 1px dotted #a9a9a9;
	border-bottom: 1px dotted #a9a9a9;
}

.show div.audio_player span.label {
	width: 70px;
	display: block;
	line-height: 1em;
	text-align: right;
	margin-right: 10px;
	float: left;
}

.show div.audio_player a {
  display: none;
}

.show div.audio_player img {
	float: left;
}


.show form#dl_option, .show #dl_option_cont p {
	display: inline;
	font-size: 1.2em;
}


.show form#dl_option a {
	font-size: 1em;
}






/* Reviews list */
.show #r_info, .show #r_view {
	padding-bottom: 2px;
	border-bottom: 1px solid #a9a9a9;
	margin: 0 5px;
}

.show #r_info p, .show #r_view p {
	font-size: 1.2em;
}

.show #r_info p span, .show #r_view p {
	color: #a9a9a9;
}









