body {text-align: center;height: 100%;}

#wrapper {
	width: 980px; 
	margin: 0 auto;
	text-align: left; 
	overflow: auto;
}

.push {height: 70px;}

#notice { 
	color: red;
	font-weight: bold;
	background: white;
	padding: 5px;
  position: relative;
  top: 0px;
  left: 0px;
  background: gray;
  color: #E1E1E1;
  width: 650px;
  line-height: 1em;
  font-size: 12px;
  text-indent: 1em;
  text-shadow: #111 1px 1px 1px;
  border-bottom: solid 3px #E1E1E1;
  border-top: solid 3px #E1E1E1;
  margin: 5px 0;
  opacity: 0.7;
}



/**** Search form **************/
form#search {
	width: 180px; 
	margin: 0px; 
	display: block; 
	position: absolute; 
	top: 5px;
	right: 0px;
}

form#search input {
  width: 160px;
	position: relative;
}


#view_options {
	font-size: .9em;
	padding: 6px 0 0px 0;
	margin: 0 5px;
	overflow: hidden;
	
}

.per_page {
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
}


.per_page a.pp_current {
border:1px solid #A9A9A9;
padding:3px;
}

#podcast_paginate {
  position: absolute;
  top: 0px;
  right: 0;
}

form#podcast_search input {

}

form.search input {
	background: url('../imgs/search_input.png') top left repeat-x;
	height: 24px;
	border: 0;
	color: #a9a9a9;
	right: 14px;
	font-size: 1.2em;
	padding: 5px 0 0 5px;
	outline: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0){ /*Safari hack */
form#search input {padding: 0px 0 0 5px;}
}

form.search button {
	width: 30px;
	background: url('../imgs/search_button.png') no-repeat right;
	position: absolute;
	top: -7px;
  right: 0px;
}


form.search button span {
	margin-left: -5000px;
	width: 30px;
}

/**
* Quick Signin/up
**/
form#quick_signin div.field {
	display: block;
  overflow: hidden;
	width: 275px;
	margin-bottom: 10px;
}

form#quick_signin input.text {
  float: right;
	border: none;
	background: url('../imgs/input.png') top left no-repeat;
	width: 168px;
	height: 24px;
	font-size: 1.4em;
	padding: 5px;
	display: block;
	outline: none;
}

form#quick_signin .response_container p {
	color: red;
  font-size: 1em;
}
form#quick_signin label {
	position: relative;
	top: 21px;
	text-align: right;
	font-weight: bold;
}

form#quick_signin .message {
  padding: 0;
}

form#quick_signin h5 {
	margin: 0 0 0 0px;
	font-size: 1.4em;
}

form#quick_signin button {
	margin-left: 95px;

}

#utility_nav form#quick_signin div.callout {
overflow: visible;
display: inline;
}


#utility_nav form#quick_signin .callout ul {
	display: inline; 

}

form#quick_signin .controls {
  margin-top: 10px;
}

form#quick_signin .callout {
	display: inline; 
	font-size: .7em; float: right;
text-align: right;
margin-top: -16px;
}

@media screen and (-webkit-min-device-pixel-ratio:0){ /*Safari hack */
form#quick_signin .callout {margin-top: 0px;}
}

form#quick_signin a.forgot {
	display: inline; 
  margin-left: 100px;
	padding-right: 2px;
}

form#quick_signin span.forgot {
	display: inline; 
  margin-left: 140px;
	padding-right: 2px;
}





.index h1, .index.search h1 {
	margin-left: 15px;
}



/*ul {display: inline;}
ul li {display: inline;}

*/

body {background: #313131 url('../imgs/header.png') top left repeat-x; }

#wrapper {position: relative; margin: auto;}
#header {position: relative; margin: 0; height: 35px;overflow: ;}
#content_wrapper {
	overflow: hidden;
	position: relative;
	height: 1%;
	background: #f1f1f1 url('../imgs/bg_content.png') top left repeat-x;
}
#content {
	margin: 20px;
}

/**** Header **************/

#utility_nav {font-size: 1.2em; position: absolute; top: 9px; right: 205px;}


#global_nav {float: left; margin: 0; position: absolute; top: 5px; left: 0;  width: 500px;}
#global_nav {font-size: 1.5em;}
#global_nav a {outline: none;}
#global_nav ul { display: block; margin: 1px 0 0 5px;}
#global_nav ul li {display: inline; float: left; padding: 0 10px; margin-top: 5px;}

a#logo {
	float: left;
	background: url('../imgs/logo.png') top left no-repeat;
	width: 125px;
	height: 24px;
	display: block;
	margin-right: 10px;
}

a#logo:hover {
	background: url('../imgs/logo_over.png') top left no-repeat;
}

a#nav_home {
	background: url('../imgs/home.png') top left no-repeat;
	width: 43px;
	height: 15px;
	display: block;
	float: left;
}

a#nav_browse {
	background: url('../imgs/browse.png') top left no-repeat;
	width: 57px;
	height: 15px;
	display: block;
	float: left;
}

a#nav_pop {
	background: url('../imgs/popular.png') top left no-repeat;
	width: 59px;
	height: 15px;
	display: block;
	float: left;
}

a#add_podcast {
	background: url('../imgs/add_podcast.png') top left no-repeat;
	width: 112px;
	height: 15px;
	display: block;
  float: left;
  margin-left: -5px;
}

a#nav_home:hover {
	background: url('../imgs/home_o.png') top left no-repeat;
}

a#nav_browse:hover {
	background: url('../imgs/browse_o.png') top left no-repeat;
}

a#nav_pop:hover {
	background: url('../imgs/popular_o.png') top left no-repeat;
}

a#add_podcast:hover {
	background: url('../imgs/add_podcast_over.png') top left no-repeat;
}


a#add_podcast span, a#logo span, a#nav_home span, a#nav_browse span, a#nav_pop span {
	margin-left: -5000px;
}




/* Show specific */
.summary { overflow: visible;}
.supplemental {float: left; overflow: hidden; position:  relative; margin: 20px 0; width: 670px;}



/**** homepage **************/

.home #content {
	margin: 0 20px 20px 20px;
}

#mission {
	position: relative;
	height: 139px;
	width: 980px;
	margin: 0px -20px 0 -20px;
	background: url('../imgs/bg_mission.png') bottom left no-repeat;

}


#mission h1 {
  display: block;
  width: 443px;
  position: relative;
  left: 97px;
  top: 16px;
  padding: 40px 0 0;
  margin: 0;
  font-size: 2.3em;
  background: url('../imgs/intro.png') top left no-repeat;
}

#mission h1 span {
  margin-left: -5000px;
}

#mission a i {
  visibility: hidden;
}

#mission a:hover {
  text-decoration: none;
}


#mission ul {
  margin-top: 15px;
  margin-left: 97px;
}

#mission ul li {
	padding: 0 0 2px 10px;
	font-size: 1.3em;
	background: url('../imgs/mission_bullet.png') center left no-repeat;
}

#mission ul li a {
  color: #fff;
}

#mission ul li a:hover {
  color: #fff;
  text-decoration: underline;
}


#featured_cont {
	height: 229px;
	margin: 20px 0px 20px 0px;
	background: url('../imgs/bg_hp_featured.png') top left repeat-x;
}

#featured {
	margin: 30px 0px 20px 20px;
	overflow: hidden;
}

#featured h2 {
  font-size: 2em;
	margin-top: 15px;
	color: #171717;
}

.home #featured .podcast_block {
	width: 440px;
	float: left;
	margin-right: 20px;
}


.home #featured .social {
	margin-top: 40px;
}

#pop_recent_cont {
	float: left;
	position: relative;
}

#tags_review_cont {
	float: right;
	position: relative;
}





#pop_recent_cont , #tags_review_cont {
	width: 460px;
}

#pop_recent_cont .i3 , #tags_review_cont  .i3 {
	height: 265px;
}

#pop_recent_cont .preview, #pop_recent_cont .preview img, #tags_review_cont .preview, #tags_review_cont .preview img {
	width: 55px;
}

#hp_tower, #hp_open {
	margin: 10px 0 20px 0;
	width: 464px;
	height: 95px;
}

#hp_tower h3, #hp_open h3 {
	margin: 35px 0 0 100px;
}

#hp_tower p, #hp_open p {
	font-size: 1.2em;
	margin: 0px 30px 0 100px;
}

#hp_tower {
	float: left;
	background: url('../imgs/hp_tower.png');
}

#hp_open {
	float: right;

	background: url('../imgs/hp_open.png');
}


/**** All Podcasts **************/
.related h3 {
  padding-top: 5px;
}

#all_podcasts li.podcast {
  margin: 5px 0;
  font-size: 1.2em;
  overflow: auto;
}

#all_podcasts li.podcast img {
  float: left;
  width: 25px;
  height: 25px;
  overflow: hidden;
}

#all_podcasts li.podcast a {
  display: block;
  margin-left: 35px;
  outline: none;
}

/**** Summary **************/
.summary .preview, #member_profile .preview {	
	float: left;
	margin-right: 20px;
}

.home .preview img { width: 160px; }
.episode.summary .preview { width: 460px; }
  
.episode .preview .previous {
  display: block;
  width: auto;
	float: left;
	font-size: 1.2em;
}

.episode .preview .next {
  display: block;
  width: auto;
  float: right;
  text-align: right;
	font-size: 1.2em;
}

.summary h1 {
	margin: 0;
	width: 800px;
}
.summary h2 {
	width: 800px;
}


.episode.summary h2 {
	margin-bottom: 15px;
}
.summary h1 {
	margin-bottom: 20px;
}

.summary h6#page_type {
	position: absolute;
	top: 33px;
	right: 20px;
}

h6#page_type {
	margin-top: -25px;
	padding: 17px 32px 13px 0;
	background: url('../imgs/icons/series.png') center right no-repeat;
}

.episode h6#page_type {
	margin-top: -20px;
	padding: 17px 30px 10px 0;
	background: url('../imgs/icons/episode.png') center right no-repeat;
}

.episode .summary .media {
	font-size: 1.2em;
	font-style: italic;
	margin: 10px 0;
}

.episode .summary p .date {
	font-style: italic;
	font-size: 0.85em;
}

.summary .addit {
	float: right;
	margin-top: 3px;
}



.description h6 {
	color: #a9a9a9;
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	display: inline;
}




.description ul, .description ul li {
	display: inline;
	font-size: 1.2em;
	color: #a9a9a9;
}



.description_simple {
  overflow: visible;
  position: relative;
  padding: 5px 0;
  display: block;
  float: left;
}


.episode .podcast_block { /*episode page*/
	width: 460px;
	float: right;
}

.episode .preview {
  margin-right: 20px;
  padding: 0;width: 460px;
}


.episode .summary h1 {float: left; width: auto;}
.episode .summary h2 {float: left; width: auto; margin: -20px 0 20px 0;}
.episode #episode_head {width: 735px;}

.episode .callout  {
	float: left;
  font-size: .7em;
	margin: 2px 0 0 10px;

}


/**** used for reviews **************/
.supplemental h2 a {
	font-size: 1em;
}

.supplemental h2 {
	display: inline;
	line-height: 42px;
}

.supplemental h2.current {
	margin-left: 20px;
	margin-right: 8px;
	padding: 10px 0 6px 10px;
	background: url('../imgs/tab_left.png') top left no-repeat;
}

.supplemental h2.current span {
	padding: 10px 40px 7px 10px;
	background: url('../imgs/tab_right.png') top right no-repeat;
}

.supplemental #series_reviews {
	margin-left: -2px;
}

.supplemental .linkable a {margin-left: 40px; margin-right: 6px;}



.episode .supplemental  {
	margin-top: 20px;
}

/* Abstraction for a set of links that use regular text if 'current' */
.linkable a { display: inline;}
.linkable span { display: none; }
.linkable.current a { display: none; }
.linkable.current span { display: inline; }




/* Reviews list */
.reviews.list {position: relative;}
.reviews.list img {margin: 0 -7px 0 20px;}

.wrapper {
	margin-top: -5px;
	margin-bottom: 20px;
}

.home li.review:last-child {
	border-bottom: none;
}

.home li.review { /*homepage*/
	padding: 10px 0px;
}


.review .helpfulness {
	color: #a9a9a9;
	font-size: 1.2em;
	position: absolute;
	right: 129px;
	bottom: 18px;
}

.review div.social {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: auto;
	margin: 0;
	padding: 0;
  font-size: 1.4em;
}

.show #r_view {
	position: absolute;
	top: -40px;
	right: 0;
}

.show #r_view {
	text-align: right;
	margin-bottom: 10px;
}


.show #r_view .linkable {
	color: #171717;
	font-weight: bold;
}

.show #r_view .current {
	margin-right: 6px;
	margin-left: 40px;
}

.show #r_view span#first_linkable {
	margin-right: -40px;
}

.show #r_info p, .show #r_view p {
	font-size: 1.2em;
}

.show #r_info p span, .show #r_view p {
	color: #a9a9a9;
}

.show li.review .info {
  display: block;
	margin: -3px 0 3px 18px;
	font-size: 1.2em;
}

.show li.even {
  background: #ebebeb;
}

.home li.even {
  background: none;
  border: none;
}


.home a.truncated {
  display: none;
}

.show li.review .summary {
	margin: -3px 0 10px 0;
	overflow: auto;

}

.show li.review .summary .title {
	display: block;
	font-weight: bold;
	margin: 0;
	font-size: 1.4em;
}

.show li.review .summary .title a {
	font-size: 1.4em;
	text-decoration: none;
	color: #171717;
}




.show .reviews.list #review_login {
	min-height: 200px;
	margin: 20px 0 20px 0;
}

.show .reviews.list #review_doit {
	margin: 20px 0 20px 0;
}

.show .review_form h4 {
	font-size: 1.6em;
}

.show .review_form .errors {
  color: red;
  padding: 0 2px;
  font-style: italic;
  font-weight: bold;
  font-size: 1.1em;
}

.show .review_form p {
	margin-top: 15px;
}

.show .review_form h6 {
	font-size: 1.4em;
	margin-top: 1.5em;
}

.show .review_form input.text {
	border: none;
	background: url('/imgs/input_heading.png') top left no-repeat;
	width: 343px;
	height: 28px;
	font-size: 1.4em;
	padding: 5px 5px 0 5px;
}

.show form.review_form textarea {
	border: none;
	background: url('/imgs/textarea.png') no-repeat;
	width: 393px;
	height: 118px;
	font-size: 1.8em;
	padding: 5px;
	display: block;
}

.show .reviews.list .review_form button {
	margin: 15px 0 0 0px;
}


#zone-bar {
	margin-top: 20px;
} 


/* Subscribe Button **/

#subscribe {
	position: absolute;
	top: 60px;
	right: 10px;
	width: 275px;
	height: 67px;
	z-index: 3;

}

#subscribe div {
	display: block;
	background: url("../imgs/subscribe_right.png") no-repeat top right;
	height: 67px;

}

#subscribe h2 {
	margin: 0;
	color: #fff;
	width: auto;
}

#subscribe p {
	margin: 0;
	color: #fff;
	font-size: 1.2em;
}

#subscribe p span {
	margin: 0;
	color: #fff;
	font-size: .8em;
}

#subscribe div a {
	color: #fff;
	padding-top: 10px;
	padding-left: 70px;
	display: block;
	width: 225px;
	height: 55px;
	outline: none;
}

#s_options_toggle { 
	position: absolute;
	top: 123px;
	right: 25px;
	font-size: 1.2em;
	z-index: 1;
}

/* Subscribe dropdown **/

#subscribe_options_container {
	width: 263px;
	height: 200px;
	position: absolute;
	top: 100px;
	right: 16px;
	z-index: 2;
  display: none;
  outline: none;
}

#subscribe_options_container #delivery_options {
  display: none;
}

.pane p.info {
  display: none;
}
.selected.pane p.info {
  display: block;
}

.delivery_method p {font-size: 1em;color: #a9a9a9;}
	


#tabnav a:link.active, #tabnav a:visited.active
	{
		border-bottom: 1px solid #fff;
		background: #fff;
		color: #000;
	}

#tabnav a:hover
	{
		background: #fff url('../imgs/tab_shadow_over.png') bottom left repeat-x;
	}



/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .tabs-nav {
        display: none;
    }
}

/* Skin */
.tabs-nav {
  list-style: none;
  margin: 0;
  padding: 0 0 0 0px;
}

.tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}

ul.tabs-nav  {
  margin: -10px 0 0 -12px;
  width: 262px;
}

.tabs-nav li {
  float: left;
  margin: 0px;
  min-width: 45px; /* be nice to Opera */
	border-right: 1px solid #a9a9a9;
}

.tabs-nav li:last-child {
	border-right: none;
}

.tabs-nav a, .tabs-nav a span {
  display: block;
  padding: 15px 5px 3px 2px;
  background: #e4e4e4;
}

.tabs-nav a {
  position: relative;
  top: 1px;
  z-index: 2;
  padding-left: 11px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
  white-space: nowrap; /* required in IE 6 */    
}

.tabs-nav .tabs-selected a {
  color: #000;
	background: #fff;
}

.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active {
    outline: 0; /* prevent dotted border in Firefox */
}

.tabs-nav a span {
  width: 64px; /* IE 6 treats width as min-width */
  min-width: 64px;
  height: 18px; /* IE 6 treats height as min-height */
  min-height: 18px;
  padding-top: 6px;
  padding-right: 0;
}
*>.tabs-nav a span { /* hide from IE 6 */
  width: auto;
  height: auto;
}
.tabs-nav .tabs-selected a span { 
		background: #fff;
}

.tabs-nav .tabs-selected a:link, .tabs-nav .tabs-selected a:visited, .tabs-nav .tabs-disabled a:link, .tabs-nav .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
  cursor: text;
}
.tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
  cursor: pointer;
}

.tabs-container {
  border-top: 1px solid #97a5b0;
  padding: 1em 8px;
  background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}

.tabs-nav a.itunes span {padding-left:  8px; background:  url('../imgs/icons/itunes.png') center left no-repeat;}
.tabs-nav a.miro span {background:  url('../imgs/icons/miro.png') center left no-repeat;}
.tabs-nav a.rss span {background:  url('../imgs/icons/rss.png') center left no-repeat;}

ul.v_options_list ul  {
	clear: left;
	margin-top: 10px;
}

ul.v_options_list li  {
	display: block;
	padding: 3px 0;
	border-bottom: 1px dotted #ddd;
	overflow: hidden;
}

ul.v_options_list li p {
	float: left;
}

span.v_options {
	float: right;
	font-size: 1.4em;
}

ul.v_options_list li .selected_vid {
	padding-right: 12px;
	font-weight: bold;
	background:  url('../imgs/icons/circle.png') 100% 62% no-repeat;
}

.info {
	color: #a9a9a9;
	margin-top: 5px;
}

.review .allreviews {
	position: absolute;
	bottom: 10px;
	left: 18px;
}

.info .created_at {
	display: block;

}

.pagination  {
	float: right;
	font-size: 1.4em;
	margin: 0 10px 10px 0;
	overflow: visible;
	margin-top: 15px;
	display: block;
}

.pagination  span.current {
	font-weight: bold;
}

.pagination  a {
	padding: 5px 5px;
}

.pagination  span.prev_page a, .pagination  span.next_page a, .pagination  span.disabled  {
	padding: 5px 5px;

}



#footer {
	text-align: left;
	color:#fff;
	width: 980px;
	margin: 0px auto 0 auto;
	font-size:0.9em;
	padding: 20px;
}

#footer a, #footer h4 {
	color:#fff;
}

div.foot_wrapper {
	width: 100%;
	min-height: 70px;
	background: #313131 url('../imgs/bg_footer.png') top left repeat-x;
}

div#footer div.section {
float:left;
margin:0 22px 20px 0;
width:305px;
}

div#footer div.info {

clear:both;
padding:20px 0 0;
}

div#footer div.section ul li {
padding:0 10px;
font-size: 1.2em;
display: inline;
}


/* Brwose page **/



#browse .calloutlight {
  float: right;
  margin-top: 12px;
}

#browse .addit {
  margin-top: 12px;
  font-size: .9em;
}







.popular .social, .tags .social {
  margin-top: 12px;
}

.index .addit {
	float: right;
	margin: 1px 5px 0px 0;
}







/**** Profile page **************/



#member_profile .addit {
	margin-top: 12px;
	font-size: .9em;
}

#member_profile h4 {
	font-size: 1.2em;
}

#profile_profile .i3 {
	padding-top: 10px;
}

#profile_profile .picture img {
	float: left;
	width: 110px;
	margin: 0 20px 20px 0;
}

#profile_profile p {
	margin: 10px 0;
}

#profile_profile button {
  margin: -3px 3px 0 3px;
}

#profile_profile p span {
	color: #a9a9a9;
}



#profile_profile .edit_toggle {
	position: absolute;
	top: 20px;
	right: 20px;
}



#recent_episodes .podcast_block {
  min-height: 60px;
}

#recent_reviews ul.reviews {
  margin-top: -10px;
}

#recent_reviews h3 {
  color: #a9a9a9;
}

#recent_reviews .review {
  min-height: 120px;
}

#epsiode_goog {
  text-align: center;
  margin: 20px auto 20px auto;
}





#edit_form label {
  float: left;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 5px;
  padding-top: 2px;
}

#edit_form div , form#edit_form  input {
  float: left; display: inline;
}

#new_feed {
  margin: 10px 0;
}

#new_feed label {
  display: none;
}

#added_podcast_list form {
  margin: 10px 0 20px 0;
}

#added_podcast_list .add_disabled {
  width: 824px;
  height: 22px;
  font-size: 1.6em;
  padding: 6px 8px 5px 8px;
  margin-right: 5px;
  background: #a9a9a9; 
  color: #444
}

#added_podcast_list input.button {
  background: #a9a9a9; 
  height: 35px; width: 75px; 
  border: none;
  position: relative;
  top: -2px;
}

#new_feed button.addme {
  position: relative;
  top: -3px;

}

#new_feed input#feed_url {
  border: none;
	background: url('../imgs/feed_input.png') top left no-repeat;
	padding: 6px 8px 5px 8px;
	width: 830px;
	height: 22px;
	font-size: 1.6em;
	color: #a9a9a9;
	margin: -5px 0 20px 0;
}

.addpage .page_head p {
  margin-bottom: 20px;
}

.googleads.searchads {
  margin-top: 48px;
}



/* search_results */


#search_results .episode  img, #search_results .episode .preview  {
  float: left;
  width: 25px !important;
  margin: 0px 0 0 0;
}

#search_results .episode  h5 {
  float: left;
  color: #a9a9a9;
  margin: 0px 0 0 8px;
  padding-top: 5px;
}


#search_results .podcast_block .description {
	position: relative;
  float: left;
  width: 500px;
	padding: 0;
}

#search_results .episode {
	margin: 20px 5px 20px 5px;
	overflow: auto;
}

/* favoriters page */
ul.users li h4 {
  color: #a9a9a9;
  margin: 0;
}
ul.users li {
  color: #a9a9a9;
  border-bottom: 1px dotted #ddd;
  padding: 5px 0;
}


span.truncated.more {
  display: none;
}

#profile_reviews ul.reviews {
  width: 100%;
}

