body {text-align: center;height: 100%;}

#wrapper {
	width: 980px; 
	margin: 0 auto;
	text-align: left; 
	overflow: auto;
}

.push {height: 70px;}

#notice { 
	color: red;
	font-weight: bold;
	background: white;
	padding: 5px;
}


/**
* Quick Signin/up
**/

form#quick_signin {
  padding: 0;
  color: #171717;
	z-index: 900000000000000000000000000000000000000000000000000;
	position: relative;
}

form#quick_signin .rounded_corners  {
	background: url('../imgs/signin_arrow.png') 93% 0% no-repeat;
	padding-top: 5px;

}

form#quick_signin .titlebar {
  position: relative;
  top: -10px;
  right: -10px;
}
form#quick_signin div.field {
	display: block;
  overflow: hidden;
	width: 275px;
	margin-bottom: 10px;
}

form#quick_signin input.text {
  float: right;
	border: 1px solid #171717;
	-moz-border-radius: 3px;
	width: 175px;
	height: 20px;
	font-size: 1.4em;
	padding: 5px;
	display: block;
}
form#quick_signin .response_container {
 
  
}
form#quick_signin .response_container p {
	color: red;
  font-size: 1em;
}
form#quick_signin label {
	position: relative;
	top: 21px;
	text-align: right;
	font-weight: bold;
}


.quick_signin_container {
  position: absolute;
  top: 15px;
  right: 0;

  z-index: 10;
}
form#quick_signin a.close {

	background: none;
	margin-top: 13px;
	color: #2952a6;
  float: left;
}

form#quick_signin .message {
  padding: 0;
}

form#quick_signin h5 {
	margin: 0 0 0 0px;
	font-size: 1.4em;
}
.quick_signin_container.after_favoriting {
  position: absolute;
  top: 20px;
	font-size: 1.2em;
}

.quick_signin_container.after_rating {
  position: absolute;
  top: 100px;
	right: 50px;
	font-size: 1.3em;
}

form#quick_signin button {
	margin-left: 85px;
	float: left;
}

form#quick_signin .controls, form#quick_signin .controls_signup {
	display: block;
	overflow: hidden;
	width: auto;
	float: right;
	margin-top: 15px; 
}


.podcast.index h1 {
	margin-left: 15px;
}



/*ul {display: inline;}
ul li {display: inline;}

*/

body {background: #313131 url('../imgs/header.png') top left repeat-x; }

#wrapper {position: relative; margin: auto;}
#header {position: relative; margin: 0; height: 35px;overflow: ;}
#content_wrapper {
	position: relative;
	overflow: hidden;
	height: 1%;
	background: #f1f1f1 url('../imgs/bg_content.png') top left repeat-x;
}
#content {
	margin: 20px;
}

/**** Header **************/

#utility_nav ul {font-size: 1.2em; position: absolute; top: 9px; right: 195px;}
#utility_nav ul li {display: inline; margin-left: 2px; padding: 0 3px;}


#global_nav {float: left; margin: 0; position: absolute; top: 4px; left: 0;  width: 500px;}
#global_nav {
	font-size: 1.5em;
}
#global_nav a {outline: none;}
#global_nav ul { display: block; margin: 1px 0 0 5px;}
#global_nav ul li {display: inline; float: left; padding: 0 10px; margin-top: 5px;}

a#logo {
	float: left;
	background: url('../imgs/logo.png') top left no-repeat;
	width: 111px;
	height: 24px;
	display: block;
	margin-right: 10px;
}

a#logo:hover {
	background: url('../imgs/logo_over.png') top left no-repeat;
}

a#nav_home {
	background: url('../imgs/home.png') top left no-repeat;
	width: 43px;
	height: 15px;
	display: block;
	float: left;
}

a#nav_browse {
	background: url('../imgs/browse.png') top left no-repeat;
	width: 57px;
	height: 15px;
	display: block;
	float: left;
}

a#nav_pop {
	background: url('../imgs/popular.png') top left no-repeat;
	width: 59px;
	height: 15px;
	display: block;
	float: left;
}

a#add_podcast {
	background: url('../imgs/add_podcast.png') top left no-repeat;
	width: 134px;
	height: 19px;
	display: block;
	float: left;
	margin-top: -3px;
}

a#nav_home:hover {
	background: url('../imgs/home_o.png') top left no-repeat;
}

a#nav_browse:hover {
	background: url('../imgs/browse_o.png') top left no-repeat;
}

a#nav_pop:hover {
	background: url('../imgs/popular_o.png') top left no-repeat;
}

a#add_podcast:hover {
	background: url('../imgs/add_podcast_over.png') top left no-repeat;
}


a#add_podcast span, a#logo span, a#nav_home span, a#nav_browse span, a#nav_pop span {
	margin-left: -5000px;
}





#utility_nav form#quick_signin .callout ul {
	position: relative;
	font-size: 1.4em;
	height: 20px; 
	width: auto;
	right: 0;
	top: 0px;

}

#utility_nav form#quick_signin .callout ul li {
	padding-left: 10px;
}


#utility_nav form#quick_signin div.callout {
	display: inline; float: right;

}

form#quick_signin div.callout {
	display: inline; float: right;
	font-size: .6em;
	margin: -15px 5px 0 0;
}

form#quick_signin a.forgot {
	display: inline; 
	float: left;
	padding-right: 2px;
}



/* Show specific */
.show .summary { overflow: visible;}
.show .supplemental {float: left; overflow: hidden; position:  relative; margin: 20px 0; width: 660px;}



/**** homepage **************/

.new #content {
	margin: 0 20px 20px 20px;
}

#mission {
	position: relative;
	height: 137px;
	width: 945px;
	margin: 0px 0 0 -3px;
	background: url('../imgs/bg_mission.png') bottom left no-repeat;

}



#mission h1 {
	padding: 15px 0 0 25px;
	font-size: 1.8em;
}

#mission ul {
	margin-left: 35px;
}

#mission ul li {
	padding: 0 0 10px 16px;
	font-size: 1.3em;
	background: url('../imgs/mission_bullet.png') 0px 4px no-repeat;
}

.new #close_misson {margin: 3px 3px 5px 0; overflow: visible; display: block; height: 10px;}


#featured_cont {
	height: 229px;
	margin: 20px -20px 20px -20px;
	background: url('../imgs/bg_hp_featured.png') top left repeat-x;
}

#featured {
	margin: 20px 0px 20px 40px;
	overflow: hidden;
}

#featured h2 {
	margin-top: 10px;
	color: #171717;
}

#featured h3 {
	margin-top: -4px;
}

#first_featured {
	margin-right: 40px;
}

.new #featured .description {
	background: none;
	float: left;
	width: 440px;
}

.new #featured .s_desc {

	width: 255px;
}

.new #featured .social {
	font-size: .7em;
	position: absolute;
	bottom: -94px;
}

#pop_recent_cont {
	float: left;
	position: relative;
}

#tags_review_cont {
	float: right;
	position: relative;
}


#pop_recent_cont .description, #tags_review_cont .description {
	background: none;
	width: 440px;
}

#pop_recent_cont .description .s_desc, #tags_review_cont .description .s_desc {
	background: none;
	width: 340px;
}

#pop_recent_cont , #tags_review_cont {
	width: 460px;
}

#pop_recent_cont .i3 , #tags_review_cont  .i3 {
	height: 265px;
}

#pop_recent_cont .preview, #pop_recent_cont .preview img, #tags_review_cont .preview, #tags_review_cont .preview img {
	width: 55px;
}

#pop_recent_cont h6, #pop_recent_cont .s_desc ul, #tags_review_cont h6, #tags_review_cont .s_dec ul {
	font-size: 1.2em;
}


#pop_recent_cont .callout, #tags_review_cont .callout {
	position: absolute;
	bottom: 35px;
	right: 20px;
	font-size: .8em;
}




#tags_review_cont li.review .summary {
	width: 250px;
}


#hp_tower, #hp_open {
	margin: 20px 0;
	width: 464px;
	height: 95px;
}

#hp_tower h3, #hp_open h3 {
	margin: 15px 0 0 100px;
}

#hp_tower p, #hp_open p {
	font-size: 1.2em;
	margin: 0px 30px 0 100px;
}

#hp_tower {
	float: left;
	background: url('../imgs/hp_tower.png');
}

#hp_open {
	float: right;

	background: url('../imgs/hp_open.png');
}





/**** Summary **************/
.summary .preview, #memeber_profile .preview {	
	float: left;
	margin-right: 20px;
}
.podcast.show .summary .preview,
.podcast.show .summary .preview img { width: 160px; }
.episode.show .summary .preview { width: 460px; }
  
.episode.show .summary .preview .previous {
  display: block;
  width: 40%;
	float: left;
	font-size: 1.2em;
}

.episode.show .summary .preview .next {
  display: block;
  width: 40%;
  float: right;
  text-align: right;
	font-size: 1.2em;
}

.show .summary h1 {
	margin: 0;
	width: 800px;
}
.show .summary h2 {
	width: 800px;
	color: #a9a9a9;
}


.episode.show .summary h2 {
	margin-bottom: 15px;
}
.podcast.show .summary h1 {
	margin-bottom: 15px;
}

.show .summary h6#page_type {
	position: absolute;
	top: 67px;
	right: 20px;
}

.podcast.show h6#page_type {
	margin-top: -50px;
	padding: 10px 30px 10px 0;
	background: url('../imgs/icons/series.png') center right no-repeat;
}

.episode.show h6#page_type {
	margin-top: -57px;
	padding: 17px 30px 10px 0;
	background: url('../imgs/icons/episode.png') center right no-repeat;
}

.episode.show .summary .media {
	font-size: 1.2em;
	font-style: italic;
	margin: 10px 0;
}

.episode.show .summary p .date {
	font-style: italic;
	font-size: 0.85em;
}

.podcast.show .summary .addit {
	float: right;
	margin-top: 3px;
}

.description .s_desc {
	position: relative;
	float: left;
	width: 460px;
	
}

.s_desc h6 {
	color: #a9a9a9;
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	display: inline;
}

.favorite_cont {
	font-size: .8em;
	float: right;
}

.podcast.index .favorite_cont {
	margin: 14px 0 5px 0;
}

.s_desc p {
	margin: -5px 0 5px 0;
}

.s_desc ul, .s_desc ul li {
	display: inline;
	font-size: 1.2em;
	color: #a9a9a9;
}

.description {
	overflow: visible;
	position: relative;
	padding-bottom: 20px;
	display: block;
	float: left;
	margin-bottom: 20px;
} 

.description h3 {
	font-size: 1.4em;
}

.podcast.show .description {
	background: url('../imgs/b_border.png') bottom left repeat-x;
  width: 760px;
}
  
.episode.show .description {
	width: 460px;
}


.show .description h2 a {
	font-size: 0.7em;
	font-weight: normal;
}



.episode .description h2 {
	margin: 0;
	width: 300px;
}

.episode .description h3 {
	color: #a9a9a9;
}

.episode .summary h1 {float: left; width: auto;}
.episode .summary h2 {float: left; width: auto;}
.episode #episode_head {width: 735px;}

.episode .callout  {
	float: left;
  font-size: .7em;
	margin: 16px 0 0 10px;

	margin: 5px 0 0 10px;

}





/**** episodes/reveiws **************/
div#sort {
	position: absolute;
	right: 20px;
	top: 35px;
}

div#sort .dropdown div.dropdown_wrap {
	left: -35px;
}

div#sort .dropdown {
	display: inline;
}
div#sort .dropdown li,
div#sort .dropdown label {
	line-height: 1.5em;
}

.show .supplemental h2 a {
	font-size: 1em;
}

.show .supplemental h2 {
	display: inline;
	line-height: 42px;
}

.show .supplemental h2.current {
	margin-left: 20px;
	margin-right: 8px;
	padding: 10px 0 6px 10px;
	background: url('../imgs/tab_left.png') top left no-repeat;
}

.show .supplemental h2.current span {
	padding: 10px 40px 7px 10px;
	background: url('../imgs/tab_right.png') top right no-repeat;
}

.show .supplemental #series_reviews {
	margin-left: -2px;
}

.show .supplemental .linkable a {margin-left: 40px; margin-right: 6px;}



.episode .supplemental  {
	margin-top: 20px;
}

/* Abstraction for a set of links that use regular text if 'current' */
.linkable a { display: inline;}
.linkable span { display: none; }
.linkable.current a { display: none; }
.linkable.current span { display: inline; }




/* Reviews list */

.reviews.list img {margin: 0 -7px 0 20px;}

.show .wrapper {
	margin-top: -5px;
	margin-bottom: 20px;
}

li.review {
	position: relative;
	border-bottom: solid 1px #D4F0AA;
	display: block;
	margin-top: 10px;
	padding-bottom: 0px;
}


.review .helpfulness {
	color: #a9a9a9;
	font-size: 1.2em;
	margin-top: 15px;
	margin-right: 105px;
	text-align: right;
}

.review div.social {
	position: absolute;
	bottom: 10px;
	right: -5px;
	width: auto;
	margin: 0;
	padding: 0;

}

.show #r_info, .show #r_view {
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
	margin: 0px;
}

.show #r_view {
	text-align: right;
	margin-bottom: 10px;
}


.show #r_view .linkable {
	color: #171717;
	font-weight: bold;
}

.show #r_view .current {
	margin-right: 6px;
	margin-left: 40px;
}

.show #r_view span#first_linkable {
	margin-right: -40px;
}

.show #r_info p, .show #r_view p {
	font-size: 1.2em;
}

.show #r_info p span, .show #r_view p {
	color: #a9a9a9;
}

.show li.review .info {
	width: 163px;
	float: left;
	margin: 0px 0;
	font-size: 1.2em;
}

.show li.review .info cite {
	display: block;
}

.show li.review .summary {
	margin: -3px 0 10px 0;
	width: 440px;
	float: left;
}

.show li.review .summary .title {
	display: block;
	font-weight: bold;
	margin: 0;
}

.show li.review .summary .title a {
	font-size: 1.4em;
	text-decoration: none;
	color: #171717;
}

.show li.review .summary .body {
	font-size: 1.4em;
}

.show .reviews.list #review_login {
	min-height: 200px;
	margin: 20px 0 20px 0;
}

.show .reviews.list #review_doit {
	margin: 20px 0 20px 0;
}

.show .reviews.list #review_doit h4 {
	font-size: 1.6em;
}

.show .reviews.list #review_doit p {
	margin-top: 15px;
}

.show .reviews.list #review_doit h6 {
	font-size: 1.4em;
	margin-top: 1.5em;
}

.show .reviews.list #review_doit input {
	border: 1px solid #171717;
	-moz-border-radius: 3px;
	height: 25px;
	font-size: 1.4em;
	padding: 5px 0 0 5px;
}

.show .reviews.list #review_doit textarea {
	border: 1px solid #171717;
	-moz-border-radius: 3px;
	width: 400px;
	height: 125px;
	font-size: 1.8em;
	padding: 5px;
	display: block;
}

.show .reviews.list #review_doit button {
	margin: 15px 0 0 0px;
}


#zone-bar {
	margin-top: 20px;
} 


/* Subscribe Button **/

.show #subscribe {
	position: absolute;
	top: 0px;
	right: -10px;
	width: 275px;
	height: 67px;
	z-index: 3;
}

.show #subscribe div {
	display: block;
	background: url("../imgs/subscribe_right.png") no-repeat top right;
	height: 67px;

}

.show #subscribe h2 {
	margin: 0;
	color: #fff;
	width: auto;
}

.show #subscribe p {
	margin: 0;
	color: #fff;
	font-size: 1.2em;
}

.show #subscribe p span {
	margin: 0;
	color: #fff;
	font-size: .8em;
}

.show #subscribe div a {
	color: #fff;
	padding-top: 6px;
	padding-left: 70px;
	display: block;
	width: 225px;
	height: 55px;
	outline: none;
}

.show #s_options_toggle { 
	position: absolute;
	top: 63px;
	right: 5px;
	font-size: 1.2em;
	z-index: 1;
}

/* Subscribe dropdown **/

#subscribe_options_container {
	width: 263px;
	height: 200px;
	position: absolute;
	top: 48px;
	right: -4px;
	z-index: 2;
}

.pane p.info {
  display: none;
}
.selected.pane p.info {
  display: block;
}
	


#tabnav a:link.active, #tabnav a:visited.active
	{
		border-bottom: 1px solid #fff;
		background: #fff;
		color: #000;
	}

#tabnav a:hover
	{
		background: #fff url('../imgs/tab_shadow_over.png') bottom left repeat-x;
	}



/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .tabs-nav {
        display: none;
    }
}

/* Skin */
.tabs-nav {
  list-style: none;
  margin: 0;
  padding: 0 0 0 0px;
}

.tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}

ul.tabs-nav  {
  margin: -10px 0 0 -12px;
  width: 262px;
}

.tabs-nav li {
  float: left;
  margin: 0px;
  min-width: 45px; /* be nice to Opera */
	border-right: 1px solid #a9a9a9;
}

.tabs-nav li:last-child {
	border-right: none;
}

.tabs-nav a, .tabs-nav a span {
  display: block;
  padding: 15px 5px 3px 2px;
  background: #e4e4e4;
}

.tabs-nav a {
  position: relative;
  top: 1px;
  z-index: 2;
  padding-left: 11px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
  white-space: nowrap; /* required in IE 6 */    
}

.tabs-nav .tabs-selected a {
  color: #000;
	background: #fff;
}

.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active {
    outline: 0; /* prevent dotted border in Firefox */
}

.tabs-nav a span {
  width: 64px; /* IE 6 treats width as min-width */
  min-width: 64px;
  height: 18px; /* IE 6 treats height as min-height */
  min-height: 18px;
  padding-top: 6px;
  padding-right: 0;
}
*>.tabs-nav a span { /* hide from IE 6 */
  width: auto;
  height: auto;
}
.tabs-nav .tabs-selected a span { 
		background: #fff;
}

.tabs-nav .tabs-selected a:link, .tabs-nav .tabs-selected a:visited, .tabs-nav .tabs-disabled a:link, .tabs-nav .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
  cursor: text;
}
.tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
  cursor: pointer;
}

.tabs-container {
  border-top: 1px solid #97a5b0;
  padding: 1em 8px;
  background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}

.tabs-nav a.itunes span {padding-left:  8px; background:  url('../imgs/icons/itunes.png') center left no-repeat;}
.tabs-nav a.miro span {background:  url('../imgs/icons/miro.png') center left no-repeat;}
.tabs-nav a.rss span {background:  url('../imgs/icons/rss.png') center left no-repeat;}

.show ul.v_options_list ul  {
	clear: left;
	margin-top: 10px;
}

.show ul.v_options_list li  {
	display: block;
	padding: 3px 0;
	border-bottom: 1px dotted #ddd;
	overflow: hidden;
}

.show ul.v_options_list li p {
	float: left;
}

.show span.v_options {
	float: right;
	font-size: 1.4em;
}

.show ul.v_options_list li .selected_vid {
	padding-right: 12px;
	font-weight: bold;
	background:  url('../imgs/icons/circle.png') 100% 62% no-repeat;
}

.show .info {
	color: #a9a9a9;
	margin-top: 5px;
}

.review .allreviews {
	position: absolute;
	bottom: 10px;
	left: 18px;
}

.show .info .created_at {
	display: block;

}

.pagination  {
	float: right;
	font-size: 1.4em;
	margin: 0 10px 10px 0;
	overflow: visible;
	margin-top: 15px;
}

.pagination  span.current {
	font-weight: bold;
}

.pagination  a {
	padding: 5px 5px;
}

.pagination  span.prev_page a, .pagination  span.next_page a, .pagination  span.disabled  {
	padding: 5px 5px;

}




.podcast.new .huge input {
	width: 90%;
}



#footer {
	text-align: left;
	color:#fff;
	width: 980px;
	margin: 0px auto 0 auto;
	font-size:0.9em;
	padding: 20px;
}

#footer a, #footer h4 {
	color:#fff;
}

div.foot_wrapper {
	width: 100%;
	min-height: 70px;
	background: #313131 url('../imgs/bg_footer.png') top left repeat-x;
}

div#footer div.section {
float:left;
margin:0 22px 20px 0;
width:305px;
}

div#footer div.info {

clear:both;
padding:20px 0 0;
}

div#footer div.section ul li {
padding:0 10px;
font-size: 1.2em;
display: inline;
}


/* Brwose page **/

.podcast.index #browse {
	position: relative;
	width: 670px;
	float: left;
	margin-bottom: 20px;
}

.podcast.index #sort {
	top: 12px;
}

.podcast.index .preview img {
	width: 110px;
	float: left;
	border: 1px solid #aeaba1;
}

.podcast.index .description {
	margin: 30px 0 0 5px;
	padding: 0; 
	min-height: 125px;
}

.podcast.index .s_desc {
	position: relative;
	width: 500px;
	margin-top: -4px;
	padding: 0;
}

.podcast.index .social {
	font-size: .7em;
	width: auto;
	margin-top: -32px;
}
.podcast.index .addit {
	float: right;
	margin: 1px 5px 0px 0;
}



#view_options {
	font-size: .9em;
	padding: 2px 0 6px 0;
	border-bottom: 1px solid #ddd;
	margin: 0 5px;
}

#e_info p span, .podcast.show #view_options p {
	color: #a9a9a9;
}

#view_options p {
	display: inline;
}



#view_options img {
	padding: 2px;
	margin-right: 1px;
	position: relative;
	top: 4px;
	left: 0px;
}

#view_options .per_page {
	border-left: 1px solid #a9a9a9;
	padding-left: 7px;
	display: inline;
}

#view_options .per_page a.pp_current {
	border: 1px solid #a9a9a9;
	padding: 0px 4px;
}

/**** Profile page **************/

#memeber_profile {
	float: left;
	width: 670px;
}

#memeber_profile h4 {
	font-size: 1.2em;
}

#profile_profile .i3 {
	padding-top: 10px;
}

#profile_profile .picture img {
	float: left;
	width: 110px;
	margin: 0 20px 20px 0;
}

#profile_profile p {
	margin: 10px 0;
}

#profile_profile button {
  margin: -3px 3px 0 3px;
}

#profile_profile p span {
	color: #a9a9a9;
}

#memeber_profile .description {
	background: none;
}

#profile_profile .edit_toggle {
	position: absolute;
	top: 20px;
	right: 20px;
}

#recent_episodes p {
  color: #a9a9a9;
  float: left;
  font-size: 1.2em;
  margin-top: -5px;
}


#recent_episodes .description {
  min-height: 60px;
}

#recent_reviews ul.reviews {
  margin-top: -10px;
}

#recent_reviews h3 {
  color: #a9a9a9;
}

#recent_reviews .review {
  min-height: 120px;
}



#edit_form label {
  float: left;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 5px;
  padding-top: 2px;
}

#edit_form div , form#edit_form  input {
  float: left; display: inline;
}




















