/**** =Global use ***************/
.clear {
	clear: both;
	height: 1%;
}

/* fixes float height problem */ 
.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
   }

.clearfix {display: inline-block;}  /* for IE/Mac */

.tm {padding-top: 1em;} /*Top Margin*/

.disabled {
	display: none;
}

.main {
	position: relative;
	width: 670px;
	float: left;
	margin: 20px 0 !important;
	min-height: 350px;
	overflow: hidden;
}

/**** =Main podcast block ***************/
.podcast_block {
	overflow: visible;
	position: relative;
	float: left;
	display: block;
	margin-bottom: 40px;
	width: 100%;
}

.podcast_block .preview img {
	width: 110px;
	float: left;
	border: 1px solid #aeaba1;
}


.podcast_block .description {
	position: relative;
  overflow: auto;
	padding: 0;

}

.podcast_block  p.details {
  color: #a9a9a9;
	font-size: 1em;
	font-style: italic;
	display: block;
	line-height: 1.4em;
}



/**** =Global submit button ***************/
/*
	Setting general button styles.
	Background position can't be set to "top",
	because of Firefox behavior.
	overflow: visible; is to remove magic padding in IE.
*/
button {
	text-align: center;
	background: url('../imgs/button_add.png') no-repeat right;
	border: 0;
	margin: 0;
	padding: 3px 4px 0 0;
	overflow: visible;
	cursor: pointer;
	position: relative;
}
/*
	Sets the general styles for the span within the button
	content, and the starting image. This image contains the
	rounded corners to the left and is as wide as
	the widest button might become.
*/
button span {
	position: relative;
	display: block;
	white-space: nowrap;
	height: 31px;
	color: #fff;
	font: bold 12px/23px Helvetica, Arial, sans-serif;
	background: url('../imgs/button_add_left.png') no-repeat left top;
	padding: 3px 5px 0 12px;
}



input.radio {
	margin: 0px 3px 0 3px;

}


/**** Tag Cloud **************/
.tag_cloud li { 
  display: inline;
  padding: 0 5px;
}

.tag_cloud .size_1 { font-size: 5pt; }
.tag_cloud .size_2 { font-size: 6pt; }
.tag_cloud .size_3 { font-size: 7pt; }
.tag_cloud .size_4 { font-size: 8pt; }
.tag_cloud .size_5 { font-size: 9pt; }
.tag_cloud .size_6 { font-size: 10pt; }
.tag_cloud .size_7 { font-size: 11pt; }
.tag_cloud .size_8 { font-size: 12pt; }
.tag_cloud .size_9 { font-size: 13pt; }
.tag_cloud .size_10 { font-size: 14pt; }



/**** Rounded Action Corner Box **************/

/* Basic styling, used when JavaScript is unsupported */
/*.cbb { margin:0em; padding:0 10px; border:1px solid #dddddd; background:#fff; }
.cbb h1 { margin:0 -10px; padding:0.3em 10px; background:#efece6; font:bold 1.2em/1 Arial, Helvetica, sans-serif; }
*/
/* Normal styling */
.rounded_corners {margin:0 0 20px 0; position: relative;}
	/* Top corners and border */
.bt {
	height:5px;
	margin:0 0 0 10px;
	background:url('../imgs/box.png') no-repeat 100% 0;
}
.bt div {
	position:relative;
	left:-10px;
	width:10px;
	height:10px;
	background:url('../imgs/box.png') no-repeat 0 0;
	font-size:0;
	line-height:0;
}

	/* Bottom corners and border */
.bb {
	height:10px;
	margin:0 0 0 10px;
	background:url('../imgs/box.png') no-repeat 100% 100%;
}
.bb div {
	position:relative;
	left:-10px;
	width:10px;
	height:10px;
	background:url('../imgs/box.png') no-repeat 0 100%;
	font-size:0;
	line-height:0;
}

	/* Left border */
.i1 {
	padding:0 0 0 10px;
	background:url('../imgs/border.png') repeat-y 2px 0;
}
	/* Right border */
.i2 {
	
	padding:0 10px 0 0;
	background:url('../imgs/border.png') repeat-y 100% 0;
}
	/* Wrapper for the content. Use it to set the background colour and insert some padding between the borders and the content. */
.i3 {
	display:block;
	margin:0;
	padding:10px 5px;
	background:#fff;
}
	/* Make the content wrapper auto clearing so it will contain floats (see http://positioniseverything.net/easyclearing.html). */
.i3:after {
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}
.i3 {display:inline-block;}
.i3 {display:block;}


/**** =JQuery Dropdown ***************/
#overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/**** global dropdown ***************/
.dropdown {
	min-height: 1em;
	color: #2d5cad;
	position: relative;
	font-size: 1.4em;
}
.dropdown div.dropdown_wrap {
	position: absolute;
	visibility: hidden;
	left: -5px;

}
.dropdown.open div.dropdown_wrap {
	visibility: visible;
	z-index: 10;
}
.dropdown li {
	cursor: pointer;
	padding-right: 18px;
}
.dropdown .focuser {
	cursor: pointer;
	position: relative;

	white-space: nowrap;
	height: 100%;
	padding: 0px;
}
.dropdown li a {
	cursor: pointer;
	white-space: nowrap;
}
.dropdown li.selected a {
	font-weight: bold;
	padding-right: 12px;
	background:  url('../imgs/icons/circle.png') 100% 62% no-repeat;
}



/* LimeCast form */
.limecast_form {
	position: relative;
	padding: 5px;
	min-width: 400px;
	width: 650px;
	clear: left;
}
.limecast_form .top {
	height: 30px;
	border: dashed #000;
	border-width: 2px 2px 0 2px;
}
.limecast_form .middle {
	margin: -20px 0;
	padding: 0px 10px;
}
.limecast_form .bottom {
	height: 15px;
	border: dashed #000;
	border-width: 0 2px 2px 2px;
	padding: 20px 10px 10px 10px;
	text-align: left;
}
.limecast_form fieldset {
	margin: 10px 0 0 10px;
}
.limecast_form .field {
	margin-bottom: 5px;
} 


/* icons */
a img.inline_icon {
  margin: -4px 4px 0 0;
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: inline-table;
}
span > img.inline_icon,
abbr > img.inline_icon {
  margin: -4px 4px 0 0;
  position: relative;
  top: 3px;
}






/**** ADD button **************/

.addit a {

  background:url("../imgs/icons/add.png") no-repeat left center;
  padding: 0px 0px 0px 20px;
}

a#comment_link {
  font-size: 1.2em;
  background:url("../imgs/icons/comment.png") no-repeat left center;
  padding:0 0px 0 20px;
}

a#comment_add {
  font-size: 1.2em;
  background:url("../imgs/icons/comment_add.png") no-repeat left center;
  padding:0 0px 0 20px;
}



/**** remove button **************/

.removeit {
  float: right;
  margin-top: 12px;
}


.removeit li {
	float:left;
	display:block;
  background:url("../imgs/remove_left.png") no-repeat left top;

  padding:0 3px 0 15px;
	line-height: 13px;
}

.removeit a {
	float:left;
  display:block;
  background: url("../imgs/remove_right.png") no-repeat right top;
  padding:1px 8px 3px 2px;
	line-height: 13px;
  text-decoration:none;
	font-size: .7em;
  color:#fff;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.removeit a {float:none;}
/* End IE5-Mac hack */
#removeit a:hover {
  color:#333;
  }

.removeit li:hover {
  background-position:0% -17px;
  color:#fff;
  }
.removeit li:hover a, .removeit li:hover a span {
  background-position:100% -17px;
}



/**** call out links (with arrow) **************/



.callout li {
	float:left;
	display:block;
  background:url("../imgs/series_left.png") no-repeat left top;
  margin-right: -5px;
  padding:0 3px 0 10px;
	line-height: 14px;
}

.callout a {
	float:left;
  display:block;
  background: url("../imgs/series_right.png") no-repeat right top;
  padding:0px 23px 3px 0px;
	line-height: 14px;
  text-decoration:none;
	font-size: 1.4em;
  color:#fff;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.callout a {float:none;}
/* End IE5-Mac hack */
#callout a:hover {
  color:#333;
  }

.callout li:hover {
  background-position:0% -17px;
  color:#fff;
  }
.callout li:hover a, .callout li:hover a span {
  background-position:100% -17px;
}






a.calloutlight  {
	float:left;
  display:block;
  background: url("../imgs/callout_light.png") no-repeat 0% 2px;
  padding:0px 0px 1px 20px;
	line-height: 14px;
  text-decoration:none;
	font-size: 1.2em;

}



a.calloutlight:hover {
  background-position:0% -12px;

  }


/**** Social links **************/

.social {
  float:left;
  margin-top: 35px;
  width: auto;
  }
.social ul {
  margin:0;
  padding:0;
  list-style:none;

	left: 0;
  }
.social li {
  float:left;
  background:url("../imgs/social_left.png") no-repeat left top;
  margin-right: 5px;
  margin-bottom: 5px;
  padding:0 0 0 9px;

  }
.social a {
  float:left;
  display:block;
  background:url("../imgs/social_right.png") no-repeat right top;
  padding:0px 9px 0px 0px;
	line-height: 22px;
  text-decoration:none;
	font-size: .7em;
  color:#a9a9a9;
  outline: none;
  }

.social a span {
	color: #2951a5;
}


.social li:hover, .header li:hover a {
  background-position:0% -23px;
  color:#fff;
  text-decoration:none;
  }
.social li:hover a, .social li:hover a span {
  background-position:100% -23px;
	color:#fff;
	text-decoration:none;
}

.sm_social .social {
	float: none; 
	font-size: .8em; 

	display: block;

	margin: -42px 0px 0 0;
}

.sm_social h3, .sm_social h3 a {
	float: left;
	width: 305px;
}


#pop_recent_cont .podcast_block, #tags_review_cont .podcast_block {margin-bottom: 20px; padding: 0;}


/**** Download button on episode pages **************/

#download_button a.download {
	display: block;
	float: left;
	background: url('../imgs/zonebar-navleft.png') center left no-repeat;
	color: #fff;
	white-space: nowrap;
	margin-right: -5px;
	padding: 5px 40px 0 8px;
	height: 36px;
	font-size: 1.1em;
	font-weight: bold;
}

#download_button a.download span {
	display: block;
	font-size: .9em;
	font-weight: normal;
	margin-top: -1px;
	font-style: italic;
}

#download_button a.opener {
	display: block;
	float: left;
	height: 21px;
  margin-top: 2px;
  padding: 15px 7px 0 8px;
	background: url('../imgs/zonebar-navright.png') top right no-repeat;
}
	
#download_button a.opener:hover {
	background: url('../imgs/zonebar-navright_o.png') 4px 0px no-repeat;
}

#download_container {
  position: relative;
  margin-top: 20px;
}

#download_dropdown {
	position: absolute;
  display: none;
	top: 36px;
	left: -3px;
	width: 250px;
	z-index: 9000000;
}

#download_dropdown .delivery_method {
	font-size: 1.2em;
}


#download_dropdown ul {
	margin-top: 20px;
}

#download_dropdown ul li {
	float: none;
	padding: 3px 0;
	height: auto;
}

#download_dropdown ul li p {
	float: left;
	margin: 0;
}

#download_dropdown ul li span {
	float: right;
  margin: 0;
}

#download_dropdown ul li  {
	display: block;
	padding: 3px 0;
	border-bottom: 1px dotted #ddd;
	overflow: hidden;
}

#download_dropdown ul li p {
	float: left;
}


/**** Standard tabs **************/


/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .tabs-nav {
        display: none;
    }
}

/* Skin */
.tabs {
  list-style: none;
  margin: 0;
  padding: 0 0 0 0px;
}

.tabs:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}

ul.tabs  {
  margin: 10px 0 -1px 20px;
  width: auto;overflow: hidden;
}

.tabs li {
  float: left;
  margin: 0px;
  min-width: 55px; /* be nice to Opera */
}

.tabs a, .tabs a h4 {
  display: block;
  padding: 0px 0px 0px 0px;
}

.tabs a h4 span {
	position: relative;
	top: -2px;
	left: -3px;
	font-size: .6em;
}

.tabs a {
  position: relative;
  top: 1px;
  z-index: 2;
  padding-left: 15px;
	padding-bottom: 0px;
	margin-right: 10px;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
  white-space: nowrap; /* required in IE 6 */    
}

.tabs .tabs-selected a {
	text-decoration: none;
	background: url('../imgs/tab_left.png') no-repeat;
}

.tabs .tabs-selected a, .tabs a:hover, .tabs a:focus, .tabs a:active {
	background-position: 0% 0px;
  outline: 0; /* prevent dotted border in Firefox */
}

.tabs .tabs-selected a h4 {

	color: #171717;
	margin-right: -20px;
	padding: 10px 40px 00px 0;
	background: url('../imgs/tab_right.png') no-repeat;
}


.tabs .tabs-selected a h4, .tabs a:hover h4, .tabs a:focus h4, .tabs a:active h4 {
  background-position: bottom right;
	text-decoration: none;
}

.tabs a h4 {
  width: 64px; /* IE 6 treats width as min-width */
  min-width: 64px;
  height: 18px; /* IE 6 treats height as min-height */
  min-height: 28px;
  padding: 10px 20px 0px 0px;
	color: #2951a5;
}
*>.tabs a h4 { /* hide from IE 6 */
  width: auto;
  height: auto;
}

.tabs .tabs-selected a:link, .tabs .tabs-selected a:visited, .tabs .tabs-disabled a:link, .tabs .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
  cursor: text;
}
.tabs a:hover, .tabs a:focus, .tabs a:active { /* @ Opera, we need to be explicit again here now... */
  cursor: pointer;
}

.new .tabs-cont .i3 {
	padding: 10px 10px 10px 10px;
}

a.truncate_more_link {
  outline: none;
}



.review .helpfulness {
	color: #a9a9a9;
	font-size: 1.2em;
	position: absolute;
	right: 128px;
	bottom: 18px;
}

.review div.social {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: auto;
	margin: 0;
	padding: 0;
  font-size: 1.4em;
}

#r_view {
	position: absolute;
	top: -40px;
	right: 0;
}

#r_view {
	text-align: right;
	margin-bottom: 10px;
}


#r_view .linkable {
	color: #171717;
	font-weight: bold;
}

#r_view .current {
	margin-right: 6px;
	margin-left: 40px;
}

#r_view span#first_linkable {
	margin-right: -40px;
}

#r_info p, #r_view p {
	font-size: 1.2em;
}

#r_info p span, #r_view p {
	color: #a9a9a9;
}

li.review .info {
  display: block;
	margin: -3px 0 3px 18px;
	font-size: 1.2em;
}

li.even {
  background: #ebebeb;
}


li.review {
	position: relative;
	border-bottom: dotted 1px #7b7b7b;
	display: block;
	padding: 20px 10px 40px 10px;
}

li.review:last-child {
  border: none;
}


li.review  .title {
	display: block;
	font-weight: bold;
	margin: 0;
	font-size: 1.4em;
}

li.review  .title a {
	font-size: 1.4em;
	text-decoration: none;
	color: #171717;
}

li.review p {
	font-size: 1.4em;
	margin: 0px 0 0 18px;
	display: block;
}

.reviews.list #review_login {
	min-height: 200px;
	margin: 20px 0 20px 0;
}

.reviews.list #review_doit {
	margin: 20px 0 20px 0;
}

.reviews.list #review_doit h4 {
	font-size: 1.6em;
}

.reviews.list #review_doit p {
	margin-top: 15px;
}

.reviews.list #review_doit h6 {
	font-size: 1.4em;
	margin-top: 1.5em;
}

.reviews.list #review_doit input.text {
	border: none;
	background: url('../imgs/input_heading.png') top left no-repeat;
	width: 343px;
	height: 28px;
	font-size: 1.4em;
	padding: 5px 5px 0 5px;
}

.reviews.list #review_doit .textarea {
	border: none;
	background: transparent url('../imgs/textarea.png') top left no-repeat;
	width: 400px;
	height: 128px;
	display: block;
	overflow: hidden;
}

.reviews.list #review_doit textarea {
  border: none;
  width: 393px;
	/*background: none;*/
	padding: 5px;
}

.reviews.list #review_doit button {
	margin: 15px 0 0 0px;
}


				



.googleads {
	overflow: hidden;
	width: 250px;
	float: right;
	margin: 20px 0;
}

.googleads iframe {
	margin-bottom: 20px;
}

#series_page_goog  {
	margin-top: 65px;
}

#profile_goog  {
	margin-top: 57px;
}





/* global */
#cluetip-close img {
  border: 0;
}
#cluetip-title {
  overflow: hidden;
}
#cluetip-title #cluetip-close {
  float: right;
  position: relative;
}
#cluetip-waitimage {
  width: 43px;
  height: 11px;
  position: absolute;
  background-image: url(../imgs/cluetip/wait.gif);
}
.cluetip-arrows {
  display: none;
  position: absolute;
  top: 0;
  left: -11px;
  height: 22px;
  width: 11px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
#cluetip-extra {
  display: none;
}
/***************************************
   =cluetipClass: 'default' 
-------------------------------------- */

.cluetip-default {
  background-color: #ccc;
  text-align: left;
  font-size: 1.2em;
  overflow: visible;
}

.cluetip-default p {
  overflow: auto;
    font-size: 1em;
}

.cluetip-default img {
  float: left;
  margin-right: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}
.cluetip-default #cluetip-outer {
  position: relative;
  margin: 0;
  background-color: #fff;
  border: 1px solid #a9a9a9;
}
.cluetip-default h3#cluetip-title {
  margin: 0 0 5px;
  padding: 8px 10px 4px;
  font-size: 1.1em;
  font-weight: normal;
  background-color: #2952a6;
  color: #fff;
}
.cluetip-default #cluetip-title a {
  color: #d9d9c2;
  font-size: 0.95em;
}  
.cluetip-default #cluetip-inner {
  padding: 10px;
}
.cluetip-default div#cluetip-close { 
  float: right;
  z-index: 90000000000000000000000000000000;
}

/* default arrows */

.clue-right-default .cluetip-arrows {
  background-image: url(../imgs/cluetip/darrowleft.gif);
  margin-left: 1px;
}
.clue-left-default .cluetip-arrows {
  background-image: url(../imgs/cluetip/darrowright.gif);
  left: 100%;
  margin-right: -11px;
}
.clue-top-default .cluetip-arrows {
  background-image: url(../imgs/cluetip/darrowdown.gif);
  top: 77%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}  
.clue-bottom-default .cluetip-arrows {
  background-image: url(../imgs/cluetip/darrowup.gif);
  top: -10px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}

/***************************************
   =cluetipClass: 'jtip'
-------------------------------------- */
.cluetip-jtip {
  background-color: transparent;
}
.cluetip-jtip #cluetip-outer {
  border: 2px solid #ccc;
  position: relative;
  background-color: #fff;
}

.cluetip-jtip h3#cluetip-title {
  margin: 0 0 5px;
  padding: 2px 5px;
  font-size: 16px;
  font-weight: normal;
  background-color: #ccc;
  color: #333;
}

.cluetip-jtip #cluetip-inner {
  padding: 0 5px 5px;
  display: inline-block;
}
.cluetip-jtip div#cluetip-close { 
  text-align: right;
  margin: 0 5px 5px;
  color: #900;
}

/* jtip arrows */

.clue-right-jtip .cluetip-arrows {
  background-image: url(../imgs/cluetip/arrowleft.gif);
}
.clue-left-jtip .cluetip-arrows {
  background-image: url(../imgs/cluetip/arrowright.gif);
  left: 100%;
  margin-right: -11px;
}
.clue-top-jtip .cluetip-arrows {
  background-image: url(../imgs/cluetip/arrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}  
.clue-bottom-jtip .cluetip-arrows {
  background-image: url(../imgs/cluetip/arrowup.gif);
  top: -11px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}

/***************************************
   =cluetipClass: 'rounded'
-------------------------------------- */

.cluetip-rounded {
  background: transparent url(../imgs/cluetip/bl.gif) no-repeat 0 100%;
  margin-top: 10px;
  margin-left: 12px;
}

.cluetip-rounded #cluetip-outer {
  background: transparent url(../imgs/cluetip/tl.gif) no-repeat 0 0;
  margin-top: -12px;
}

.cluetip-rounded #cluetip-title {
  background-color: transparent;
  padding: 12px 12px 0;
  margin: 0 -12px 0 0;
  position: relative;
}
.cluetip-rounded #cluetip-extra {
  position: absolute;
  display: block;
  background: transparent url(../imgs/cluetip/tr.gif) no-repeat 100% 0;
  top: 0;
  right: 0;
  width: 12px;
  height: 30px;
  margin: -12px -12px 0 0;
}
.cluetip-rounded #cluetip-inner {
  background: url(../imgs/cluetip/br.gif) no-repeat 100% 100%;
  padding: 5px 12px 12px;
  margin: -18px -12px 0 0;
  position: relative;
}

.cluetip-rounded div#cluetip-close { 
  text-align: right;
  margin: 0 5px 5px;
  color: #009;
  background: transparent;
}
.cluetip-rounded div#cluetip-close a {
  color: #777;
}

/* rounded arrows */

.clue-right-rounded .cluetip-arrows {
  background-image: url(../imgs/cluetip/rarrowleft.gif);
}
.clue-left-rounded .cluetip-arrows {
  background-image: url(../imgs/cluetip/rarrowright.gif);
  left: 100%;
  margin-left: 12px;
}
.clue-top-rounded .cluetip-arrows {
  background-image: url(../imgs/cluetip/rarrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}  
.clue-bottom-rounded .cluetip-arrows {
  background-image: url(../imgs/cluetip/rarrowup.gif);
  top: -23px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}



/* stupid IE6 HasLayout hack */
.cluetip-rounded #cluetip-title,
.cluetip-rounded #cluetip-inner {
  zoom: 1;
}


.cluetip_box {
  display: none;
}


