<section id="edit">
  <% if current_user == @user -%>
    This is me!
  <% elsif current_user.admin? -%>
    I can do anything!
  <% end -%>
  <%= link_to "Edit", edit_user_url(@user), :class => "edit", 
              :style => (editing?(@user) ? "display: none;" : "") %>

  <br />
  <% form_for @user, :html => {:style => "#{'display:none; ' unless editing?(@user)}"} do |user_form| -%>
    <%= render :partial => "users/form", :locals => {:user_form => user_form} -%>
  <% end -%>
</section>

