    <div class="field">
      <%= user_form.label :email, "Email" -%>
      <%= user_form.text_field :email, :class => "text" -%>
    </div>
    
    <div class="field">
      <%= user_form.check_box :_delete, :onchange => "if(!confirm('Are you SURE you want to delete #{current_user==@user ? 'your' : 'this'} account?')) this.checked = false;" %>
      <%= user_form.label :_delete, 'Delete account' %>
    </div>
