<div class="picture">
  <% link_to "" do -%>
    <span class="border"></span>
    <%= image_tag("icons/marseilles-astronomical/user_#{user.rank}_big.png", :class => "reflect") -%>
  <% end -%>
</div>
