<% if @user.new_record? -%>
  { success: false,
    html: "<p><%= escape_javascript create_user_error(@user) -%></p>" }
<% else -%>
  { success: true,
    html: "<%= escape_javascript link_to_profile(current_user) -%>" }
<% end -%>
