<% @title = "Favoriters" -%>
<% @full_width = true   -%>

<div class="page_head">
  <h1><%= pluralize(@users.count, "person has", "people have") -%> favorited <%= link_to @podcast.title, podcast_url(:podcast_slug => @podcast) -%></h1>
</div>

<div id="favoriters" class="main rounded_corners">
  <% rounded_corners do -%>
    <ul class="users">
      <%= render :partial => 'users/user', :collection => @users -%>
    </ul>
  <% end -%>
</div>

<%= google_ads -%>
