<% @title = "Favoriters" -%>
<% @full_width = true   -%>

<div class="page_head">
  <h1><%= pluralize(@users.count, "person has", "people have") -%> favorited <%= link_to @podcast.title, podcast_url(:podcast_slug => @podcast) -%></h1>
</div>

<% rounded_corner_tag(:id => "favoriters", :class => "main") do -%>
  <ul class="users">
    <%= render :partial => 'users/user', :collection => @users -%>
  </ul>
<% end -%>

<%= google_ads -%>
