<%- @title = "Forgot Password" -%>
<%- @full_width = true -%>
<div id="accounts_forgot_password" class="layout_signup clearfix">

  <div class="page_head">
    <h1>I forgot my password</h1>
  </div>

  <% form_tag send_password_url do -%>
    <div class="innerbox">
      <p class="instructions">
        Enter your email address you used in creating your account.
      </p>
      <div class="form_field">
        <div class="form_label"><label for="email">Email Address</label></div>
        <div class="form_input_wrapper"><%= text_field_tag 'email', @email, :size => 36, :class => 'form_input' -%></div>
      </div>
    </div>
    <div class="form_controls">
      <div class="form_control_submit">
        <%= submit_tag 'Begin Resetting My Password', :class => 'form_button' %>
      </div>
    </div>
  <% end -%>

</div>
