<div id="reset_password_form" class="layout_signup clearfix">
  <h2>Reset Your Password</h2>
  
  <% form_for :user, @user, :url => reset_password_url, :method => 'post' do |f| -%>
    <%= hidden_field_tag 'code', @code %>
    <div class="innerbox">
      <p class="instructions">
	Fill out the form below to finish resetting your password, and we'll get you back into your account.
      </p>
      <div class="form_field last">
	<div class="form_label"><label for="user_password">Password</label></div>
	<div class="form_input_wrapper"><%= f.password_field :password, :class => "form_input" -%></div>
      </div>
    </div>
    <div class="form_controls">
      <div class="form_control_submit">
	<%= submit_tag 'Reset My Password', :class => 'form_button' %>
      </div>
    </div>
  <% end -%>
</div>
