<div id="set_password_form" class="layout_signup clearfix">
  <h1 class="heading">Set Your Password</h1>
  
  <% form_for :user, @user, :url => set_password_url(:code => @code), :method => 'post' do |f| -%>
    <div class="innerbox">
      <p class="instructions">
        Fill out the form below to set your password, and we'll get you into your account.
      </p>
      <div class="form_field last">
        <div class="form_label"><label for="user_password">Password</label></div>
        <div class="form_input_wrapper"><%= f.password_field :password, :class => "form_input" -%></div>
      </div>
    </div>
    <div class="form_controls">
      <div class="form_control_submit">
        <%= submit_tag 'Set My Password', :class => 'form_button' %>
      </div>
    </div>
  <% end -%>
</div>
