<% episode = audio_player -%>

<div class="preview" style="margin: 0 0 14px 0">
  <object type="application/x-shockwave-flash" data="/flash/player.swf" width="290" height="24" id="audioplayer_<%= episode.id -%>">
    <param name="movie" value="/flash/player.swf" />
    <param name="FlashVars" value="soundFile=<%= episode.audio_source.url -%>&playerID=<%= episode.id -%>" />
    <param name="quality" value="high" />
    <param name="menu" value="false" />
    <param name="wmode" value="transparent" />
  </object>
</div>
