<form id="download" class="clearfix">
  <p>
    <label for="format">▾</label>
    <select name="format" id="format">
      <% @episode.sources.each do |source| -%>
      <option value="<%= [source.url, source.torrent.url, source.magnet_url].join('|') %>"><%= long_format source.format %></option>
      <% end -%>
    </select>
  </p>

  <p>
    <label for="delivery">▾</label>
    <select name="delivery" id="delivery">▾
      <option value="web">Web</option>
      <option value="torrent">Torrent</option>
      <option value="magnet">Magnet</option>
    </select>
  </p>

  <p class="submit">
    <%= link_to "Download", @episode.sources.first.url %>
    <input type="submit" value="download" />
  </p>
</form>
