<% episode = download -%>

<% episode.sources.each do |source| -%>
  <div class="download">
    <% link_to source.url, :class => 'icon' do -%>
      <span>Download</span> 
      <% if source.size -%>
        (<%= FileSize.new(source.size).to_s -%>)
      <% end -%>
    <% end -%>
  </div>
  
  <div class="limewire">
    <%= link_to "<span>Magnet</span>", source.magnet_url, :title => "Open the download with the LimeWire client so that it can use P2P to speed up the transfer" -%>
  </div>
<% end -%>
