<script type="text/javascript">
  PODCAST_ID = <%= @episode.podcast_id -%>;
</script>


<div id="download_button">
  <div id="dl_links">
    <a href="#" class="download">
      <h3>Download full version</h3>
      <p><span>Web | MP4 - HD</span></p>
    </a>
  </div>
  
  <a href="#" class="opener options">More download options</a>
  
  <% rounded_corner_tag(:id => "download_dropdown") do -%>
    <span class="delivery_method">
      <p>Choose your delivery method:</p>
      <input class="radio" id="w" name="download" type="radio" value="Web" checked="checked" /><label for="w">Web</label>
      <input class="radio" id="m" name="download" type="radio" value="LimeWire" /><label for="m">LimeWire</label>
    </span>
    <ul>
      <%= render :partial => "download_button_options", :collection => @episode.sources.group_by(&:format) -%>
    </ul>
  <% end -%>
  
</div>
