<div id="download" class="superbutton">
  <div>
    <a class="format" href="#" rel="formats">Format&nbsp;▾</a>
    <ul class="formats">
      <% @episode.sources.each_with_index do |source, i| -%>
      <li class="<%= 'selected' if i == 0 %>" rel="<%= [source.url, source.torrent.url, source.magnet_url].join('|') %>"><%= long_format(source.format) %></li>
      <% end -%>
    </ul>
  </div>

  <div>
    <a class="delivery" href="#" rel="deliveries">Delivery&nbsp;▾</a>
    <ul class="deliveries">
      <li rel="web" class="selected">Web</li>
      <li rel="torrent">Torrent</li>
      <li rel="magnet">Magnet</li>
    </ul>
  </div>

  <%= link_to "Download", @episode.sources.first.url, :target => "_blank", :class => "button" %>
</div>
