<script type="text/javascript">
  PODCAST_ID = <%= @episode.podcast_id -%>;
</script>

<div id="download">
  <a href="#" class="link"><strong>Download full version</strong><em>Web | MP4 - HD</em></a>
  <a href="#" class="options_link">More download options</a>

  <div id="download_options" class="web">
    <p>
      Choose your delivery method:<br />
      <input value="web" id="w" name="d" type="radio" checked="checked" /><label for="w">Web</label>
      <input value="magnet" id="m" name="d" type="radio" /><label for="m">LimeWire</label>
    </p>
    <ul>
      <%= render :partial => "download_button_options", :collection => @episode.sources.group_by(&:format) -%>
    </ul>
  </div>

  <%# rounded_corner_tag(:id => "download_dropdown") do -%>
  <%# end -%>
  
</div>
