<%- format, sources = *download_button_options -%>
<li>
  <%= podcasts_label_from_format(format) -%>
  <span>
    <% delimited_items(sources, "|") do |source, delimiter| -%>
      <%= link_to default_bitrate_label(source.bitrate.blank? ? podcast.bitrate : source.bitrate), 
            source.url,
            :class => "web_link",
            :title => [source.resolution, "bitrate: #{source.podcast.formatted_bitrate}"].compact.join(" | ") -%>
      <%= link_to default_bitrate_label(source.bitrate.blank? ? podcast.bitrate : source.bitrate), 
            source.magnet_url,
            :class => "magnet_link",
            :title => [source.resolution, "bitrate: #{source.podcast.formatted_bitrate}"].compact.join(" | ") -%>
      <%= delimiter -%>
    <% end %>
  </span>
</li>
