<table id="podcast_episodes" class="display">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Runtime</th>
      <th>Date released</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "episodes/episode", :collection => episodes -%>
  </tbody>
</table>


