<% if episode.sources.first %>
<tr>
  <td>
    <h3><%= link_to episode.title, episode_url(:podcast_slug => @podcast, :episode => episode), :rel =>  "div##{h dom_id(episode)}", :class => "tips"  -%></h3>
  </td>
  <td><%= sanitize_condensed_summary(episode.summary) -%></td>
  <td><%= time_to_words(episode.duration) -%></td>
  <td><%= episode.published_at.to_date -%></td>
</tr>
<% end %>
