<% width ||= 540 %>
<% height ||= "" %>

<figure class="media" width="<%= width %>">
  <% if source.video? -%>
    <%= content_tag :div, "",
                          :src => source.preview.url,
                          :class => "video",
                          :width => width,
                          :height => height,
                          :poster => source.screenshot.url,
                          :rel => h(source.episode.title),
                          :id => dom_id(source) %>
    <%#= video_tag [source.preview.url], 
                  :poster => source.screenshot.url, :width => width, 
                  :rel => h(source.episode.title),
                  :style => "display: none;",
                  :id => dom_id(source) %>
  <% elsif source.audio? -%>
    <%= content_tag :div, "",
                          :src => source.url,
                          :class => "audio",
                          :width => width,
                          :height => height,
                          :rel => h(source.episode.title),
                          :id => dom_id(source) %>
    <%#= audio_tag [source.url], 
                  :width => width, 
                  :autobuffer => true,
                  :style => "display: none;",
                  :rel => h(source.episode.title),
                  :id => dom_id(source) %>
  <% end -%>
  <div class="controls" style="display: none;">
    <% if source.video? -%>
    <button class="start">►<div>Preview</div></button>
    <% end -%>
    <button class="play">►</button>
    <button class="pause">||</button>
    <button class="mute">volume</button>
    <div class="volume">
      <button value="very-loud" class="selected">Very Loud</button>
      <button value="loud">Loud</button>
      <button value="medium">Medium</button>
      <button value="quiet">Quiet</button>
      <button value="very-quiet">Very Quiet</button>
    </div>
    <meter class="time"></meter>
    <div class="progress"><div>•</div></div> <!-- can't use the progress tag because IE can't traverse its insides; could we put the inner div outside of it somehow? //-->
  </div>
</figure>  
<br />
