<ul id="podcast_episodes">
  <%= render :partial => "episodes/episode", :collection => episodes -%>
  <li><h4><%= link_to "View&nbsp;All&nbsp;Episodes", podcast_episodes_url(@podcast) %></h4></li>
</ul>

<%= render :partial => "episodes/episode_cluetip", :collection => episodes %>
