<table id="podcast_episodes">
  <tbody>
    <%= render :partial => "episodes/episode", :collection => episodes -%>
  </tbody>
</table>

<%= render :partial => "episodes/episode_cluetip", :collection => episodes %>
