<div class="episode">
  <div class="title"><%= link_to episode.title, episode_url(episode) -%></div>
  <div class="podcast_title"><%= episode.podcast.title -%></div>
  <p class="description"><%=h episode.summary -%></p>
</div>