<% episode = info_line -%>

<li class="episode">
  <%= link_to episode.date_title, info_episode_url(episode.podcast, episode) -%> 
  <%= h(episode.title) -%> 
  (<%= time_to_words(episode.duration) -%>) 
  <%= (non_blank(truncate(sanitize_condensed_summary(episode.summary), 50))) -%>
</li>
