<form method="get" action="<%= sources.first.url if sources.first -%>" class="super_button download">
  <select class="item">
    <%= options_for_select(sources.map {|s| [super_button_delivery(s), s.url] }) -%>
  </select>
  
  <select class="delivery">
    <option value="direct">Web</option>
    <option value="magnet">Magnet</option>
  </select>

  <a class="super_button_button" href="<%= sources.first.url -%>">Download</a>
</form>
