<% options ||= {} -%>
<% episode = video_player -%>
<% source  = episode.sources.with_screenshot.with_preview.first -%>
<% attrs ||= {} %>
<% attrs.reverse_merge! :rel => source.preview.url, :alt => "#{episode.title} cover art", :class => "scale" if source -%>
<% javascript_include "video_preview" -%>

<%- if source -%>
  <div class="container">
    <%= image_tag(source.screenshot.url, attrs) -%>
  </div>
<%- else -%>
  <%= image_tag('/imgs/video_placeholder.png', :alt => "#{episode.title} cover art is missing", :width => 460) unless options[:hide_broken_previews] -%>
<%- end -%>
