<% if @podcast -%>
  <h2>Episodes for <%=h @podcast.title -%></h2>
<% else -%>
  <h2>All episodes</h2>
<% end -%>

<ul class="episodes">
  <%= render :partial => "episodes/episode", :collection => @episodes -%>
</ul>
<% reset_cycle('row_class') %>