<% @title = "#{h(@podcast.title)} Episodes" -%>
<% @show_ads = true -%>
<% @classes = %{episode index} -%>
<% javascript_include "jquery.media", "superbutton" -%>

<p><%= link_to h(@podcast.title), podcast_url(@podcast) %></p>

<section id="episodes">
  <h2>Episodes <span>(<%= @podcast.episodes.count -%>)</span></h2>

  <br />

  <ul>
    <%= render :partial => "episodes/episode", :collection => @episodes -%>
  </ul>
</section>