<% @title = "#{h(@podcast.custom_title)} Episodes" -%>
<% @show_ads = true -%>

<div class="podcast">

  <%= render :partial => 'podcasts/small_cover', :locals => { :url => podcast_url(@podcast) } -%>

  <% if @podcast -%>
    <h1 class="heading">Episodes for <%=h @podcast.custom_title -%><%= " that match '#@q'" if @q %></h1>
  <% else -%>
    <h1 class="heading">All episodes</h1>
  <% end -%>
  
  <ul class="episodes">
    <%= render :partial => "episodes/episode", :collection => @episodes -%>
  </ul>
</div>
<% reset_cycle('row_class') %>
