<% @title = "#{h(@podcast.title)} Episodes" -%>
<% @show_ads = true -%>
<% stylesheet_link "podcast_show" -%>
<% javascript_include "podcast" -%>

<h1><%= link_to h(@podcast.title), podcast_url(@podcast) %></h1>

<div id="podcast_content">
  
  <h2>Episodes<span>(<%= @podcast.episodes.count -%>)</span></h2>

  <div id="episode_list">
    <%= render :partial => 'episodes/episodes', :object => @episodes, :locals => {:podcast => @podcast} %>
  </div>

</div> <!-- /podcast_content -->

