<% @title = "#{h(@podcast.title)} Episodes" -%>
<% @show_ads = true -%>
<% javascript_include "podcast" -%>
<% @classes = %{episode index} -%>

<h1><%= link_to h(@podcast.title), podcast_url(@podcast) %></h1>

<section id="episodes">
  <h3>Episodes <span>(<%= @podcast.episodes.count -%>)</span></h3>

  <br />

  <ul>
    <%= render :partial => "episodes/episode", :collection => @episodes -%>
  </ul>
</section>