<% @classes = %{episode show} -%>

<%= render :partial => "summary" -%>

<div class="supplemental">
  <h2><a href="#">Episode reviews (38)</a></h2>
  <%= render :partial => 'reviews/reviews', :object => @episode.reviews -%>
</div>
