<% @classes = %{episode show} -%>

<%= render :partial => "summary" -%>

<div class="supplemental">
  <h2><a href="#">Episode reviews (38)</a></h2>
  <div id="s_reviews_wrap">
    <%= render :partial => 'reviews/reviews', :object => @episode.reviews, :locals => {:podcast => @podcast} %>
  </div><!-- /s_reviews_wrap -->
</div>
