<% podcast = description -%>
<% is_first ||= false -%>

<div class="description" <%= 'id="first_featured"' if is_first %>>

  <div class="s_desc">
    <h3><%= link_to podcast.title, podcast_url(:podcast_slug => podcast), :title => "Subscribe to the series & view the episode list" -%></h3>
    <p>
      <%= unescape_entities h(podcast.description) -%>
    </p>
    <%#= render :partial => "podcasts/social_favs", :locals => {:podcast => @podcast} -%>


  </div> <!-- /s_desc -->
</div> <!-- /description -->

