<% rounded_corner_tag(:id => "recent_episodes") do -%>
  <%- @recent_episodes.each do |ep| -%>
    <div class="podcast_block">
      <div class="preview">
        <%= display_episode_screenshot(ep) -%>
      </div>
      <div>
        <h3><%= link_to_episode(ep) -%></h3>
        <p class="details"><%= ep.published_at.to_date -%> - <%= time_to_words(ep.duration) -%></p>
      </div>
    </div>
  <%- end -%>
<% end -%> <!-- /rounded_corners -->

