<div id="recent_podcasts">
  <h2>Podcasts</h2>
  <ul class="podcasts">
    <%= render :partial => "podcasts/podcast", :collection => @podcasts -%>
  </ul>

  <p><%= link_to "All Podcasts", all_path -%></p>
</div>

<% reset_cycle('row_class') %>
