<% @classes = %{podcast new show} -%>
<% @full_width = true -%>


<script type="text/javascript">
    $(function() {
      var open = true;
      $('a.homeclose').click(function() {
        if(open){
         $(this).removeClass('homeclose');
         $(this).addClass('openarrow');
         $(this).text('Show intro');
          open = false;
        } else {
          $(this).removeClass('openarrow');
          $(this).addClass('homeclose');
          $(this).html('Hide intro');
          open = true;
        }
        $("#mission").toggle("blind", { direction: "vertical" }, 0300);
        return false;
      });
    });
</script>



<div class="summary">
  <div id="mission">
    <h1><span>Welcome to LimeCast, <a href="http://www.limewire.com" id="lw_link"><i>LimeWire's</i></a> new <a href="/popular" id="pop_link"><i>Podcast Directory</i></a>.</span></h1>
    <ul>
      <li>Join others in discovering new podcasts every day!</li>
      <li>We're open source, and building tools to let everyone <a href="http://wiki.limewire.org/index.php?title=LimeCast">get involved</a>.</li>
    </ul>
  </div>

  <div id="featured_cont">
    <div id="featured">
      <h2>Featured Podcasts</h2>

      <%= render :partial => "home/description", :object => (Podcast.find_by_clean_url("The-1UP-Show") || Podcast.all[0]), :locals => {:is_first => true} -%>
      <%= render :partial => "home/description", :object => (Podcast.find_by_clean_url("Diggnation") || Podcast.all[1]) -%>
    </div>
  </div>

  <div id="pop_recent_cont" class="tabify">
    <ul>
      <!-- <li><a href="#popular"><h4>Popular series</h4></a></li> -->
      <li><a href="#recent_epsiodes"><h4>Recent episodes</h4></a></li>
    </ul>

    <%#= render :partial => 'popular_series' -%>
    <%= render :partial => 'recent_episodes' -%>
  </div> <!-- /pop_recent_cont --> 

  <div id="tags_review_cont" class="tabify">
    <ul>
      <!-- <li><a href="#tags_hp"><h4>Polular tags</h4></a></li> -->
      <li><a href="#recent_reviews"><h4>Recent reviews</h4></a></li>
    </ul>

    <%#= render :partial => 'popular_tags' -%>
    <%= render :partial => 'recent_reviews' -%>
  </div> <!-- /pop_recent_cont -->

  <div id="hp_tower">
    <h3><a href="#">Want to broadcast your own show?</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
  </div>

  <div id="hp_open">
    <h3><a href="#">LimeCast is open source!</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
  </div>
</div>
