<% @classes = %{podcast new show} -%>
<% @full_width = true -%>


<script type="text/javascript">
 $().ready(function() {  
  $('.description>p').jTruncate({  
   length: 120, 
   moreText: "" 
  });  
 });
</script>

<script type="text/javascript">
    $(function() {
      var open = true;
      $('a.homeclose').click(function() {
        if(open){
         $(this).removeClass('homeclose');
         $(this).addClass('openarrow');
         $(this).text('Show intro');
          open = false;
        } else {
          $(this).removeClass('openarrow');
          $(this).addClass('homeclose');
          $(this).html('Hide intro');
          open = true;
        }
        $("#mission").toggle("blind", { direction: "vertical" }, 0300);
        return false;
      });
    });
</script>



<div class="summary">
  
  
  <div id="mission">
    <h1>Welcome to LimeCast, <a href="http://www.limewire.com">LimeWire's</a> new <a href="/popular">Podcast Directory</a>.</h1>
      <ul>
        <li>Join others to discover & share new podcasts every day!</li>
        <li>We're building software tools to let everyone <a href="#">get involved</a>.</li>
      </ul>
  </div>
  

  
  <div id="close_misson">
    <a href="#" class="homeclose">Hide intro</a>
  </div>
  
  
  <div id="featured_cont">
    <div id="featured">
      <h2>Delectable finds</h2>
    
      <%= render :partial => "home/description", :object => Podcast.find_by_clean_url("The-1UP-Show"), :locals => {:is_first => true} -%>
      <%= render :partial => "home/description", :object => Podcast.find_by_clean_url("Diggnation") -%>
    </div> <!-- /featured -->
  </div> <!-- /featured_cont -->
  
  <div id="pop_recent_cont" class="tabify">
    <ul>
      <!-- <li><a href="#popular"><h4>Popular series</h4></a></li> -->
      <li><a href="#recent_epsiodes"><h4>Recent episodes</h4></a></li>
    </ul>

    <%#= render :partial => 'popular_series' -%>
    <%= render :partial => 'recent_episodes' -%>
  </div> <!-- /pop_recent_cont --> 


  <div id="tags_review_cont" class="tabify">
    <ul>
      <!-- <li><a href="#tags_hp"><h4>Polular tags</h4></a></li> -->
      <li><a href="#recent_reviews"><h4>Recent reviews</h4></a></li>
    </ul>
  
    <%#= render :partial => 'popular_tags' -%>
    <%= render :partial => 'recent_reviews' -%>
  </div> <!-- /pop_recent_cont -->

  <div id="hp_tower">
    <h3><a href="#">Want to broadcast your own show?</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
  </div>

  <div id="hp_open">
    <h3><a href="#">LimeCast is open source!</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
  </div>
</div> <!-- /summary -->
