<% @title = "Privacy Policy" -%>

<h2>Privacy policy</h2>

<p>Lime Wire LLC ("Lime Wire") is the sole owner of the information collected at podcasts.limewire.com (the "Site"). We will not sell, share, or rent this information to others in ways different from what is disclosed in this statement. Lime Wire collects information from our users at several different points on our website. This privacy policy is intended to inform our customers of the types of personal information that we collect, how we use this information, as well as our disclosure to third parties and the measures we've implemented in order to ensure that your personally identifiable information is kept private.</p>

<h3>How Your Information Is Collected</h3>
<p>In order to differentiate your account from those of other users, Lime Wire collects identity-specific information upon registration. Such information may include your first and last name, and email address. In addition to account registration, we may collect your information via the following means:</p>

<ul class="list">
  <li>Registrations for Promotions, Contests, Special Offers or Programs</li>
  <li>Email newsletter sign-ups</li>
  <li>LimeWire Podcasts email requests</li>
  <li>LimeWire Podcasts survey responses</li>
</ul>

<h3>Information Disclosure</h3>
<p>There are certain cases where Lime Wire may make your information available to third parties:</p>

<ul class="list">
  <li>If and when the user requests information on third party products, goods or services displayed on the Site</li>
  <li>If Lime Wire has outsourced operational services (these companies are contractually obligated to keep your information private without the authorization of Lime Wire)</li>
  <li>If and when using co-branded services, the user gives permission to Lime Wire to pass submitted information to our marketing partner. The user's submitted information is then subject to the partner's privacy policy</li>
  <li>Trusted third parties who partner with Lime Wire for promotional purposes</li>
  <li>Content which you publicly post on our site (such as reviews, comments, playlists and feedback)</li>
  <li>In the event that Lime Wire is legally compelled to do so by a governmental agency, court, or other legal entity</li>
  <li>If you have notified Lime Wire of alleged copyright infringement and consequently seek or sought a takedown or removal of content from the Site</li>
  <li>If Lime Wire files for bankruptcy, merges, is acquired, or joins together with another business.</li>
</ul>

<h3>Cookies</h3>
<p>A cookie is a piece of data stored on the user's hard drive containing information about the user. Lime Wire currently uses cookies on the Site. Their use will in no way be linked to any personally identifiable information while on our site.</p>

<h3>Log Files and IP addresses</h3>
<p>We use IP addresses to analyze trends, administer the site, track users on our website, and gather broad demographic information for aggregate use in order to approve our site and user experience. IP addresses are not linked by Lime Wire to personally identifiable information. However, users should be aware that both static and dynamic IP addresses can be mapped back to users on most ISPs based on the users login time and recorded information.</p>

<h3>Sharing</h3>
<p>We will share aggregated demographic information with our partners and advertisers. This is not linked to any personal information that can identify any individual person.</p>
<p>We may partner with another party to provide specific services. When the user signs up for these services, we will share names, or other contact information that is necessary for the third party to provide these services. These parties are not allowed to use personally identifiable information except for the purpose of providing these services.</p>

<h3>Feedback</h3>
<p>The Site enables users to leave feedback, comments and critiques on our site via comments, message boards, forums, chat rooms and message areas. All information posted and/or sent to Lime Wire will be collected and stored. This information gathered by Lime Wire is intended to better our user experience with regard to customer support, troubleshooting, disputes, and as otherwise permitted by law. In regards to our public forums, we encourage users to share their thoughts and ideas; however, Lime Wire reserves the right to terminate access to our site if users do not obey by rules set forth in our <a href="/use">Terms of Use</a>.</p>

<h3>Parental Concerns - Privacy of Children</h3>
<p>Users must be at least 13 years of age to register for and use the Site. By registering at the Site and thereby accepting our Terms of Use, you declare that you are of the appropriate age to use our services. At this time, Lime Wire does not collect age-specific data beyond this declaration of minimum age.</p>

<h3>Links</h3>
<p>This Site contains and generates links to other sites and IP addresses. Please be aware that Lime Wire is not responsible for the privacy practices of any other sites. We encourage our users to be aware when they leave our site or link to outside IP addresses and to read the privacy statements of each and every website and IP address that collects personally identifiable information. This privacy statement applies solely to information collected by Lime Wire.</p>

<h3>Notification of Changes</h3>
<p>If we decide to change our privacy policy, we will post those changes on our Site so our users are always aware of what information we collect, how we use it, and under circumstances, if any, we disclose it. If at any point we decide to use personally identifiable information in a manner different from that stated at the time it was collected, we will notify registered users by way of an e-mail or instant messaging or similar method, and/or by posting a notice on our website.</p>

<h3>Contact Us</h3>
<p>If you have questions or comments regarding the LimeWire Podcasts Privacy Policy please contact us at <a href="mailto:podcasts@limewire.com">podcasts@limewire.com</a> with the subject heading "LimeWire Podcasts Privacy Policy". </p>
