<% @title = "Usage Stats" -%>

<h1 class="heading">Usage stats</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Users</th>
      <th>Podcasts</th>
    </tr>
  </thead>
  <tbody>
    <% @dates.each_with_index do |date, i| -%>
      <tr>
        <td><%= date -%></td>
        <td><%= @user_stats[i] -%></td>
        <td><%= @podcast_stats[i] -%></td>
      </tr>
    <% end -%>
  </tbody>
</table>
