<% tags = tags_with_new_form -%>

<h6>Tags:</h6>
<ul id="podcast_tags" class="tags">
  <%= comma_separated_list_items(tags.map {|tag| link_to_tag(tag) } + 
        [render(:partial => 'tags/new', :locals => {:podcast => @podcast})]) -%>
</ul>

<%= render :partial => "podcasts/edit_tags", :locals => {:podcast => @podcast} if current_user && (@podcast.taggers.include?(current_user) || @podcast.editors.include?(current_user)) -%>
