<% @title = h(@tag.name) -%>

<h1><%= h @tag.name -%></h1>

<div id="podcasts">
<% @tag.taggings.each do |tagging| -%>
  <% podcast = tagging.taggable -%>
  <%= render :partial => 'podcasts/podcast', :object => podcast -%>
<% end -%>
</div>
