<% @title = "Podcasts Tagged '#{h(@tag.name)}'" -%>
<% @classes = %{podcast index} -%>

<section id="podcasts">
  <h1><%= h(@tag.name) %></h1>
  
  <br />
  <ul>
    <%= render :partial => 'podcasts/podcast', :collection => @podcasts -%>
  </ul>
</section>

