<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>

<p>
  <b>Position:</b>
  <%=h @category.position %>
</p>


<%= link_to 'Edit', edit_admin_category_path(@category) %> |
<%= link_to 'Back', admin_categories_path %>
