<% options ||= {} -%>
<% javascript_include "review_new" -%>

<% form_for @review, :url => reviews_url,
            :html => { :id => "new_review" } do |f| -%>
  <%= render :partial => "reviews/form", :locals => {:options => options, :f => f, :podcast => @review.episode.podcast} %>
<% end -%>

<div class="quick_signin_container after_adding_review"></div>
