<%- review = helpfulness -%>

<div class="helpfulness">Did you find this review helpful?</div>
<div class="social">
  <ul>
    <li><%= link_to "<span>Yes</span> (#{review.insightful})", rate_review_url(:podcast_slug => review.episode.podcast.to_param, :id => review, :rating => 'insightful'), :class => 'rate insightful login' -%></li>
    <li><%= link_to "<span>No</span> (#{review.not_insightful})", rate_review_url(:podcast_slug => review.episode.podcast.to_param, :id => review, :rating => 'not_insightful'), :class => 'rate not_insightful login' -%></li>
  </ul>
  <a href="#" class="cluetip_helpfulness_link" onclick="return false;" rel="#login_pop" style="visibility: hidden;"><!-- //--></a>
</div>
