<% @title = "#{h(@podcast.custom_title)} Reviews" -%>
<% @show_ads = true -%>
<% javascript_include "review_edit", "review_delete", "search_term_context" -%>

<div class="podcast">
  <%= render :partial => 'podcasts/small_cover', :locals => {:url => podcast_url(@podcast)} -%>

  <h2><%= @q ? "Reviews that match '#{h @q}'" : "#{h @filter.capitalize} reviews for #{h @podcast.custom_title}" %></h2>

  <% if @reviews.blank? -%>
    <p>There are no <%=h @filter -%> reviews.</p>
  <% else -%>
    <ul class="reviews">
      <%= render :partial => 'reviews/review', :collection => @reviews -%>
    </ul>
  <% end -%>
</div>
