<h1>Podcasts</h1>

<table>
<% @podcasts.each do |p| %>
  <tr>
    <td>
      <%= link_to p.title, podcast_url(:podcast_slug => p) %>
    </td>
    <td><%= link_to "blacklist", admin_blacklist_podcast_url(:podcast_slug => p) %></td>
  </tr>
<% end %>
</table>
