<h1>Podcasts</h1>

<table>
<% @podcasts.each do |p| %>
  <tr>
    <td><%= link_to p.title, podcast_url(:podcast_slug => p) %></td>
    <% if p.approved? %>
      <td>approved</td>
    <% else %>
      <td><%= link_to "approve", admin_approve_podcast_url(p) %></td>
    <% end %>
  </tr>
<% end %>
</table>
