<h1>Listing podcasts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Approved</th>
  </tr>

<% @podcasts.each do |p| %>
  <tr>
    <td><%=h p.title %></td>
    <% if p.approved? %>
      <td>approved</td>
    <% else %>
      <td><%= link_to "approve", admin_approve_podcast_url(p) %></td>
    <% end %>
  </tr>
<% end %>
</table>
