<div id="download_options">
  <p>Choose download format (2 Steps):</p>
  <form action="http://limecast.com/search" method="get" id="dl_option">            
    <strong>1.</strong>
    <input class="text search" id="w" name="q" size="15" type="radio" /><label for="w">Web</label>
    <input class="text search" id="m" name="q" size="15" type="radio" /><label for="m">Magnet</label>
    <strong>2.</strong>
    <%= dropdown [["Flash (small)","flash-small"], ["Flash (large)", "flash-large"]], nil, {} %>
  </form>
  <ul class="help_or_hide">
    <li><a href="#">help</a> | </li>
    <li><a href="#">hide</a></li>
  </ul>
</div>
