<div id="download_options">
  <p>Choose download format (2 Steps):</p>
  <form action="http://limecast.com/search" method="get" id="dl_option">            
    <strong>1.</strong>
    <input class="text search" id="w" name="q" size="15" type="radio" /><label for="w">Web</label>
    <input class="text search" id="m" name="q" size="15" type="radio" /><label for="m">Magnet</label>
    <strong>2.</strong>
    <%#= render :partial => "layouts/dropdown", :locals => {:items => [["Most recent","recent"], ["First to last","oldest"]], :selected_item => "oldest"} -%>
    <a href="#" class="options">Flash (small)</a>
  </form>
  <ul>
    <li><a href="#">help</a> | </li>
    <li><a href="#">hide</a></li>
  </ul>
</div>
