<div id="edit_actions" class="clearfix">
  <% if current_user.admin? && !@podcast.user_is_finder?(current_user) && !@podcast.user_is_owner?(current_user) -%>
    <span class="label">I can do anything!</span>
  <% else -%>
    <span class="label">This is mine!</span>
  <% end -%>

  <%= link_to_with_icon "Edit", :edit, edit_podcast_url(@podcast), :id => "edit_link" %>
  
  <% limecast_form_for @podcast do |podcast_form| -%>
    <%= render :partial => "podcasts/form", :locals => {:podcast_form => podcast_form} -%>
  <% end -%>
</div>
