<% if podcast.favorite_of?(current_user) -%>
  <div class="removeit"><ul><li><%= link_to_remove_favorite(podcast) -%></li></ul></div>
<% else -%>
  <% if podcast.favorite_of?(current_user) -%>
    <%= link_to_favorites_page(current_user) %>
  <% elsif !podcast.favorite_of?(current_user) -%>
    <div class="addit"><ul><li><%= link_to_add_favorite(podcast) -%></li></ul></div>
    <div class="quick_signin_container after_favoriting"></div>
  <% end -%>
<% end -%>

