<div class="podcast" id="<%= dom_id(podcast) -%>">
  <%= link_to image_tag(podcast.logo.url(:square)), podcast_url(podcast) -%>
  <div class="title"><%= link_to podcast.title, podcast_url(podcast) -%></div>
</div>
