  <div class="cover">
    <% link_to cover_url(@podcast) do -%>
      <span class="border"></span>
      <%= image_tag(@podcast.logo.url(:small), :class => 'reflect rheight30 ropacity15') -%>
    <% end -%>
  </div>
