<div class="social">
  <ul>
    <li><%= link_to "<span>#{podcast.favoriters.count}</span>", favoriters_url(:podcast_slug => podcast) -%></li>
    <li><a href="#"><span><%= podcast.favoriters.count -%></span></a></li>
  </ul>
</div>
