<%- show_finder          = true if show_finder.nil? -%>
<%- show_owner           = true if show_owner.nil? -%>
<%- show_remove_favorite = true if show_remove_favorite.nil? -%>

<div class="social">
  <ul>
  <%- if show_finder && podcast.found_by -%>
    <li><%= link_to "First found by <span>#{podcast.found_by.login}</span>", user_url(podcast.found_by) -%></li>
  <%- end -%>

  <%- if show_owner && podcast.owned_by -%>
    <li><%= link_to "Owned by <span>#{podcast.owned_by.login}</span>", user_url(podcast.owned_by) -%></li>
  <%- end -%>

    <li><a href="#">Marked as favorite by <span><%= pluralize(podcast.favorites.count, "person") -%></span></a></li>
    
  </ul>
</div>

<% if show_remove_favorite && podcast.is_favorite_of?(current_user) -%>
  <div class="removeit"><ul><li><%= link_to 'Remove from favorites', favorite_podcast_url(:podcast_slug => podcast.clean_url) -%></li></ul></div>
<% end -%>
  


