<%- show_finder = true if show_finder.nil? -%>
<%- show_owner  = true if show_owner.nil? -%>

<div class="social">
  <ul>
    <%- if show_finder && podcast.found_by -%>
      <li><%= link_to_found_by(podcast) -%></li>
    <%- end -%>
    <%- if show_owner && podcast.owned_by -%>
      <li><%= link_to_made_by(podcast) -%></li>
    <%- end -%>
    <li><%= link_to "Favorited by <span>#{pluralize(podcast.favoriters.count, "person")}</span>", favoriters_url(:podcast_slug => podcast) -%></li>
  </ul>
</div>

