<div class="status_message finished">
  <% if @feed.error == "RPodcast::InvalidXMLError" -%>
    That's not an RSS feed.
  <% elsif @feed.error == "RPodcast::NoEnclosureError" -%>
    That's a text RSS feed, not an audio or video podcast.
  <% elsif @feed.error == "Feed::InvalidAddressException" -%>
    That's not a web address.
  <% elsif @feed.error == "Feed::BannedFeedException" -%>
    I can't take feeds from that site!
  <% elsif %w(SocketError Timeout::Error Errno::ENETUNREACH OpenURI::HTTPError).include?(@feed.error) -%>
    Not found.
  <% else -%>
    Weird server error. (<%= @feed.error -%>)
  <% end -%>

  <span class="arrow_down">Try again</span>
</div>
