
<%- if type == "rss" -%>
<span class="delivery_method">
  Choose how you would like for it to be delivered:
  <input class="radio" id="w" name="download" type="radio" value="Web" checked="checked" /><label for="w">Web</label>
  <input class="radio" id="t" name="download" type="radio" value="Torrent" /><label for="t">Torrent</label>
  <input class="radio" id="m" name="download" type="radio" value="Magnet" /><label for="m">Magnet</label>
</span>
<% end %>

<ul class="v_options_list">
  <li>
    <p><%= podcasts_label_from_format(podcast.format) %></p>
    <span class="v_options">
      <% delimited_items([podcast], "|") do |podcast, delimiter| -%>
        <%= link_to_podcast_size podcast, type, &url -%>
        <% delimiter -%>
      <% end -%>
    </span>
  </li>
</ul>

