<div id="view_options">
  <p>
    View:
    <a href="#"><img src="imgs/columns_on.png" alt="Columns view" /></a>
    <a href="#"><img src="imgs/grid_off.png" alt="Grid view" /></a>
  </p>
  <p class="per_page">
    <% delimited_items([5, 10, 20, 50]) do |count, comma| -%>
      <%= link_to count, {:limit => count}, :class => ((params[:limit] || 5).to_i == count) ? "pp_current" : nil -%><%= comma -%>
    <% end -%>
    per page
  </p>
  <div id="sort">
		<p>Sort by: <%= dropdown([ link_to("Most recent", :order => "asc"), link_to("First to last", :order => "desc")], {"desc" => 1, "asc" => 0}[params[:order]]) %></p>
  </div>
</div>

