<% @title = h(@podcast.title) -%>
<% @no_ads = true -%>
<% @classes = %{podcast show} -%>

<p><%= link_to h(@podcast.title), podcast_url(@podcast) %></p>

<br />

<section>
  <%= image_tag @podcast.logo(:original) %>
</section>