<% form_for(@podcast) do |f| %>
<fieldset style="width: 700px">
  <%= f.error_messages %>

  <% if @podcast.logo_link -%>
    <div style="float: right;">
      <%= image_tag @podcast.logo_link, :style => 'width: 300px; height: 300px;' -%>
    </div>
  <% end -%>

  <%= render :partial => 'form', :locals => {:f => f} -%>

  <p>
    <%= f.submit "Create" %>
  </p>
</fieldset>
<% end %>
