<% @title = "Popular Podcasts" -%>
<% @full_width = true -%>
<% @classes = %{podcast index} -%>
<div class="summary">

    <h1>All podcasts</h1>
    
    <div class="main rounded_corners">
      <ul id="all_podcasts">
        <% @podcasts.each do |podcast| -%>
          <li id="<%=h dom_id(podcast) -%>" class="podcast">
            <%= image_tag podcast.logo.url(:icon) %> <%= link_to podcast.title, podcast_url(:podcast_slug => podcast) -%>
          </li>
        <% end -%>
      </ul>
    </div>

  </div>
  
</div>

<%= google_ads -%>
