<% @title = "All Podcasts" -%>
<% @no_ads = true -%>
<% @classes = %{podcast index} -%>

<section id="podcasts">
  <h2>All podcasts</h2>
  
  <ul>
    <%= render :partial => 'podcasts/podcast', :collection => @podcasts -%>
  </ul>
</section>
