<% @title = "All Podcasts" -%>
<% @no_ads = true -%>
<% @classes = %{podcast index} -%>

<section class="popular">
  <h2>All podcasts</h2>
  
  <ul>
    <% @podcasts.each do |podcast| -%>
      <li id="<%=h dom_id(podcast) -%>" class="podcast">
        <%= image_tag podcast.logo.url(:icon) %> <%= link_to podcast.title, podcast_url(:podcast_slug => podcast) -%>
      </li>
    <% end -%>
  </ul>
</section>
