<% @title = "All Podcasts" -%>
<% @full_width = true -%>

<h1>All Podcasts</h1>
<div class="multicolumn">
  <ul class="podcasts">
    <%= render :partial => 'podcasts/podcast', :collection => @podcasts -%>
  </ul>
</div>

<% reset_cycle('row_class') %>
