<% @title = "Add Podcast" -%>

<h2>Feed me</h2>
<p>Know the address of a podcast? Add it to LimeCast:</p>

<div id="added_podcast_list"></div>

<div id="status"></div>

<% remote_form_for @new_podcast, :success => 'new Lime.Widgets.Add.Podcast()',
                                 :failure => 'new Lime.Widgets.Add.Podcast()' do |f| -%>
  <div class="field huge">
    <%= f.label "Feed" -%>
    <div>
      <%= f.text_field :feed_url, :class => 'text' -%>
      <%= submit_tag "Add", :class => 'button' -%>
    </div>
  </div>
<% end -%>

<div id="form_clone" style="display:none">
  <form>
    <div class="field huge">
      <label for="podcast_feed_url">Feed</label>
      <div>
	<input type='text' class="text" value="CHANGE" disabled style="background: #222" />
	<input type='submit' value="Add" class="button" disabled  style="background: #666" />
      </div>
    </div>
  </form>
</div>

<% if !logged_in? -%>
  <%= render :partial => 'users/quick_signin', :locals => {:options => {:name => "inline_signin"}} -%>
<% end -%>
