<h1>Feed Me</h1>
<p>Paste the URL of a podcast RSS feed here.</p>

<% form_for @new_podcast do |f| -%>
  <p>
    <%= f.label "feed" -%><br />
    <%= f.text_field :feed -%>
    <%= submit_tag "Get Feed" -%>
  </p>
<% end -%>

<% if @podcast -%>
  <p>Added the podcast.</p>
<% end -%>

<% if !logged_in? -%>
  <p>Take credit for these podcasts by <% link_to "registering", new_user_url -%>.</p>
<% end -%>
