<h1>New podcast</h1>

<% form_remote_tag(:url => feed_info_podcasts_path, :update => 'form_placeholder') do -%>
  <p>
    <%= label_tag "feed" -%><br />
    <%= text_field_tag :feed -%>
    <%= submit_tag "Get Feed" -%>
  </p>
<% end -%>

<div id="form_placeholder"></div>


<%= link_to 'Back', podcasts_path %>
