<% @title = "Add Podcast" -%>
<% javascript_include "podcasts_new" -%>
<% @classes = %{podcast new} -%>
<% @no_ads = true -%>

<h1>Add new podcasts to LimeCast</h1>


<section>
  <p>
    Know the address of a podcast <abbr title="Really Simple Syndication">RSS</abbr> feed? 
    Add it to LimeCast:
  </p>

  <br />
  
  <ul id="added_podcast_list"></ul>

  <form method="post" id="new_podcast" action="/podcasts">
    <label for="podcast_url" style="display: none;">http://example.com/rss.xml</label>
    <input type="text" id="podcast_url" name="podcast[url]" />
    <button type="submit">Feed me!</button>
  </form>

  <form id="added_podcast" class="added_podcast" style="display: none;">
    <input type="text" readonly="readonly" />
    <button type="submit" disabled="disabled" readonly="readonly" >Feed me!</button>
    <p class="status"><%= render :partial => 'podcasts/status_loading' -%></p>
  </form>
</div>
