<% @title = "Popular Podcasts" -%>
<% @classes = %{podcast popular} -%>

<h1>Popular podcasts</h1>

<br />

<section id="podcasts">
  <%= paginate_podcasts(@podcasts) -%>
  <ul>
    <%= render :partial => 'podcasts/podcast', :collection => @podcasts -%>
  </ul>
  <%= paginate_podcasts(@podcasts) -%>
</section>
