<% first_label, first_data = *items[0] %>
<% default_selected_item = first_data || first_label %>
<% selected_item ||= default_selected_item %>
<div class="dropdown">
  <a href="#"></a>
  <div class="rounded_corners">
    <% rounded_corners do -%>
    <ul>
      <% items.each do |i| -%>
        <% label, data = *i-%>
        <li <%= 'class="selected"' if (data || label) == selected_item -%>>
          <%= link_to label, "#" -%>
          <span><%= data -%></span>
        </li>
      <% end -%>
    </ul>
    <% end -%>
  </div>
</div>
