<% form_for obj, :html => {:class => "limecast_form clearfix", :style => "display: none"} do -%>
  <div class="top"><!-- //--></div>

  <div class="middle">
    <%= yield %>
  </div>

  <div class="bottom controls">
    <%= submit_tag "Save", :class => "button" -%>
    <%= submit_tag "Cancel", :class => 'button cancel' -%>
    <%= link_to_with_icon "Delete", :delete, "/podcasts/#{@podcast.id}", :method => 'delete', :confirm => "Are you SURE you want to delete this podcast? It will be removed from this directory!" %>
  </div>
<% end -%>