<div class="limecast_form clearfix" style="display: none;">

  <div class="top">
    <!-- //-->
  </div>

  <div class="middle">
    <%= yield %>
  </div>

  <div class="bottom">
  <!--
    <%= submit_tag "Save", :class => "button" -%>
    <%= submit_tag "Cancel", :class => 'button cancel' -%>
  //-->
  </div>

</div>
