<% if current_user %>
  <div>
    <strong><%= link_to_profile current_user -%></strong> |
    <%= link_to_with_icon "Sign out", :signout, session_url, :method => 'delete' %>
  </div>
<% else %>
  <div class="signin">
    <%= link_to "Sign up!", :signup %> |
    <%= link_to "Sign in", new_session_url, :class => 'login', :rel => "#login_pop" -%>
  </div>
<% end -%>
