<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Info</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  
  <%= javascript_include_tag 'jquery', 'info-pages' -%>
  
  <style type="text/css">
    body {
      font-family: Verdana,Arial,sans-serif;
      font-size: 11px;
      color: #333;
    }
    code {
      font-family: Verdana, Arial,sans-serif;
    }
    dfn {
      font-family: Courier, monospace;
      color: #000;
      font-weight: bold;
    }
    pre.formatted-xml {
      white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
      white-space: -pre-wrap; /* Opera 4 - 6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
      word-wrap: break-word; /* IE 5.5+ */
      padding: 10px;
      border: 1px solid #CCC;
    }
    td, th{
      padding: 0 20px 0 0;
      text-align: left;
      vertical-align: top;
      font-weight: normal;
    }
    table.feeds th {
      font-style: italic;
    }
    td.key {
      text-align: right;
    }
    td.extra { 
      padding: 0;
    }
  
    h2, h3 {
      font-size: 1em;
      font-weight: bold;
    }
  
    table {
      border: 1px solid #CCC;
      padding: 5px;
      margin-bottom: 1em;
    }
    span.unknown {
      color: red;
    }
    .usage {
      border: solid 1px #CCC;
      padding: 5px;
      margin-bottom: 10px;
    }
    .usage p {
      margin-left: 25px;
    }
    .usage table {
      margin-left: 25px;
      border-width: 0;
    }
    .usage table th {
      text-align: right !important;
    }
    .usage table td,
    .usage table th {
      height: 20px;
      vertical-align: bottom;
    }
  
    a:hover { color: #489CD0; }
    a:visited { color: #605CA8; }
    a:link { color: #3A7DA7; }
  </style>
</head>
<body>
<%= yield -%>
</body>
</html>
